body {
	font-family: Helvetica;
	background: #eee;
}

.container {
	margin: 60px auto;
	max-width: 930px;
	padding: 10px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	background-color: #fff;
}

#videoContainer {
	width: 100%;
	height: 430px;
	border: 1px solid #ccc;
	background: #69C4CB;
	background-color:#69C4CB ;
}

#error {
	border: 4px solid red;
	display: none;
	width: 50%;
	padding: 14px;
}

#error h1 {
	margin: 0;
}

.rtcc-videobox {
	width: 100% !important;
	height: 100% !important;
}

.lbl-status {
	display: inline !important;
	font-size: 13px !important;
	text-transform: uppercase;
	font-weight: bold;
}

.online {
	color: rgb(54, 160, 54) !important;
}

.offline {
	color: red !important;	
}

.container label.inline, ul.inline-list {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	color: #000 !important;
}

.padding-left-0 {
	padding-left: 0 !important;
}

.padding-right-0 {
	padding-right: 0 !important;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.font-bold {
	font-weight: bold;
}

.align-call-btn {
	position: relative;
	top: -14px;
}

.margin-left-0 {
	margin-left: 0 !important;
}

.italic {
	font-style: italic;
}

.refresh-btn:hover{
	opacity:0.8;
}

#refreshStatuslabel{	
	position: absolute;
	left: 50%;
	margin-left: -52px;
	color: green !important;
}

.top-124{
    top:124px;
    left: 47%;
}

.text-black{
    color: #333 !important;
}