.footer{
    position: absolute;
    bottom: 0;
}

.dashboard-container{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.c-dashboard-item{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
    min-height: 290px;
    box-shadow: 0 8px 8px -6px #aaa;
    border-radius: 4px;
}

.c-dashboard-item-scrollable{
    max-height: 206px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
}

.c-dashboard-item-scrollable ul{
    padding-top: 0 !important;
}

.c-dashboard-item h4{
    font-size: 13px;
    padding: 5px;
    margin-top: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-image: -ms-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
    background-image: -moz-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
    background-image: -o-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #53B6BD), color-stop(1, #69C4CB));
    background-image: -webkit-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
    background-image: linear-gradient(to top, #53B6BD 0%, #69C4CB 100%);
}

.c-dashboard-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    opacity: 0.6;
}

.c-dashboard-loading label{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    color: #799c25;
    font-size: 18px;
    min-width: 100px;
}

.c-dashboard-item ul li{
    margin: 0;
    border-bottom: 1px solid #eee;
}

.c-dashboard-item ul li a{
    color: #444 !important;
}

.c-dashboard-item ul li a:hover{
    color: #69C4CB !important;
    background-color: #f4f4f4 !important;
}

.c-dashboard-item ul li:nth-child(even){
    background-color: #f9f9f9;
}

.more{
    display: none;
    font-size: 13px;
    color: #444;
    padding-left: 14px;
}

.more a{
    text-decoration: underline !important;
}

.c-dashboard-list-header{
    padding: 0;
    margin: 0;
    display: none;
}

.c-dashboard-list-header li{
    background-color: #fff !important;
}

.c-dashboard-list-header a div{
    color: #444;
    font-weight: bold;
}

.c-dashboard-list-header a:hover{
    background-color: #fff !important;
    cursor: default;
}

.message-bubble{
    background-color: rgb(236, 149, 36);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.white-bordered-btn{
    padding: 8px !important;
}

.white-bordered-btn img{
    padding-right: 3px;
}