.refresh-linkbody {
	font-size: 14px;
	background: #f2f2f2;
	background-color: #f2f2f2;
	overflow-x: hidden;
	font-family: arial;
}

.width-10-center-align{
	width: 10%;
	text-align: center;
}

.width-10-right-align{
	width: 10%;
	text-align: right !important;
}

.width-8-center-align{
	width: 8%;
	text-align: center;
}
		
/*
background-color: #eee;
background: url("/images/background/light_toast.png") repeat scroll 0% 0% transparent;
*/
.main-page {
	margin: 0 auto;
	top: 20px;
	background-color: #fff !important;
	border-radius: 5px;
	position: relative;
	/*border: 1px solid #ccc;*/
	box-shadow: 0px 0px 5px #ccc;
	padding: 10px;
}

.width-450 {
	min-width: 250px;
	max-width: 450px;
}

.width-500 {
	min-width: 250px;
	max-width: 500px;
}

.width-550 {
	min-width: 250px;
	max-width: 550px;
}

.align-center {
	text-align: center;
}

.padding-20 {
	padding: 20px;
}

.padding-10 {
	padding: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.padding-left-0 {
	padding-left: 0 !important;
}

.padding-right-0 {
	padding-right: 0 !important;
}

.top-20 {
	top: 5%;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-10 {
	margin: 5px;
}

.margin-right-10 {
	/*margin-right: 10px !important;*/
	
}

.margin-right-15 {
	margin-right: 15px !important;
}

.margin-left-10 {
	margin-left: 10px !important;
}

.margin-left-15 {
	margin-left: 15px;
}

.align-middle {
	vertical-align: middle;
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.font-18 {
	font-size: 18px !important;
}

.button-orange {
	background-color: #FF6600 !important;
}

.button-orange:hover {
	background-color: #D2691E !important;
}

.hide {
	display: none !important;
}

.email {
	color: blue !important;
	text-decoration: underline !important;
}

.inside-row {
	margin-left: 0px !important;
	text-align: left !important;
}

.padding-0 {
	padding: 0 !important;
}

.padding-tb-0 {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.padding-lr-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-lr-10 {
	padding-left: 8px;
	padding-right: 8px;
}

.text-bold {
	font-weight: bold;
}

.panel-note {
	height: 70px;
}

.panel-note p {
	position: relative;
	top: -10px;
}

.strike-through {
	text-decoration: line-through;
}

.margin-lr-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.margin-lr-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.padding-tb-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.font-gothic {
	font-family: Franklin Gothic Medium !important;
}

.font-georgia {
	font-family: georgia arial Medium !important;
}

.foot-statement {
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

/* twitter bootstrap typeahead css only */

/*.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}*/

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a {
    color: #8AB329 !important;
	text-decoration: none;
	background-color: #F7FFDE;
}

.dropdown-menu .active>a,.dropdown-menu .active>a:hover {
	color: #8AB329 !important;
	text-decoration: none;
	background-color: #F7FFDE;
}


.typeahead {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.logo {
	padding: 10px;
	position: relative;
	text-align: center;
	background-color: #f2f2f2;
}

.red {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.visibility-hidden {
	display: none;
}

.video-close {
	font-size: 38px !important;
	top: -4px !important;
	right: 0px !important;
}

.small-btn {
	padding-left: 1.45em !important;
	padding-right: 1.45em !important;
}

.asterick-2 {
	font-size: 14px;
	text-align: right;
}

.overflow-fix {
	position: relative;
	overflow: hidden;
}

.asterick-red {
	color: red;
}

select option[default] {
	color: #333 !important;
}

select option:first-child {
	color: #333 !important;
}

.loader {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1006;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader img {
	position: relative;
	top: 45%;
	left: 45%;
}

.ajax-loader {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.ajax-loader img {
	position: relative;
	top: 45%;
	left: 45%;
}

.error-bootstrap-style {
	top: 75px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	max-width: 550px;
	margin: 0 auto;
	display: none;
}

.tick-selected {
	border: 4px green solid;
}

.tick-selected:before {
	position: absolute;
	display: block;
	content: "\e013";
	color: #fff;
	right: 1px;
	font-family: 'Glyphicons Halflings';
	font-size: 9pt;
	font-weight: normal;
	z-index: 102;
	top: 2px;
}

.tick-selected:after {
	position: absolute;
	display: block;
	border-top: 28px solid green;
	border-left: 28px solid transparent;
	right: 0;
	content: "";
	top: 0;
	z-index: 101;
}

a {
	text-decoration: none !important;
}

.divider-training-videos {
	height: 150px;
	border: 1px solid #ccc;
	width: 0px;
	position: absolute;
	right: 33.3%;
	top: 35%;
}

.more-button {
	position: relative;
	top: -5px;
}

.row-full {
	max-width: 100% !important;
}

.alert {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	width: 50%;
	margin: 5px;
	left: 25%;
	color: #fff;
	position: fixed;
	top: 55px;
	z-index: 100;
	display: none;
}

.alert-upload {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	width: 50%;
	margin: 5px;
	left: 25%;
	color: #fff;
	position: absolute;
	top: 2px;
	z-index: 100;
	display: none;
}

.error {
	background-color: #c60f13;
	border-color: #aa0d10;
}

.success {
	background-color: #43ac6a;
	border-color: #3a945b;
}

.textinput-style {
	height: 50px !important;
	font-size: 18px !important;
	border-radius: 3px !important;
}

/* For Datatable filters alignment */
.dataTables_length {
	width: 250px;
}

.dataTables_length label select {
	width: 60px;
	margin-bottom: 10px;
}

.dataTables_filter {
	width: 250px;
}

.dataTables_filter label input {
	width: 197px;
	margin: 0px;
	display: inline;
}

.close-alert {
	font-size: 1.22222rem;
	padding: 9px 6px 4px;
	line-height: 0;
	position: absolute;
	top: 50%;
	margin-top: -0.61111rem;
	right: 0.22222rem;
	color: #333;
	opacity: 0.3;
}

.close-alert:hover {
	color: #333;
	opacity: 1;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.container-div {
	margin: 0 auto;
	width: 90%;
}

.container-div-1 {
	padding:20px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #fff;
	padding: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.tab-content.current {
	display: inherit;
}

.first-column {
	width: 13%;
	text-align: left !important;
	font-weight: bold;
}

.second-column {
	text-align: left !important;
	width: 14%;
	font-weight: bold;
}

.log-header {
	font-weight: bold;
	font-size: 25px;
	cursor: default;
}

.section-style {
	/* padding-bottom: 0px;
	border: 1px dashed #ccc;
	background-image: -webkit-linear-gradient(top, #fff, #eee); */
	width: 100%;
}

.textfield-style {
	/* padding-bottom: 0px;
	border: 1px dashed #ccc;
	background-image: -webkit-linear-gradient(top, #fff, #eee); */
	width: 25%;
}

.checkboxLabel {
	display: inline;
	position: relative;
	top: -2px;
}

.patient-detail-text {
	margin-bottom: 0px !important;
}

.patient-message {
	list-style: none;
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.patient-date {
	width: 86% !important;
	display: inline-block !important;
}

.breadcrumb-style {
	font-size: 13px !important;
	margin-bottom: 0px !important;
	margin: 0 auto !important;
	background-color: #f2f2f2;
	padding-left: 0px !important;
}

.notification-style {
	list-style: none;
	text-align: center;
	width: 31%;
	margin: 0 auto;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	padding: 1px;
	margin-bottom: 3px;
}

.item-style {
	font-weight: bold;
	cursor: default;
}

/* .spanPagination{
	position: absolute;
	left: 50%;
 } */

/*  .pagination ul{
 	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	padding: 0;
	margin: 0 0 10px 25px;
	border: 1px solid #DDDDDD;
	text-align: right;
 }
 
 .pagination li{
 	list-style-type: none;
 	display: inline-block;
 	line-height: 20px;
 } */

 .dataTables_info{
 	padding-top: 8px;
 	margin-left: 14px;
 }
 .sortable a{
 	color: black;
 }
 
 .centered{
 	margin: 0 auto !important;
 }
 .table-div{
 	width:990px;
 	margin-bottom:20px; 
 	top: 0px;
 }
 
 .color-white{
 	background-color: #fff !important;
 }
 
 .white:hover{
 	/* background-color: #ccc !important; */
 }
 
 .display-none{
 	display:none;
 }
 
 .centered ul#switch{
 	width:250px; 	
 }
 
.dataTables_info {
	padding-top: 8px;
	margin-left: 14px;
}

.centered {
	margin: 0 auto !important;
}

.table-div {
	width: 94%;
	margin-bottom: 20px;
	top: 0px;
}

.white {
	background-color: #fff !important;
}

.white:hover {
	background-color: #ccc !important;
}

.display-none {
	display: none;
}

.bold-red-font {
	font-weight: bold;
	color: crimson;
}

.bold-green-font {
	font-weight: bold;
	color: green;
}

th.order1 {
	background: url("images/sort_asc.png") no-repeat scroll left center
		transparent;
	background-position-y: 7px;
}

th.order1 a {
	margin-left: 8px;
}

th.order2 {
	background: url("images/sort_desc.png") no-repeat scroll left center
		transparent;
	background-position-y: 7px;
}

th.order2 a {
	margin-left: 8px;
}


.margin-0{
	margin: 0 !important;
}

.logs-table{
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 10px;	
}

.logs-table th,
.logs-table td,
.logs-table td label{
	font-size: 20px !important;
	vertical-align: middle !important;
	padding: 20px;
	padding-left: 5px !important;
}

.logs-table tr{
	border-bottom:1px solid #eee !important;
}

.logs-table tr:last-child{
	border-bottom:1px solid #ccc !important;
}

.btn-success-2{
	padding: 10px !important;
	font-size: 22px !important;
}

.chooseDateText{
	cursor: pointer;
	position: relative;
	top: 8px;
	font-weight: bolder;
}

td[role='presentation']{
	line-height: normal !important;
	font-size: inherit !important;
}

.section-container{	
	background: #fff;
	border:1px solid #ccc;
	margin-bottom: 20px;
	box-shadow:0 8px 6px -6px #aaa;
}

.section-header{
	/* padding:5px;	 */
}

.section-content{
	padding: 5px;
	background: #fff;
}

.logs-table-hf{
	width: 100% !important;
	margin-bottom: 0px !important;
	background: #f6f6f6 !important;
}

.logs-table-hf td{
	color: #666;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding:20px;
	padding-left: 5px !important;
}

.width-20-perc{
	width: 20%;
}

.width-45-perc{
	width: 45%;
}

.width-60-perc{
	width: 60%;
}

.width-39-perc{
	width: 39%;
}

h3{
	color: #2ba6cb;
	font-weight: bold;
}
.notes{
	padding: 10px;
	cursor: default;
	min-height: 80px;
	border: 1px dashed #ccc;
	margin: 5px;
	background: #f9f9f9;
}

.span-style{
	font-size: 20px
}

.white-space-nowrap{
	white-space: nowrap;
}

.total-tr-style{
	background-color: #89B228 !important;
}

.total-div-style{
	background-color: #89B228;
	/* padding-right: 17px; */
}

.total-td-style{
	color: white;
}

.submit-style{
	float: right !important;
	margin-right: 0.9375em;
}

select.ui-datepicker-year{
	background-color: #f6a828 !important;
	height: 28px;
	margin-top: 0px;
	padding: 0px;
}

.total-table-style{
	width: 100%;margin-bottom: 0px;border: 0px !important;"
}

.logtime-style{
	padding-bottom: 17px;
	width: 20%;
	text-align: left !important;
}

.vertical-17p{
	padding-bottom: 17px;
}

.width-8{
	width: 8%;
	text-align: center;
}

.width-12per{
	width: 12%;
	text-align: left;
}

.word-wrap-style{
	word-wrap: break-word;
}

.alert-new-message{
	display: block;
	text-align: center;
}

.inline-block{
	display: inline-block;
}

.nutriFoodDiv{
	display: none;
}

.new-food-success{
	font-size: 17px;
	font-weight: bold;
	margin-top: 14px;
	color: cadetblue;
	margin-bottom: -14px;	
}

.new-group-success{
	font-size: 17px;
	font-weight: bold;
	margin-top: 10px;
	color: cadetblue;
}

.new-food-error{
	font-size: 17px;
	font-weight: bold;
	margin-top: 14px;
	color: crimson;
	margin-bottom: -4px;
}

.new-group-error{
	font-size: 17px;
	font-weight: bold;
	margin-top: 10px;
	color: crimson;
}

.padding-bottom-0{
	padding-bottom: 0px;
}

.foodSpanEmpty{
	display: none;
}

.noteDiv{
	max-height: 277px !important; 
	overflow-y: scroll;
}

.noteDivTable{
	width: 100% !important;
	margin-bottom: 0px;
}

.noteDivTableHeader{
	width: 100% !important;
	margin-bottom: 0px;
}

.filter-div{
	width: 96%;
	text-align: right;
}

.filter-div-2{
	height: 31px;
	background-color: #EBEBEB;
	width: 98%;
	padding-top: 5;	
	margin: 0 auto;
	margin-bottom: 20px;
}

.display-inline-block{
	display: inline-block;
}

.width-17per{
	width: 17%;
}

.bold-style{
	font-weight: bold; cursor: default;
}

.advSerDiv{
	display: none;
}

.advSerDivLbl{
	border-top: 1px solid #ccc;
	font-size: 16px;
	height: 38px;
	text-align: center;
	padding-top: 9px;
}

.toggle-style{
	width: 25px;
	margin-top: -5px;
}

.toggle-style:hover{
	/* box-shadow: 2px 3px 2px 2px #ccc; */
	cursor: pointer;
}

.no-row{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.new-log-message{
	font-weight: bold;
	display: inline-block;
	width: 57%;
	text-align: right;
}

.On-success-advice{
	font-weight: bold;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.refresh-link{
	display: inline-block;
	width: 42%;
	text-align: right;
}

.cursor-underline{
	cursor: pointer;
	text-decoration: underline !important;
}

.color-white-link{
	color: white;	
}

.color-white{
	color: white;
}

.row{
	/*max-width: 100% !important;*/
}

.cursor-pointer{
	cursor: pointer;
}

.total-cal-style{
	background: #E6E6E6;
	text-align: right;
	padding-right: 2%;
	position: relative;
	top: -10;
}

.margin-left-5p{
	margin-left: 3 !important;
}

.margin-right-5p{
	margin-right: 5;
}

.margin-top-9p{
	margin-top: 9;
}

.width-34per{
	width: 34%;
}

.margin-bottom-0p{
	margin-bottom: 0;
}

.align-breadcrumb{
	width: 92%;
	margin: 0 auto;	
}

.padding-left-45p{
	padding-left: 45px;
}

.padding-bottom-25p{
	padding-bottom: 25px;
}

.breadcrum-css{
	background: #fff;
	margin-bottom: 4px;
}

.font-size15p{
	font-size: 15px;
}

.medium-font{
	font-size: medium;
}

.paging_bootstrap{
	margin-top: -12;
	margin-bottom: -21;
}

.new-group-style{
	width: 92%;
	margin: 0 auto;
	text-align: right;
	margin-bottom: -35;
}

.border-radius-3p{
	border-radius: 3px;
}

.hide-dialog{
	display: none;
}

.text-area-style{
	margin: 8px 0px 16px;
	width: 425px;
	height: 120px;
}

.margin-left-44p{
	margin-left: 44px !important;
}

.alert-message{
	display: none;
}

.padding-left-right-0{
	padding-left: 0;
	padding-right: 0;
}

.proflagNo{
	color: red ;
}

.proflagYes{
	color: green ;
}

.color-black{
	color:Black !important;
}
#unprocessedTable {
	width: 100%;
}
.unprocessedTableColumn {
	width:10%;
}
.chart-inner-heading {
	text-align: center;
	color: #444;
	font-size: 22px;
	padding: 10px;
}

.padding-bottom-10{
	padding-bottom: 80px !important;
}

.daily-block-grid .highcharts-container{
	width: 85% !important;
}