﻿body {
    font-family: 'News Cycle', sans-serif;    
    overflow-x: hidden;
}

.curriculum-container {
    position:relative;
    overflow:hidden;
}

.header-text {
    color: #fff;
    padding: 15px 10px;
    display: inline-block;
}

.header-text p {
    margin-bottom: 0 !important;
    font-size: 14px;
    font-family: sans-serif, arial, Tahoma;
}

.header-text h3 {
    font-size: 33px;
    margin-top: 3px;
    color: #000;
}

.header-text-video{
    display: block;
}

.header-text-video h3{
    margin-top: 20px !important;
    padding-left: 20px;
}

.header-text-video a{
    padding-left: 20px;   
}

.header-text-video a span{
    padding-left: 10px;
    font-size: 16px;
    font-family: arial;
    display: inline-block;
    vertical-align: middle;
}

.heading-large{
    padding:15px 10px 17px 19px;
}

.heading-large h3{
    font-size: 44px;
    margin-top: -6px;
}

.content {
    background-color: #fff;
    /*box-shadow: 0 2px 3px -2px rgba(0,0,0,0.7);*/
}

.content-session{
    box-shadow:none;
    background-color:transparent;
}

.content .content-text {
    font-size: 16px;
    font-family: sans-serif, arial, Tahoma;
    color: #444;
}

.grey-listview {
    font-size: 20px;
    font-weight: normal;
}

.grey-listview li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0 !important;
    cursor: pointer;
}

.grey-listview li div.grey-item p.topic-heading {
    margin-bottom: 0;
}

.grey-listview li span.completed-percentage {
    background-color: transparent;
    font-size: 14px;
    color: #5E5D5D;
    border-radius: initial;
    font-weight: normal;
    float: right;
    position: relative;
    top: -5px;
    right: 8px;
}

.grey-listview li span.completed-percentage span {
    right: 5px;
}

.grey-listview li.selected-item,
.grey-listview li.completed {
    background-color: #f2f2f2;
    cursor: default;
}

.grey-listview li.in-progress img{
    left: -2px;
    position: absolute;
    top: 0;
    height: 60px;
}

.grey-listview li.selected-item span.completed-percentage span {
    color: #5E5D5D;
}

.grey-listview span.completed-percentage img{
    width: 24px;
    position: absolute;
    right: 1px;
}

.side-bordered-list li{
    border-left: 8px solid;
}

.circles {   
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #3C9A95;
    float: left;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.session-container{
    padding:10px 25px 10px 25px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;    
}

.session-container li{
    border:none;
    background-color:transparent;
}

.line{
    height: 56px;
    width: 5px;
    border-radius: 0px;
    position: absolute;    
    padding: 0;
    left: 24px;
    top: 21px;
    z-index: 1;
}

/* topics main listing styling */

.topics-main-listing{
    margin-left: 0;
    margin-bottom: 0;
}

.topics-main-listing li{
    padding-left: 0 !important;
    cursor: pointer;
    border-radius: 0 !important;
}

.topics-main-listing li div.grey-item{
    padding-left: 42px;
}

.topics-main-listing li div.grey-item span.week-text{
    font-size: 14px;
    text-transform: uppercase;
    color: #53B6BD;
}

.topics-main-listing li div.grey-item div.img-perc-container{  
    position: absolute;
    right: 20px;  
    top: 38%;
}

.topics-main-listing li div.grey-item div.img-perc-container.has-img{    
    top: 50%;
}

.topics-main-listing li div.grey-item div.img-perc-container.has-img img{
    position: absolute;
    top: -10px;
    right: 16px;
    max-width: 28px;
    height: 28px;
    width: 28px;
}

.topics-main-listing li.in-progress img{
    left: 20px;
    position: absolute;
    top: 5px;
    height: initial !important;
}

.topics-main-listing li.completed{   
    background: #F8FAFC;
    opacity: 0.8;
    cursor: default;
    border-right: none;
}

.topics-main-listing li.completed .week-text{
    color: #000 !important;
    font-weight: bold;
}

.vertical-text{
    position: absolute;
    height: 100%;
    width: 22px;        
    text-transform: uppercase;
    left: 0;
    top: 0;
}

.vertical-text p{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    padding: 5px;
    color: #fff;
    text-align: center;
    left: -2px;
    width: 100%;
    top: 13%;   
    /* TODO: need to exactly center aligned of parent*/
    font-size: 12px;
}

.vertical-text p.align-6{
    top: -8%;   
}

.header-progress div.img-perc-container{
    position: absolute;
    right: 50px;
    top: 20px;
}

.header-progress div.img-perc-container span.completed-count{
    position: absolute;
    color: #fff;
    top: 1px;
    left: 12px;
}

.page-heading-image{
    padding: 5px;
    margin-top: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 10px;
}

.step-count{
    text-align: center;
    padding-top: 7px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.back-arrow{
    display: inline-block;
    padding-left: 13px;
    margin-top: 25px;
}

.question{
    margin: 10px;
}

.question li{
    padding-left: 0 !important;
}

.question li p {
    margin: 0 !important;
}

.question p.content-text{
    display: inline-block;
}

.circle-grey{
    padding: 0;
    border-radius: 50%;
    border: 2px solid #ccc;    
    position: relative;
    top: 3px;
    color: #ccc;
    height: 35px;
    width: 35px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #FFFEFC 5%, #F0EEE7 100%);
    background: -moz-linear-gradient(90deg, #FFFEFC 5%, #F0EEE7 100%);
    background: -ms-linear-gradient(90deg, #FFFEFC 5%, #F0EEE7 100%);
    background: -o-linear-gradient(90deg, #FFFEFC 5%, #F0EEE7 100%);    
}

.answer-status p{
    margin-top: 16px;   
    padding-left: 28px;
    font-size: 22px;       
}

.answer-status p span{
    padding-left: 10px; 
    display: inline-block;
    vertical-align: middle;   
}

.session-complete{    
    color: #fff;
}

.session-complete h2{
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 0;
}

.session-complete p{
    font-size: 20px;
    padding-left: 10px;    
}

.session-complete h4{
    padding: 10px;
    text-transform: uppercase;   
    font-weight: bold;
    color: #454545 !important;
    font-family: arial;
    font-size: 15px;
}

.session-complete-list li{
    padding-left: 0 !important;   
    padding-bottom: 0 !important;
    cursor: default;
}

.session-complete-list li img{
    width: 25px;
}

.session-complete-list li p{
    display: inline-block;
    margin-bottom: 0 !important;
}

.video-view{
    border:1px solid #ccc;    
    height: 200px;
    margin: 10px;
    margin-bottom: 0;
}

.video-view video{
    width: 100%;
    height: 100%;
}

.transcript-text{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}

/*.transcript-text .points{
    list-style: none;
    padding: 0;
    margin: 0;
}

.transcript-text .points li{
    padding-left: 1em; 
    text-indent: -.7em;
    padding-bottom: 10px;
}

.transcript-text .points li:before{
    content: "•";
    color: blue; 
    font-size: 46px;
}*/

/* helpers */

.border-top-remove{
    border-top:none;
}

.margin-top-16{
    margin-top: 16px;
}

.font-22{
    font-size: 22px !important;
}

.margin-left-0{
    margin-left: 0 !important;
}

.font-bold{
    font-weight: bold;
}

.margin-bottom-0{
    margin-bottom:0;
}

.margin-right-5{
    margin-right:5px;
}

.margin-right-8{
    margin-right:8px;
}

.margin-top-3 {
    margin-top: 3px;
}

.arrow-right{
    left: initial !important;
    right: -10px;    
}

.padding-top-0{
    padding-top: 0 !important;
}

.padding-bottom-0{
    padding-bottom: 0 !important;
}

.padding-left-0{
    padding-left: 0 !important;
}

.padding-right-0{
    padding-right: 0 !important;
}

.align-center{
    text-align: center;
}

.border-bottom-white{
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}

hr{
    border-color: #ccc;
}