.align-page-heading{
	position: relative;
	top: 18px;
	text-transform: uppercase;
}

.dialog-header-green{
	color: #A4C749;
	text-transform: uppercase;
}

.dialog-area{
	max-height: 400px;
	overflow:hidden;
	overflow-y: auto;
}

.grey{
	text-transform: uppercase;
	color: #989898 !important;
}

.black{
	text-transform: none;
	color: #000 !important;
}

/*.hs-table th{
    text-transform: uppercase;
}

.hs-table .row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border-bottom: 1px solid #eeeeee;
}*/

/*.hs-table .row:nth-child(odd){
	background-color: #f9f9f9;
}

.hs-table .row:hover{
	background-color: #eeeeee;
}*/

.hs-btns{
	color: #fff;
	background-color: #3C9A95;
	border-color: #B5D9D7;
	margin-top: 14px !important;
	border-radius: 0;
	font-size: 18px;
	line-height: 1.3;
	font-family: tahoma;
	min-width: 105px;
	text-transform: uppercase;
}

.btn-teal {

	background-image: -ms-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -moz-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -o-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69C4CB), color-stop(1, #53B6BD));
	background-image: -webkit-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: linear-gradient(to top, #69C4CB 0%, #53B6BD 100%);
}

.btn-teal:hover {
	background-image: -ms-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -moz-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -o-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #53B6BD), color-stop(1, #69C4CB));
	background-image: -webkit-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: linear-gradient(to top, #53B6BD 0%, #69C4CB 100%);
}

.btn-black {
	background-image: -ms-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -moz-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -o-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2C2C2C), color-stop(1, #666666));
	background-image: -webkit-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: linear-gradient(to top, #2C2C2C 0%, #666666 100%);
}

.btn-black:hover {
	background-image: -ms-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -moz-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -o-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666666), color-stop(1, #2C2C2C));
	background-image: -webkit-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: linear-gradient(to top, #666666 0%, #2C2C2C 100%);
}

/*.hs-table-header{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	border-bottom-width: 3px;
	background-color: #fff;
}

.hs-table-header p{
	margin-bottom: 0 !important;
	color: #000;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}*/

.margin-tb-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-left-2perc{
	margin-left: 2%;
}

.checkbox-large{
	width: 24px;
	height: 24px;
}

.bordered-white-bg{
	padding: 10px;
	background-color: #fff;
	/*border: 1px solid #ddd;
	border-bottom-width: 2px;*/
}

span.checkbox{
	display: none !important;
}

.padding-left-7{
    padding-left: 7px;
}
.align-sms-check{
    position: relative;
    top:-5px;
}

.dialog-para{
	font-size: 16px !important;
	color: #7B7B7B !important;
}