body{
    background: #fff !important;
}
.updated{
    background-color: #DCE5C0;
}

.lst-kix_5ifrejlrkjey-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_g0f9f1fmtund-8 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_g0f9f1fmtund-6 {
    list-style-type: none
}

ul.lst-kix_g0f9f1fmtund-7 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_g0f9f1fmtund-4 {
    list-style-type: none
}

ul.lst-kix_g0f9f1fmtund-5 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_g0f9f1fmtund-2 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_g0f9f1fmtund-3 {
    list-style-type: none
}

ul.lst-kix_g0f9f1fmtund-0 {
    list-style-type: none
}

.lst-kix_87v99djqrr2u-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_5ifrejlrkjey-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_g0f9f1fmtund-1 {
    list-style-type: none
}

.lst-kix_jl8jicq86a44-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_jl8jicq86a44-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_jl8jicq86a44-0 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_g0f9f1fmtund-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_g0f9f1fmtund-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_5ifrejlrkjey-1 {
    list-style-type: none
}

ul.lst-kix_5ifrejlrkjey-2 {
    list-style-type: none
}

.lst-kix_jl8jicq86a44-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_hcngnq3qqhm6-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_5ifrejlrkjey-0 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_87v99djqrr2u-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_g0f9f1fmtund-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_87v99djqrr2u-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_hcngnq3qqhm6-8 {
    list-style-type: none
}

.lst-kix_jl8jicq86a44-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_hcngnq3qqhm6-5 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-4 {
    list-style-type: none
}

.lst-kix_jl8jicq86a44-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_hcngnq3qqhm6-7 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-6 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-1 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-0 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-3 {
    list-style-type: none
}

ul.lst-kix_hcngnq3qqhm6-2 {
    list-style-type: none
}

.lst-kix_87v99djqrr2u-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_hcngnq3qqhm6-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_g0f9f1fmtund-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_87v99djqrr2u-0 {
    list-style-type: none
}

ul.lst-kix_87v99djqrr2u-1 {
    list-style-type: none
}

ul.lst-kix_87v99djqrr2u-4 {
    list-style-type: none
}

ul.lst-kix_87v99djqrr2u-5 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_jl8jicq86a44-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_87v99djqrr2u-2 {
    list-style-type: none
}

ul.lst-kix_87v99djqrr2u-3 {
    list-style-type: none
}

ul.lst-kix_87v99djqrr2u-8 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_87v99djqrr2u-6 {
    list-style-type: none
}

.lst-kix_g0f9f1fmtund-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_87v99djqrr2u-7 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_jl8jicq86a44-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_g0f9f1fmtund-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_5ifrejlrkjey-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_5ifrejlrkjey-4 {
    list-style-type: none
}

.lst-kix_87v99djqrr2u-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_5ifrejlrkjey-3 {
    list-style-type: none
}

.lst-kix_g0f9f1fmtund-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_5ifrejlrkjey-6 {
    list-style-type: none
}

ul.lst-kix_5ifrejlrkjey-5 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_5ifrejlrkjey-8 {
    list-style-type: none
}

ul.lst-kix_5ifrejlrkjey-7 {
    list-style-type: none
}

.lst-kix_87v99djqrr2u-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_jl8jicq86a44-4 {
    list-style-type: none
}

.lst-kix_5ifrejlrkjey-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_jl8jicq86a44-3 {
    list-style-type: none
}

ul.lst-kix_jl8jicq86a44-2 {
    list-style-type: none
}

ul.lst-kix_jl8jicq86a44-1 {
    list-style-type: none
}

.lst-kix_87v99djqrr2u-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_jl8jicq86a44-8 {
    list-style-type: none
}

ul.lst-kix_jl8jicq86a44-7 {
    list-style-type: none
}

ul.lst-kix_jl8jicq86a44-6 {
    list-style-type: none
}

ul.lst-kix_jl8jicq86a44-5 {
    list-style-type: none
}

.lst-kix_hcngnq3qqhm6-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_jl8jicq86a44-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_87v99djqrr2u-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_hcngnq3qqhm6-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_g0f9f1fmtund-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_g0f9f1fmtund-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_87v99djqrr2u-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_jl8jicq86a44-2 > li:before {
    content: "\0025a0  "
}

ol {
    margin: 0;
    padding: 0
}

.c9 {
    vertical-align: baseline;
    color: #000000;
    font-size: 11pt;
    font-style: normal;
    font-family: "Arial";
    text-decoration: none;
    font-weight: normal
}

.c18 {
    line-height: 1.0;
    padding-top: 0pt;
    text-align: left;
    direction: ltr;
    padding-bottom: 0pt
}

.c1 {
    widows: 2;
    orphans: 2;
    height: 11pt;
    direction: ltr
}

.c24 {
    padding: 0pt 72pt 72pt 72pt
}

.c2 {
    widows: 2;
    orphans: 2;
    direction: ltr
}

.c0 {
    color: #1155cc;
    font-size: 10pt;
    background-color: #ffffff
}

.c10 {
    margin: 5px;
    border: 1px solid black
}

.c3 {
    color: #1155cc;
    text-decoration: underline
}

.c4 {
    margin: 0;
    padding: 0
}

.c20 {
    color: #000000;
    text-decoration: none
}

.c6 {
    color: inherit;
    text-decoration: inherit
}

.c19 {
    background-color: #ffff00
}

.c5 {
    page-break-after: avoid
}

.c14 {
    font-size: 14pt
}

.c11 {
    text-decoration: underline
}

.c17 {
    font-size: 12pt
}

.c12 {
    text-align: center
}

.c7 {
    font-weight: bold
}

.c16 {
    font-family: "Arial"
}

.c22 {
    height: 12pt
}

.c15 {
    padding-left: 0pt
}

.c13 {
    margin-left: 18pt
}

.c21 {
    color: #ff0000
}

.c23 {
    font-style: italic
}

.c8 {
    margin-left: 36pt
}

.title {
    widows: 2;
    padding-top: 0pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 21pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt;
    page-break-after: avoid
}

.subtitle {
    widows: 2;
    padding-top: 0pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 13pt;
    font-family: "Trebuchet MS";
    padding-bottom: 10pt;
    page-break-after: avoid
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    color: #000000;
    font-size: 11pt;
    margin: 0;
    font-family: "Arial"
}

h1 {
    widows: 2;
    padding-top: 10pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 16pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt;
    page-break-after: avoid
}

h2 {
    widows: 2;
    padding-top: 10pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 13pt;
    font-family: "Trebuchet MS";
    font-weight: bold;
    padding-bottom: 0pt;
    page-break-after: avoid
}

h3 {
    widows: 2;
    padding-top: 8pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #000000;
    font-size: 12pt;
    font-family: "Arial";
    font-weight: bold;
    padding-bottom: 0pt;
    page-break-after: avoid
}

h4 {
    widows: 2;
    padding-top: 8pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #666666;
    font-size: 11pt;
    text-decoration: underline;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt;
    page-break-after: avoid
}

h5 {
    widows: 2;
    padding-top: 8pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #666666;
    font-size: 11pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt;
    page-break-after: avoid
}

h6 {
    widows: 2;
    padding-top: 8pt;
    line-height: 1.15;
    orphans: 2;
    text-align: left;
    color: #666666;
    font-style: italic;
    font-size: 11pt;
    font-family: "Trebuchet MS";
    padding-bottom: 0pt;
    page-break-after: avoid
}

#faqsBody img{
    width:100%;
    height: auto;
}
