.caret-top{
    font-size:9px;
}

.dialog-para{
    font-size: 16px !important;
    color: #7B7B7B !important;
}

.sp-facility-name{
    position: absolute !important;
    width: 88%;
    top: -12px;
    left: 13px;
    background-color: #96BB2C !important;
    font-size: 12px !important;
}

body{
    background: url('images/body_pattern.png') repeat !important;
}

.coach-area-expand{
    display: none;
}

.login-menu{
	position: absolute;
	width: 300px;	
	/* border: 1px solid #ccc;
	background-color: #fff; */
	/* box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2); */
	z-index: 100;
	display: none;
}

.login-menu small.error{
	display:none;
}

.bottom-buttons{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	position: relative;
	bottom: -5px;
	height: 50px;
}

.btn-logout{
	float: right;
	position: relative;
	top: -8px;
	right: -6px;
	padding:11px 12px;
}
		
.facility-info p {
	background-color: #2aabd2;
	padding: 5px;
	color: #fff;
	margin-bottom: 2px !important;
}

.facility-info ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.facility-info ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	display: inline-block;
}

.facility-info ul li span{
	white-space: nowrap;
}

.facility-info tr td{
	text-align: left !important;
}

.white-tr{
	background: #fff !important;
	background-color: #fff !important;
}

#topMenuItems img{
	height: 20px;
}

#topMenuItems span {
	position: relative;
	top: 3px;
}

.caret2 {
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ccc;
    border-right-color: transparent;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    right: 10px;
	top: -11px;			
 }
 
 .triangle-border {
  position:relative;
  padding:10px;
  margin:1em 0 3em;
  border:1px solid #ccc;
  color:#333;
  background:#fff;
  /* css3 */		
  border-radius:3px;
  
  -webkit-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -moz-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -ms-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -o-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#ccc transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top: -14px;
	bottom: auto;
	left: auto;
	right: 47px;
	border-width: 0 13px 13px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}

.user-name{
	color:#798EC5 !important;
	font-weight:bold !important;
	position:relative !important;
	top:4px !important;
}

.break-word{
	word-break: break-word;
}

#childHeader{
	display:none;
}

#mgContentNavLiId {
  display: inline-block;
}

.top-patient-name{
	text-align: center;
	position: absolute;
	margin-bottom: 10px;
	min-width: 200px;
	left: 50%;
	margin-left: -200px;

	background-image: -ms-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -moz-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -o-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69C4CB), color-stop(1, #53B6BD));
	background-image: -webkit-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: linear-gradient(to top, #69C4CB 0%, #53B6BD 100%);

	border-radius: 3px;
	top: 60px;
	border-top: none;
	font-family:tahoma, arial;
	color: #fff !important;
	box-shadow:rgba(0,0,0,0.15) 0px 1px 2px;
	z-index: 8;
	padding-left: 10px;
	padding-right: 10px;
}

.top-patient-name label{
	margin-bottom: 0 !important;
	color: #fff !important;
} 

.top-patient-name-fixed{
	left:0;
	margin-left:0 !important;
	position: fixed;	
	top: 0;		
	width: 100%;
}


.welcome-header{
	color: #89B228;
	margin-top: 13px;
}

.welcome-header label {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	text-transform: capitalize;
	display: inline !important;
}

/*new table style*/
th.sorting_disabled,
th.sorting_disabled:hover{
    cursor: default !important;
}
table.dataTable,
table.dataTable-bordered{
    border-bottom: 1px solid #ddd !important;
}

table.dataTable thead,
table.dataTable-bordered thead{
	background-color: #fff !important;
	background: #fff !important;
}

table.dataTable thead th,
table.dataTable-bordered thead th{
    /*border:1px solid #ddd;*/
    padding: 10px 18px 10px 8px !important;
    vertical-align: bottom !important;
    border-bottom: 1px solid #ddd !important;
    font-weight: normal !important;
    text-transform: uppercase;
    color: #7F7D7D;
    font-size: 12px;
    border-right: 1px solid #E5E5E5;
    font-weight: bold !important;
}


table.dataTable tbody tr:nth-child(odd),
table.dataTable-bordered tbody tr:nth-child(odd){
	background-color: #F7FFDE;
}

table.dataTable tbody tr:hover,
table.dataTable tbody tr:hover td.sorting_1,
td.sorting_1:hover,
table.dataTable-bordered tbody tr:hover,
table.dataTable-bordered tbody tr:hover td.sorting_1 {
	background-color: #eeeeee;
}

table.dataTable tbody td {
	border: none !important;
    color: #696969;
}

table.dataTable-bordered tbody td {
    color: #696969;
}

table.dataTable tbody tr.odd td.sorting_1,
table.dataTable-bordered tbody tr.odd td.sorting_1{
    background-color: #F7FFDE;
}

table.dataTable tbody tr.even td.sorting_1,
table.dataTable-bordered tbody tr.even td.sorting_1{
    background-color: #fff;
}

/* FOOTER STYLE*/
.footer{
    background-color: #333;
	position: relative;
	border-top:3px solid #A4C749;
	margin-top: 30px;
	width: 100%;
}

.footer .copyright-healtshlate {
    padding-top: 18px;
    padding-bottom: 6px;
}

.footer .about-healthslate{
	padding-top: 20px;
}

.footer img{
	height: 18px;
	margin-bottom: 10px;
}

.grey-separator{
	position: absolute;
	height: 120px;
	left: -60px;
	width: 1px;
	top: 23px;
	background-color: #A4A4A4;
}

.footer p{
	color: #A4A4A4;
	font-size: 11px;
}

.color-green{
	color: #A4C749;
}

/* pagination selected*/
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus{
    background-color: #69C4CB;
    border-color: #53B6BD;
}

.max-width-1129{
    max-width: 1229px !important;
    margin: 0 auto;
    position: relative;
}

.margin-top-15{
    margin-top:15px;
}

.margin-right-40{
    margin-right:40px;
}

.padding-right-2px{
    max-width: 1129px;
}

.padding-right-20px{
    padding-right:20px;
}

@media (max-width: 1200px) {
  #mgContentNavLiId {
    display: none;
  }
}

@media (max-width: 1100px) {
  #mgContentNavLiId {
    display: none;
  }
  #tutorialsNavId{
  	display: none;
  }
}

.change-pass-text {
	font-family: tahoma, arial, georgia;
	font-size: 22px;
	color: #A4C749;
	text-align: left;
}

label small{
	text-transform: none !important;
}

@media all and (max-height: 770px) {
	.footer{
		position: relative !important;
	}
}

input:not([type=submit]),
input:not([type=file]),
input:not([type=button]),
select,
textarea{
    transition: border-color 0.2s linear;
    box-shadow: none !important;
}

input:not([type=submit]):focus,
input:not([type=file]):focus,
input:not([type=button]):focus,
select:focus,
textarea:focus{
    border:2px solid #69C4CB !important;
}


.access-denied{
    background-color: #f9f9f9;
    border-top: 29px solid #3F3B3B;
    border-bottom: 30px solid #CFCFCF;
    margin-top: 40px;
    margin: 40px auto;
    max-width: 801px;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
}

.access-denied .inner-access{
    padding: 10px;
}

.access-denied h3{
    background-color: rgb(208, 13, 13);
    color: #ffffff;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.access-denied .error-message{
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

.access-denied .error-message h4{
    font-weight: bold;
}

.session-expired-overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    position: fixed;
    top:0;
    left: 0;
    z-index: 99999999;
}

.session-expired-dialog{
    display: none;
    background-color: #ffffff;
    margin: 200px auto;
    max-width: 500px;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    padding: 20px;
}

.session-expired{
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 20px;
}

.session-expired span{
    font-weight: bold;
}

/* top menu item selection */

.hs-header{
    margin-left: 25px;
}

.selected-tab {
    background-image: -ms-linear-gradient(bottom, #96BB2C 0%, #78A722 100%);
    background-image: -moz-linear-gradient(bottom, #96BB2C 0%, #78A722 100%);
    background-image: -o-linear-gradient(bottom, #96BB2C 0%, #78A722 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #96BB2C), color-stop(1, #78A722));
    background-image: -webkit-linear-gradient(bottom, #96BB2C 0%, #78A722 100%);
    background-image: linear-gradient(to top, #96BB2C 0%, #78A722 100%);
    color:#3F3F3F !important;
    font-weight: bold;
}

.hs-header>li>a{
    padding-top: 10px !important;
    padding-bottom: 12px !important;
    text-transform: uppercase;
    font-size: 12px;
}

.hs-header>li>a:not(.selected-tab){
    color: #fff !important;
}

.navbar-default{
    border-bottom: 4px solid #8AB329 !important; /* #065598 */
    margin-bottom: 0;
}

.navbar-default{
    background-color: #666666;
}

.hs-header li:hover{
    background-color: #96BB2C;
}

.hs-header li:hover a{
    color: #fff !important;
}



.hs-header-welcome>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #fff !important;
    white-space: nowrap;
}

.hs-header-welcome>li:not(.divider)>a:hover{
    text-decoration: underline !important;
}

.breadcrumb-green{
    background-color: #DCE5C0;
}

.breadcrumb-green .breadcrumbs{
    background-color: #DCE5C0;
    border-radius: 0px;
    border-color: transparent;
    margin-bottom: 0;
}

.hs-page-heading h2{
    color: #8AB329;
    font-size: 32px;
}

.padding-top-28{
    padding-top: 28px !important;
}

.top-0{
    top:0 !important;
}

.border-none{
    border:none !important;
}

.green-bordered{
    border-top: 3px solid #8AB329;
    border-bottom: 3px solid #8AB329;
    border-left: 0;
    border-right: 0;
}

.unread-count-header{
    color: #fff;
    position: absolute;
    top: 10px;
    left: 23px;
    font-size: 12px;
    font-weight: bold;
}

.left-5{
    left: 5px !important;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.coach-section-loading{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#fff;
    z-index: 1;
}

.coach-section-loading label{
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -19% !important;
    font-size: 18px;
}

.top-30{
    padding-top: 30px !important;
}