.input-field {
    width: 35% !important;
}

.ui-datepicker-trigger {
    margin: 0px;
    height: 37px;
    padding-top: 11px;
    width: 5px;
    padding-left: 1rem;
    background-color: #428bca;
}

.date-style {
    width: 82%;
    display: inline-block !important;
}

.header-style {
    width: 60%;
    padding: 0;
    top: 10px;
}

.ui-datepicker-trigger {
    margin: 0px;
    height: 37px;
    padding-top: 17px;
    width: 5px;
    padding-left: 1rem;
}

.dataTables_processing {
    position: absolute;
    top: 2% !important;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 0px !important;
    text-align: center;
    color: #999;
    font-size: 14px;
    background: inherit !important;
    font-weight: bold;
    color: brown;
}

.align-left-patient-id {
    width: 100%;
    display: block;
    text-align: left;
}

th {
    font-family: inherit !important;
}

.status{
    padding: 5px;
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.not-started-status {
    color: #f08a24;
}

.in-process-status {
    color: #008CBA;
}

.filter-div-2 {
    height: auto;
    background-color: #fff;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 18px;
    padding-left: 20px;
    text-align: left;
}

.loading-table{
    position: relative;
    top:25px;
}

.margin-top-2{
    margin-top: 4px !important;
}

.member-details-dialog .grey-black-pair{
    text-transform: none;
}

.member-details-dialog img:not(.exclude-image){
    width: 16px;
}

.member-details-dialog img.last-image{
    width:14px;
}
.member-details-dialog .grey-black-pair .grey{
    text-transform: uppercase;
    font-size: 12px;
    color: #989898 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.member-details-dialog .grey-black-pair .black{
    margin-bottom: 10px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    text-transform: none;
    color: #000 !important;
    font-size: 13px;
    padding-left: 19px;
}