.reveal-modal.medium{
	margin-left:auto;
}

.teal-bullets li{
	font-size: 16px !important;
}

.teal-bullets li label{
	display: inline;
}

#videoModal{
	margin-left: auto !important;
}

.cascade-description p.healthslate-logo{
	bottom: -46px !important;
}

.width-450{
	min-width: 250px;
	width: 450px;
	max-width: 450px;
}

.width-500{
	width:500px;
	min-width: 250px;
	max-width: 500px;
}

.width-550{
	
	min-width: 250px;
	width: 550px;
	max-width: 550px;
}

.ie-select{
	/* line-height:35px;
	height:35px;	
 */	margin-bottom:9px;	
 background: none;
}

small.error{
	font-style: italic;
}

.ie-error-style{
	padding-bottom:0px;
}

.float-right-remove{
	float:right;
}

.image-item{    
   width: 100%;   
   background-position: center;  
   /* border:1px solid #ccc; */
}

#btnNext{
	margin:10px;
}

.ie-float-right{
	margin-top:10px;
}

.nav-buttons-right{
	text-align:right;
}

.loader{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2001;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);	
	background: transparent;
	zoom: 1;    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
}

.top-20{
	top:10%;
	margin-top:40px;
}

.top-10{
	top:30px;
}

.reveal-modal{
	border:1px solid #ccc;
}

.reveal-modal-bg{	
	background-color: rgba(0,0,0,0.5);
	background: transparent;
	zoom: 1;    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000) !important";
}

.ie-video-close{
	position:relative;	
}

.ie-middle{
	margin-top: 5px;
}

.input-height{
	height:2.6em !important;	
}

input:not([type='button']):not([type='checkbox']):not([type='radio']){
	/* height:3.04em !important; */
	font-size: 14px;
}

small.error{
	font-size: 13px;
	font-weight: normal;
}
table th{
	text-align: left;
}

table td{
	text-align: left;
}

span.custom{
	display: none;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal !important;
}
.asterick-2{
	font-weight: normal;
}

.ie-bold{
	font-weight: bold !important;
}

ul.thank-you{
	padding-left: 25px;
}

.alert{
	position: relative !important;
	top:0px !important;
	left:-5px !important;
	width:100% !important;	
}

label{
	font-size: 0.97em !important;
	letter-spacing: 1;
}

.txtAADENumber{
	height: 2.2rem !important;	
}

.login-input-i8{
    width: 400px !important;
}

.main-page-login-i8{
    width: 450px;
}