.share-meal-container{
	border: 1px solid #eee;
}

.share-meal-container legend{
	font-size: 18px;
	margin-left: 0;
	padding: 0;
	width: inherit;
	border-bottom: 0;
	color: #31708f !important;
	font-weight: normal;
}

.glucose-table{
	width:98%;
	border:1px solid #CCCCCC;
}
.glucose-table th {
	text-align: center;
	font-size:13px;
	border-left: 1px solid #ccc;
	background-color: #e5e5e5;
	position:relative;
}
.tbl-sep{
	border-left: 1px solid #ccc;"
}

.glucose-table td {
	font-size:12px;
	background-color: #ffffff;
}

.glucose-legend{
	padding-bottom: 6px;
	padding-top: 10px;
	padding-left: 31px;
}

.glucose-legend p{
	margin-bottom: 0;
	padding-bottom: 2px;
	font-size: 12px;
	padding-left: 5px;
}

.glucose-legend p span:after{
	content: " |";
	padding-right: 5px;
	padding-left: 5px;
	color: #8E8A8A;
	font-size: 12px;
}

.glucose-legend p span:last-child:after{
	content: "";
}

.suggested-meal-notes{
	width: 10.8%;
	padding-left: 22px;
}

.remove-uppercase{
    text-transform: none !important;
}
#memberEatingPreferenceDialog p{
    font-size: 15px !important;
}

.coach-area-expand{
    display: none;
}
{
	cursor: default;
}
.mainDiv {
	width: 92%;
	margin: 90px auto;
	/*position: absolute;*/
	/*margin-left: 4%;*/
	margin-bottom: 0;
}

.width-100{
	width:100%;
}

body, .tab-content{
	/*background-color: #fff !important;*/
	box-shadow: none;
}

.section-style{
	background-image: none;
	background: #f9f9f9 !important;			
}

.centered ul#switch{
	width: 215px;			
}

.heading-blue{
	padding: 5px;
	font-size: 18px;
	padding-left: 5px;
    cursor: default;
	background: #d9edf7;
	color: #31708f;
}

.heading-red{
	padding: 10px;
	font-size: 18px;
	padding-left: 5px;
	cursor: default;
	background: #F2DADA;
	color: #31708f;
}


.heading-teal {
    padding: 10px;
    font-size: 18px;
    padding-left: 5px;
    cursor: default;
    background: #D7F0F2;
    color: #499DA3;
}

.messages-panel{
	height: 345px;
	overflow-y: auto;
	margin-bottom: 30px;
	margin-top: 11px;
}
hr{
	margin: 0.25rem 0 0.1875rem;
}
.width-100-height-100{
	width: 100%;
	/* height: 100%; */
}

.height-72p{
	height: 72px;
}

.msg-panel{
	border-radius: 4px;
	padding: 5px;
	width: 70%;
	margin-bottom: 10px;
}

.educator-msg-panel{
	/* background-color: #219DDB;
	float: left; */
	float: left;
	background: linear-gradient(174deg, #60C4E2 5%, #1D88A8 100%);
	border: 1px solid #2ba6cb;
}

.patient-msg-panel{
	/* background-color: #EAEAEA;
	float: right; */
	float: right;
	background: linear-gradient(180deg, #F0EEE7 5%, #E3E2DF 100%);
	border: 1px solid #ccc;
}

.msg-head{
	text-transform: capitalize;
	font-weight: bold;
	display: inline-block;
}

.msg-panel label.message-text{
	word-break:break-all;
}

.date{
	display: inline-block;
	font-size: 11px;
	float: right;
	margin-top: 2px;
}
.div-1{
	height: 430PX;
}
.div-2{
	height: 513px;
	/* overflow-y: auto; */
	text-align: center;
	
}

.div-dialog{
	height: 245px;
	overflow-y: auto;
	text-align: center;
	padding-left: 21px;
	padding-right: 21px;
}

.white-color{
	color: white;
}

.new-msg-box{	
	border-radius: 3px;
	margin-bottom: -13px;
	resize: none;
}
.new-msg-btn{	
	height: 49;
	margin-bottom: 17;
}


.new-msg-panel{
	position: relative;
	bottom: 47;
}

#myMealId{
	display: none;
}

.inline-block{
	display: inline-block;
}

.width-65p{
	width: 65px !important;
}

.width-145p{
	width: 145px;
}

.popup-carbs{
	margin-left: 16px;
}

.food-name-style{
	margin-left: 18px !important;
	text-transform:capitalize;
}

.capital{
	text-transform:capitalize;
}

.right-margin-44p{
	margin-right: 44px !important;
}

.popup-style{
	width: 502px !important;
	top: 70px;
	left: -208;
}

.width-18{
	width: 18% !important;
}

.margin-52p-left{
	margin-left: 17px;
}

.margin-67p-left{
	margin-left: 67px;
}

.margin-14p-left{
	margin-left: 14px;
}

.total-sum-style{
	font-weight: bold;
	margin-left: 12;
}

.total_sum-style{
	background-color: #eee;
	width: 436px;
}

.responsive-container {
    position: relative;
    width: 100%;
    border: 1px dashed #ccc;
    height: 92%;
}

.dummy {
     /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
   /*  overflow-y: auto; */
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* height: 100%; */
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

.errorMsg{
	list-style:none; color:green; text-align: center; font-weight: bold;
}
.alert-enhancment{
	position: relative !important; 
	top: 11px !important;
	text-align: center !important;	
}

.width-107p{
	width: 212px !important;
}

.left-1p{
	margin-left: 1px;
}

.first-col-head{
	width: 35%;
}

.first-col{
	width: 25%;
}

.second-col{
	width: 13%;
	text-align: center;
}

.third-col{
	width: 10%;
	text-align: center;
}

.forth-col{
	width: 10%;
	text-align: center;
}

.fifth-col{
	width: 16%;
	text-align: center;
}

.sixth-col{
	width: 16%;
	text-align: center;
}

.success-msg-style{
	height: 39px;
	width: 60%;
	margin: 0 auto;
	font-size: 16px;
	color: white;
	text-align: center;
	padding-top: 12px;
	margin-top: 15px;
	display: none;
}

.div-1-main{
	cursor: default;
}

.div-1-food-detail{
	max-height: 198px; overflow-y: auto;height: 218px;
}

.div-suggested-food-detail{
    overflow-y: auto;
    min-height: 292px;
    max-height: 292px;
}

.nutriFoodSpan{
	margin-left: 38%;
	margin-top: 19%;
	font-weight: bold;
	font-size: 14px;
}

.common-style{
	height: 480px;
}

.common-section{
	padding: 10px; cursor: default; height: 440px;
}

.addNotesDiv-1{
	position: absolute;
	bottom: 0;
	width: 96%;
	margin-bottom: -8px;
}

.patContentDiv-1{
	padding: 10px; height: 440px; position: absolute; width: 94%;
}

.heading-style{
	font-size: 17px;
	padding: 5px;
	background-color: gainsboro;
	color: black;
	font-weight: normal;
	text-align: left;
}

.total-div-style{
	margin-top: 5px;
}

.margin-left-15p{
	margin-left: 15px; 
}

.nutriImageSpan{
	margin-top: 39%;
	font-weight: bold;
	font-size: 14px;
}

.nutriImageSpan-dialog{
	margin-top: 32%;
	font-weight: bold;
	font-size: 14px;
}

.reload{
	height: 22px;
	cursor: pointer;
}

.reload:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    z-index:4;
}

.reload-span{
	width: 4%;
	text-align: right;
}

.width-50per{
	width: 50%;
}

.footer-style{
	border: 0;
	text-align: left;
	margin-top: 0;
	margin-left: -2px;
}

.carbs-style{
	margin-right: 30px !important;
}

.protein-style{
	margin-right: 25px !important;
}

.fat-style{
	
}

.display-dialog{
	top: 90px;
	right: 50%;
	z-index: 953;
	position: absolute;	
}

.display-dialog-suggested{
    top: 173px;
    right: 50%;
    z-index: 953;
    position: absolute;
}

.linker{
	position: absolute;
	background: url(images/link.png);
	right: -23px;
	width: 32px;
	height: 32px;
	z-index: 90001;
	transform: rotate(44deg);			
}

.link-top{
	top: 100px;
}

.link-bottom{
	bottom:100px;	
}

.display-dialog .modal-dialog{
	width:502px !important;
}

.low-opacity{
	opacity: 0.2;
}

.triangle-left {
    width: 25%;
    height: 0;
    padding-top: 25%;
    padding-bottom: 25%;
    overflow: hidden;
}
.triangle-left div {
    width: 0; 
    height: 0;
    margin-top:-500px;
     
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid #4679BD;
}

.position-relative{
	position: relative;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.height-7per-position-relative{
	height: 7%;
	position: relative;
}

.margin-top-5per{
	margin-top: 5%;
}

.margin-left-10p{
	margin-left: 10px;
}

#foodActionInError{
	display: none;
}

#addFoodInError{
	display: none;
}

.remove-log{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: brown;
}

#profileOpen{
	font-variant: initial;
	font-size: 16px;	
}

#profileOpen:hover{
	text-decoration: underline !important;
}

#profilePage .close-reveal-modal{
	font-size: 2.5rem;
	line-height: 1;
	position: absolute;
	/* top: 0.5rem;
	right: 0.6875rem; */
	top: -0.5rem;
	right: -0.3125rem;
	color: #aaa;
	font-weight: bold;
	cursor: pointer;
}

.width-81per{
	width: 81%;
}

.total-food-fats{
	width: 50;
	margin-left: 15px;
}

.total-food-carbs{
	width: 50;
	margin-left: 97px;
}

.total-food-protein{
	width: 50;
	margin-left: 102px;
}

.margin-zero{
	margin: 0 auto !important;
}
.glucose-log{
	width: 470px; 
	height: 400px;
}
.meal-log{
	width: 470px; 
	height: 200px; 
}
.meal-log-2{
	width: 400px; 
	height: 200px; 
}

.meal-log-3{
	width: 100%; 
	height: 35%;
}

.meal-log-4{
	margin: 20px;
}
.wDate{
	text-align: center;
	margin-bottom: -8px;
	float: right;
}

.wDate-date{
	margin-left: 4px;
	width: 48%;
	margin-top: 7px;
}

.wDate-lbl{
	margin-top: -23px;
	position: relative;
	top: 11px;
}

.font-30{
	font-size: 30px;
}

.sec-a{
	/*width: 80%;*/
	margin: 0 auto;
}
.sec-b{
	/*width: 90%;*/
	margin: 0 auto;
}
.height-42{
	height: 30%;
}
.week-pik{
	display: inline-block;
	width: 2%;
	position: absolute;
	z-index: 500;
	top: 205px;
	left: 501px;
}
.week-input{
	display: inline-block !important;
	width: 28% !important;
}

.height-90{
	height: 90.8%;
}
.main-container{
	height: 580px;
}

.collapse{
	display: block;
}

.info-div{
	position: absolute;
	z-index: 5;
    right: 72px;
    top: 162px;
}

/* .info-div{
	text-align: right;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-top: -38px;
	font-size: 16px;
} */

.breadcrum-cutom-style{
	width: 19%;
	display: inline-block;
	margin-bottom: -14px;
}

.mymeal-info{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.week-no-record{
	padding: 167px;
	font-weight: bold;
	width: 100%;
}

.margin-zero-margin-left{
	margin: 15px auto;
	margin-left: 5px;
}

div.wrapper-logbook-item{
    transition: all 0.2s linear;
    margin-left: 40px;
}

div.wrapper-logbook-item:hover{
    transform: scale(1.02);
}

.log-data-div{
	width: 90px;
	border: 1px solid;
	border-radius: 4px;
	max-height: 89px;
}

.data-div-value{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: 13px;
	cursor: pointer;
}

.data-div-lbl{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 18px;
	cursor: pointer;
}

.data-div-value-white{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: 13px;
	color: white;
	cursor: pointer;
}

.data-div-lbl-white{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 18px;
	color: white;
	cursor: pointer;
}

.data-div-value-prg{
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	cursor: pointer;
}

.data-div-lbl-prg{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.meal-under{
	background-color: #B9D762;
	border: 3px solid #99BD49;
}

.active-trend{
	background-color: #B9D762 !important;	
}
.inactive-trend{
	background: #D4D4D4;
}

.meal-over{
	background-color: #786565;
	border: 3px solid #4F4848;
}

.meal-log-info{
	font-weight: bold;

	margin-top: 10px;
	text-align: center;
}

.glu-under{
	background-color: #CCCCCC;
	border: 3px solid #767676 !important;
}

.glu-in{
	background-color: #B9D762;
	border: 3px solid #99BD49 !important;
}

.glu-over{
	background-color: #F88989;
	border: 3px solid #EA3939 !important;
}

.meal-log-time{
	margin-top: 0px;
	text-align: center;
	color: #A2A2A2;
	font-size: 15px;
	font-family: sans-serif;
}

.meal-log-time-white{
	margin-top: 0px;
	margin-left: 40px;
	text-align: left;
	color: #A2A2A2;
	margin-bottom: 25px;
	font-size: 15px;
	font-family: sans-serif;
	color: white;
}

.padding-bottom-12{
	padding-bottom: 12px;
}

.chart-info-div{
	position: absolute;
	top: 43px;
	z-index: 5;
	margin-left: 12px;
	text-align: left;
}

.chart-info-div1{
	position: absolute;
	top: 0px;
	z-index: 1;
	margin-left: 12px;
	text-align: left;
}

.meal-img{
	position: relative;
	top: -28px;
	left: -19px;
	height: 38px;
}

.glucose-img{
	position: relative;
	top: -26px;
	left: -19px;
	height: 38px;
}

.margin-bottom-11{
	margin-bottom: 11px;
}

.columnScaterchart {
	 min-width: 310px;
	 height: 350px;
	 width : 100% ;
	 margin: 0 auto

}

.height-405{
	height: 405px;
}

.height-470{
	height: 470px;
}

.width-93per{
	width: 93%;
	margin: 0 auto;
}

.width-23per{
	width: 23% !important;
}

.margin-4{
	margin-left: -4px;
}

.no-weekly-log{
	line-height: 147px;
	margin-left: 125px;
	font-weight: bold;
}

/* .no-weekly-log-1{
	line-height: 160px;
	margin-left: 45px;
	font-weight: bold;
} */

.width-81per{
	width: 81%;
	margin: 0 auto;
}

.inline-list-logbook>li{
	display: inline-block;
	float: none;
	margin: 0;
}

.inline-list-logbook{
	list-style-type: none;
	white-space: nowrap;
	overflow-x: auto;
	padding-right: 32px;
}

.margin-left-20{
	margin-left: 20px;
}

.margin-left-33{
	margin-left: 33px;
}

.margin-10-width-135per{
	margin-left: 10px;
	width: 135px;
}

.margin-left-75{
	margin-left: 75px;
}
.padding-buttom-10{
	padding-bottom: 10px;
}
.width-14per{
	width: 14% !important;
}

.checkbox{
	display: none;
}
/* .checkbox{
   width: 23px;
   height: 21px;
   background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 0 50%
}
.checked{
   background: transparent url(http://i.stack.imgur.com/S4p2R.png ) no-repeat 80% 50%
} */

.border-left-2{
	border-left: 1px solid #444;
}

.border-right-2{
	border-right: 1px solid #444;
}

.extra-tr{
	background: #E6E6E6 !important;
}

.extra-tr td{
	padding: 0px !important;
	line-height: 0;
}

.extra-tr .per-serving{
	font-weight:bold;
	position: relative;
	top: -5px;
	cursor: default;
}

.trend-btns-switch{
	margin: 0 auto;
	width:240px;
}

.freq-questions li{	
	padding: 10px;
}

.freq-questions li:hover{
	background-color: #eee;
}

.freq-questions li a{
	font-size: 16px;
	display: inline;
}

.dialog-area{
	max-height: 450px;
	overflow: hidden;
	overflow-y:auto;
	padding: 10px;
}

.past-meals-btn{
    float: right;
    right: 7px;
    top: -43px;
}

#topHeaderPhone{
    display: none;
}

.top-patient-name{
    margin-left: -120px;
}

.centered-li{
    width: 100%;
    text-align: center;
}

.nav-icons{
    height: 16px;
    cursor: pointer;
    vertical-align: bottom;
    width: 16px;
}

.edit-icon{
    margin-right: 10px;
}

.margin-top-90{
    margin-top: 57px;
}

.custom-tc{
    padding: 7px;
}

.month-picker-dt{
    width: 300px !important;
    float: right;
}

.log-details-btn-align{
    top: 132px;
    position: relative;
}

/* Chart Nav Buttons */

.chart-nav-buttons{
    margin: 0 auto;
}

.chart-nav-buttons ul{
    margin: 0 auto;
}

.chart-nav-buttons ul#monthlyNavBtns,
.chart-nav-buttons ul#threeDaysNavBtns,
.chart-nav-buttons ul#fourteenDaysNavBtns{
    width: 700px;
}

.chart-nav-buttons ul#weeklyNavBtns{
    width: 600px;
}

.chart-nav-buttons ul#dailyNavBtns{
    width: 570px;
}

.chart-nav-buttons li span{
    text-transform: uppercase;
    font-size: 12px;
}

.chart-nav-buttons img{
    height: 28px;
}

.chart-section-header{
    padding: 5px;
}

.chart-section-header img{
    height: 30px;
}

.chart-section-header{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.g-button,
.bg-glucose{
    background-color: #ff6666;
}

.g-button:hover{
    background-color: #ff544b;
}

.m-button,
.bg-meal{
    background-color: #8AB329;
}

.m-button:hover{
    background-color: #69b32b;
}

.med-button,
.bg-med{
    background-color: #FD8A8A;
}

.med-button:hover{
    background-color: #ff6666;
}

.w-button,
.bg-weight{
    background-color: #ab61af;
}

.w-button:hover{
    background-color: #af4aa9;
}

.a-button,
.bg-activity{
    background-color: #f5c430;
}

.a-button:hover{
    background-color: #f5cc53;
}

.chart-buttons-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
}

.log-details-nav-btns{
    margin-top: 10px !important;
    text-align: right;
    padding-bottom: 10px;
}

.meal-summary-text{
    color: #8AB329;
}

.padding-top-10{
    padding-top: 10px !important;
}

.margin-top-0{
    margin-top: 0 !important;
}

.margin-top-10{
    margin-top: 10px !important;
}

.text-black{
    color: #000 !important;
}

.text-red{
    color: #cf2a0e !important;
}

.height-470{
    height: 470px;
}

.width-100perc{
    width: 100% !important;
}

.width-328{
    width: 328px;
}

.width-828{
    width: 859px;
}

.vertical-top{
    vertical-align: top;
}

.max-characters{
    font-size: 11px;
    position: absolute;
    padding: 2px;
	bottom: 0px;
	right: -105px;
    background-color: #eee;
}

.profile-upload{
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    padding: 10px;
}

.profile-upload:hover{
    background: #000;
}

.uploading-image{
    position: absolute;
    left: 50%;
    margin-left: -12%;
    top: 44%;
    background-color: #fff;
    display: none;
    font-size: 18px;
    font-family: arial;
    padding: 10px;
    color: #8AB329;
}

.chart-loading{
    position: absolute;
    width: 100%;
    height: 109%;
    background: #fff;
    top: 0;
    opacity: 0.6;
}

.chart-loading label{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -56px;
	color: #799c25;
	font-size: 18px;
	min-width: 100px;
}

.bs-example{
    margin: 20px;
}
.tab-content{
    display: block;
}
.heading-style{
    background-color: rgb(238, 238, 238)
}
.highcharts-container{
    width: 100% !important;
}
.container-margin-top{
    margin-top: 50px;
}

select.ui-datepicker-year{
    background-color: #fafafa !important;
}
.ui-datepicker .ui-datepicker-title select,
select.ui-datepicker-year{
    color: #000;
    height: 38px;
    line-height: 38px;
    padding-top: 0;
}
.no-log-error-center{
    width: 100%;
    text-align: center;
    display: block;
    margin-left:0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #eee;
}

.coach-area-expand{
    display: none;
}
.chart-info-div_weight {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    margin-left: 45px;
    text-align: left;
}
.center-align-chart-small {
    width: 750px;
    margin: 0 auto
}
.centered-msg {
    display: block;
    text-align: center;
    width: 100%;
    min-height: 100px;
    line-height: 100px;
    font-weight: bold;
}
.height-200 {
    height: 200px;
}

/* Chart lines*/
.chart-line {
    position: absolute;
    width: 0.1em;
    background-color: #3c3c3c;
    z-index: 1;
}
.div-first-left {
    left: 445px;
}
.div-second-left {
    left: 798px;
}
.div-empty-first-left {
    left: 445px;
}
.div-empty-second-left {
    left: 798px;
}
.div-first-day-meds {
    height: 87px;
    bottom: 62px;
}
.div-first-day-glucose {
    height: 171px;
    bottom: 170px;
}
.div-first-day-activity {
    height: 157px;
    bottom: 364px;
}
.div-second-day-meds {
    height: 87px;
    bottom: 62px;
}
.div-second-day-glucose {
    height: 171px;
    bottom: 170px;
}
.div-second-day-activity {
    height: 157px;
    bottom: 364px;
}

.div-activity-combine-line{
    bottom: 63px;
    height: 139px;
}

.div-activity-steps-line{
    bottom: 240px;
    height: 145px;
}

.remove-bold{
    font-weight: normal !important;
}

.font-bold{
    font-weight: bold !important;
}

.dialog-para{
    font-size: 16px !important;
    color: #7B7B7B !important;
}

#foodDetails ul.inline-list{
    margin-left: 0 !important;
}

.first-column-75{
    width: 7.5% !important;
}

.margin-right-10{
    margin-right: 10px !important;
}

.show-hide-chat{
  background-color: #d9edf7;
  padding: 5px;
}

.show-hide-chat a{
    display: inline-block;
    width: 100%;
    color: #31708f !important;
    font-size: 18px;
}

.meal-name-field{
    display: inline !important;
    width: 410px !important;
    margin-bottom: 0 !important;
}

.padding-right-8{
    padding-right: 8px !important;
}

.padding-left-7{
    padding-left: 7px !important;
}

.uppercase{
    text-transform: uppercase;
}

.font-20{
    font-size: 20px;
}
.charts-seperator{
	position: absolute;
	left:10px;
	width:1px;
	height: 300px;
	top:60px;
	background-color: #ccc;
}
.charts-lbl{
	position: relative;
	bottom: 20px;
	z-index: 1;
	color: #FF6666;
}
.first-steps-title{
	bottom: 60px;
	height: 150px;
	left: 225px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
.second-steps-title{
	bottom: 60px;
	height: 150px;
	left: 600px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
.third-steps-title{
	bottom: 60px;
	height: 150px;
	left: 980px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
.fourteendays-steps-title{
	bottom: 145px;
	height: 70px;
	left: 555px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
.monthly-steps-title{
	bottom: 145px;
	height: 70px;
	left: 555px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}
.weekly-steps-title{
	bottom: 145px;
	height: 70px;
	left: 555px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}

.daily-steps-title{
	bottom: 140px;
	height: 70px;
	left: 555px;
	position: absolute;
	z-index: 1;
	font-weight: bold;
}

.blank-div{
	position: absolute;
	z-index: 1;
	width: 50px;
	font-size: 11px;
	background-color: #fff;
	color: #606060;
	height: 19px;
	display:none;
}

.blank-div1{
	position: absolute;
	z-index: 1;
	width: 41px;
	font-size: 11px;
	background-color: #fff;
	color: #606060;
	height: 19px;
	display:none;
}

.blank-div-monthly{
	position: absolute;
	z-index: 1;
	width: 40px;
	font-size: 11px;
	background-color: #fff;
	color: #606060;
	height: 19px;
	display:none;
}

.blank-div-left{
	bottom: 34px;
	left: 37px;
}

.blank-div-right{
	bottom: 34px;
	right: 15px;
}
.blank-div-left-scatter{
	bottom: 50px;
	left: 70px;
}

.blank-div-right-scatter{
	bottom: 49px;
	right: 16px;
}

.blank-div-left-scatter-rotate{
	bottom: 64px;
	left: 56px;
	transform: rotate(-45deg);
}

.blank-div-right-scatter-rotate{
	bottom: 64px;
	right: 16px;
	transform: rotate(-45deg);
}

.blank-div-left-activity{
	bottom: 34px;
	left: 70px;
}

.blank-div-right-activity{
	bottom: 34px;
	right: 16px;
}

.blank-div-left-activity-monthly{
	bottom: 34px;
	left: 40px;
	position: absolute;
	z-index: 1;
	width: 80px;
	font-size: 11px;
	background-color: #fff;
	color: #606060;
	height: 19px;
	text-align: right;
	display:none;
}

.blank-div-right-activity-monthly{
	bottom: 34px;
	right: 17px;
}
.meal-symbol-div{
	position:absolute;
	left:190px;
}
.before-meal-symbol{
	z-index: 1;
	display:inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.before-meal-symbol-under{
	border-bottom: 10px solid #ECB648;
}
.before-meal-symbol-in{
	border-bottom: 10px solid #5EA647;
}
.before-meal-symbol-over{
	border-bottom: 10px solid #DA4453;
}

.after-meal-symbol{
	width: 10px;
	height:10px;
	z-index: 1;
	display:inline-block;
}
.after-meal-symbol-under{
	background: #ECB648;
}
.after-meal-symbol-in{
	background:  #5EA647;
}
.after-meal-symbol-over{
	background:  #DA4453;
}
.resize-vertical{
	resize:vertical;
}

