body {
	font-size: 14px;
    background: url('images/body_pattern.png') repeat !important;
	overflow-x: hidden;
	font-family: arial;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-align: left;
	text-decoration: none;
	overflow: hidden;
	/* background-color: #d9dee2; */
}

.main-page {
	margin: 110px auto;
	background-color: #fff !important;
	border-radius: 2px;
	position: relative;
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
    max-width: 450px;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.padding-20 {
	padding: 5px;
}

small.error-msg {
	margin-top: -15px !important;
	display: none;
}

.top-46{
	top: 46px !important;
}

.margin-top-14{
	margin-top: 14px !important;
}

.height-48{
	height: 48px !important;
}

.alert-message-abs{
	width: 100%;
	top: 0;
	margin-left: -50%;
}

.th {
	border: none !important;
	box-shadow: none !important;
}

.th:hover {
	cursor: default !important;
}

input[type=submit] {
	color: white !important;
}

.login-input {
	/* background: #f9f9f9 url(resources/css/images/login-sprite.png) no-repeat !important; */
	padding: 15px 15px 15px 30px !important;
	margin: 0 0 10px 0;
	height: 47px !important;
	border: 1px solid #ccc;
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	border-radius: 2px !important;
	transition: border-color 0.2s linear;
	box-shadow: none !important;
}

select{
	transition: border-color 0.2s linear;
}

.login-input:focus,
select:focus{
	border:2px solid #69C4CB !important;
}

.position-fixed{
	position: fixed !important;
}

.forgot-password{
	font-size: 16px !important;
	color: #53B6BD !important;
    display: block;
    text-align: left !important;
    width: 100%;
}

.logo {
	padding: 15px;
	border-bottom: 3px solid #A4C749;
	margin-bottom: 10px;
	text-align: center;
	background-color: #666;
}

.logo img{
	width: 250px;
}
.custom-margin {
	margin: 0.5rem 0 1rem 0 !important;
}

.position-rel {
	position: relative;
}

#ajaxError {
	display: none;	
	width: 100%;	
	position: absolute;
	top: -53px;
	left: -5px;
	padding: 16px;
}

.img-credentials {
	position: absolute;
	top: 45px;
	left: 16px;
}

.sign-in-text {
	font-family: tahoma, arial, georgia;
	font-size: 36px;
	color: #A4C749;
	text-align: center;	
}

.enter-email-dialog{
	text-align: left !important;
	font-size: 22px !important;
}

.width-100perc {
	width: 100%;
}

.login-footer {
	margin-top: 15px;
	text-align: center;
	padding: 10px;
	text-align: center;
	background-color: #f6f6f6;
}

.login-footer p {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px !important;
	color: #666;
}

.login-footer a {
	font-size: 22px;
	font-weight: bold;
}

.padding-lr-22 {
	padding-left: 18px;
	padding-right: 18px;
}

.loader {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader img {
	position: relative;
	top: 45%;
	left: 45%;
}

.ajax-loader {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.ajax-loader img {
	position: relative;
	top: 45%;
	left: 45%;
}

.error-bootstrap-style {
	top: 75px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	max-width: 550px;
	margin: 0 auto;
	display: none;
}

.alert {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	width: 50%;
	margin: 5px;
	left: 25%;
	color: #fff;
	position: fixed;
	top: 55px;
	z-index: 100;
	display: none;
}

.alert-upload {
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	width: 75%;
	margin: 5px;
	left: 50%;
	color: #fff;
	position: absolute;
	top: 0px;
	z-index: 100;
	display: none;
	margin-left: -37%;
}

.error {
	background-color: #c60f13;
	border-color: #aa0d10;
}

.success {
	background-color: #43ac6a;
	border-color: #3a945b;
}

.close-alert{
	font-size: 1.22222rem;
	padding: 9px 6px 4px;
	line-height: 0;
	position: absolute;
	top: 50%;
	margin-top: -0.61111rem;
	right: 0.22222rem;
	color: #333;
	opacity: 0.3;	
}

.close-alert:hover{
	color: #333;
	opacity:1;	
}

.btn-sign-in{
	font-size: 20px !important;
	width: 100%;
	margin-bottom: 13px !important;
}

.except-footer{
	border: 1px solid #ccc;
}

.btn-teal {

	background-image: -ms-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -moz-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -o-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69C4CB), color-stop(1, #53B6BD));
	background-image: -webkit-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: linear-gradient(to top, #69C4CB 0%, #53B6BD 100%);
}

.btn-teal:hover {
	background-image: -ms-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -moz-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -o-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #53B6BD), color-stop(1, #69C4CB));
	background-image: -webkit-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: linear-gradient(to top, #53B6BD 0%, #69C4CB 100%);
}

/* FOOTER STYLE*/
.footer{
    background-color: #333;
	position: fixed;
	border-top:3px solid #A4C749;
	bottom: 0;
	width: 100%;
}

.footer .copyright-healtshlate{
	padding-left: 25px;
    padding-top: 18px;
    padding-bottom: 6px;
}

.footer .about-healthslate{
	padding-top: 20px;
}

.footer img{
	height: 18px;
	margin-bottom: 10px;
}

.grey-separator{
	position: absolute;
	height: 120px;
	left: -60px;
	width: 1px;
	top: 23px;
	background-color: #A4A4A4;
}

.footer p{
	color: #A4A4A4;
	font-size: 11px;
}

.color-green{
	color: #A4C749;
}

.row-full{
	max-width: 100% !important;
}

.padding-left-5{
	padding-left: 5px !important;
}

@media all and (max-height: 770px) {
	.main-page{
		margin-top: 20px;
	}

	#ajaxError{
		top: -15px !important;
	}

}

/* small screen */
@media all and (max-width: 505px) {
    .footer{
        display: none;
    }

    body{
        overflow-y: auto;
    }
    .main-page{
        padding-bottom: 50px;
        margin-bottom: 100px;
    }
}

/* medium screen */
@media all and (min-width: 505px) and (max-width: 900px) {
    .footer{
        display: none;
    }
    .main-page{
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    body{
        overflow-y: auto;
    }
}