body{				
	overflow-x:hidden;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}
.content{
	position:relative;
	font-family: tahoma;	
	margin:0 auto;
}

.main-page{						
			
	overflow-y: none;		
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	border-radius:5px;				
}
.small-grid,
.item-grid {
  width: 100%;
  padding: 0; 
  margin: 0; 		  
}

.small-grid li,
.item-grid li {
   		  		 
  list-style-type: none;
  width: 100%;		 
  padding: 10px;		  		
  transition: all 0.2s linear;
  position: relative;
  border-bottom:1px solid #eee;	
  font-size: 13px;	  
}

.small-grid li { 
  background-color: #6FC696; 
  width: 75px;
  height: 75px;
}

.item-grid li:hover{			
	background-color:#E3F2FF;
	border-color:#D3E4F3;	
	cursor: pointer;		
}

.upload-file-container{
	padding: 10px;
}

.content-manager{				
	min-height:700px;	
	max-height:700px;
	overflow-x:hidden;
	overflow-y:auto;	
}

.loader{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);	
}	

.loader .image-loader{
	position: absolute;
	top: 50%;
	padding:7px;
	left:50%;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	width: 290px;
	height: 120px;
	margin-left:-145px;	
	margin-top:-60px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.loader .progress-please-wait{
	color: #444;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px !important;
}

.loader .progress-text{
	color: #8F8F8F;
	font-size: 15px;
	margin-bottom: 4px !important;
	font-weight: bold;
}

.loader .progress{
	background: none !important;
	background-image: none !important;
	box-shadow:none !important;	
}

.alert{
	padding: 10px;
	border-radius:3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);	
	width:50%;
	margin: 5px;
	left:25%;				
	color: #fff;
	position: fixed;
	top: 55px;
	z-index: 100;	
	display: none;			
}

.alert-upload{
	padding: 10px;
	border-radius:3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);	
	width:50%;
	margin: 5px;
	left:25%;				
	color: #fff;
	position: absolute;
	top: 2px;
	z-index: 100;	
	display: none;			
}

.error{			
	background-color: #c60f13;
	border-color: #aa0d10;					
}

.success{
	background-color: #43ac6a;
	border-color: #3a945b;			
}

.side-nav li{	
	margin: 0px;
	padding: 0;
}

.side-nav li span.list-image{
	margin-right: 10px;
}

.side-nav li ul{
	list-style-type: none;
	margin: 0;		
}

.side-nav li ul li {
	list-style-type: none;	
	transition:all 0.2s linear;	
	list-style-type: none;
	margin: 0;
	padding-left: 25px;
	transition: all 0.2s linear;
	padding-top: 10px;
	padding-bottom: 10px;
}

.side-nav li ul li:hover {
	background-color: #4571DF;
	cursor: pointer;
}

.side-nav li ul li:hover a,
.side-nav li ul li:hover a:hover {
	cursor: pointer;
	color: #fff;
}

.list-image img{
	width: 32px;
	height: 32px;
}

img:hover{
	cursor: pointer;
}

.edit-url{
	margin-right: 3px;
}
.download{
	margin-right: 3px;
}

.top-10{
	top:10px;
}

.top-5{
	top:5px;
}

.grid-image {
	margin-right: 15px;
}
.grid-image img{
	width: 24px;
	height: 24px;
}

.light-grey-text{
	color: #666;
	font-size: 12px;			
	text-transform: uppercase;
	font-weight: bold;
}

.light-grey-text:hover{
	cursor: pointer;
}

.sort:hover{
	background-color: white !important;
}
.sort{
	background-color: white !important;
}

.empty-item{
	display: none;
}

.asc{
	position: relative;
	top:2px;
}

.desc{
	position: relative;
	top: -5px;
}

.selected-item{	
	background-color: #063581;/*#2E4EA1;*/	
}

.default-item{	
	background-color: #f6f6f6;
}

.top-search li{
	list-style-type: none;
	display: inline-block;
}

.delete-file-text{
	font-size: 20px;
	position: relative;
	top: -5px;
	color: green;
}

.padding-lr-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

a{
	text-decoration: none !important;
}

.file-count{
	float: right;
	margin-right: 10px;	
}

.row-full{
	max-width: 100% !important;
}

.center-div{
	padding-left: 30px;
}

.padding-left-20{
	padding-left: 22px !important;
}

.margin-right-0{
	margin-right: 0px !important;
}

.nav-buttons img{
	width:24px;
	height:24px;
}

.file-properties{
	position: absolute;
	display: none;
	width:300px;
	border:1px solid #ccc;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0px 0px 2px 1px #ccc;
	border-radius: 5px;
}

.grid-item-selected{
	background-color:#E3F2FF;	
}

.small-font{
	font-size: 12px;
	padding: 7px;
}

.text-bold{
	font-weight: bold;
	color:#666;
	text-transform: uppercase;
}

.dialog-fileName{
	color: #666;
	font-size: 13px;	
	padding: 5px;
	font-weight: bold;	
	width:230px;
	word-break:break-all;
}

.dialog-filename-container{
	background-color: #f2f2f2;
	border-color: #ccc;
	
}

.joyride-close-tip:hover{
	color:#ccc !important;
}

.category-selected{
	background-color: rgba(34,133,162, 1.0);
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.small-light-text{
	font-size: 13px;
	font-style: italic;
	color: green;
	font-weight: bold;
	position: relative;
	top: -4px;
}

.accordion dd.active > a{
	background-color: #063581 !important;
	color: white !important;
}

.active-accordion{
	background-color: #063581 !important;
	color: white !important;
}

dd{
	/* border-bottom:1px solid #ccc; */
}

dl div.content{
	padding: 0 !important;
}

.accordion dd.active a{
	background: none;
}

.upload-files{
	border: 1px solid #ccc;
	min-height:250px;
	max-height:500px;
	overflow-y: auto;
	overflow-x:hidden; 
}

.upload-files .button-group li {	
	padding: 0 !important;
	width: initial !important;
	border-bottom: none !important;
}

.position-rel{
	position: relative;
}

.top-10{
	top:10px;
}

.top-12{
	top:12px;
}

.top-17{
	top:17px;
}

.top-15{
	top:15px;
}

.upload-files-error{
	
	padding: 3px;
	border-radius: 3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	width: auto;	
	top:70%;
	left: 45%;
	color: #fff;
	position: absolute;
	z-index: 100;
	display:none;
	background-color: #c60f13;
	border-color: #aa0d10;	
}

.padding-left-0{
	padding-left: 0 !important;
}

.nav-tool-bar{
	display: none;
	position: absolute;
	left: 20%;
	top: 20px;
	z-index: 2;	
}

.nav-tool-bar .inline-list>li>*{
	display: inline;
}

.nav-tool-bar li{
	/* width:85px;
	text-align: center; */
}

.nav-tool-bar li span{
	display: inline;
	margin-right:4px;
}

.nav-tool-bar li a{
	font-size: 14px;
}

.rename-container{
	position: absolute;
	top: -7px;
	width: 80%;
	display: none;
}

.space{
	margin: 10px;
	text-align: center;
	padding: 10px;
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 2px #ccc;
}

.margin-bottom-0{
	margin-bottom: 0 !important;
}

.large-checkbox{
	width:24px;
	height:24px;
}

.email-label{
	display:inline-flex;
	font-size:17px;
	font-weight:bold;
	color:#222;
}

.email-label input{
	top:1px;
}

.progress-bar span{	
    position: absolute;    
    z-index: 2;
    color: black;
    text-align: center;
    left:45%;    
}

.small-switch{
	padding: 6px !important;
}

.padding-0{
	padding: 0px !important;
}

.padding-tb-0{
	padding-top: 0px !important;
	padding-bottom: 0px !important;	
}

#uploadFilesGrid input[type=checkbox]{
	margin-bottom:0px !important;
}

#uploadFilesGrid label.inline{
	margin-bottom:0px !important;
}

.webpagelink{
	color:black;
	cursor:default;
}

.close-alert{
	font-size: 1.22222rem;
	padding: 9px 6px 4px;
	line-height: 0;
	position: absolute;
	top: 50%;
	margin-top: -0.61111rem;
	right: 0.22222rem;
	color: #333;
	opacity: 0.3;	
}

.close-alert:hover{
	color: #333;
	opacity:1;	
}

.margin-tb-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.check-email{
	margin-right: 4px !important;	
	top:5px;
}

.break-words{
	word-break:break-all;
}
