.left-align-52{
	left: 52px !important;
}

.left-align-11{
	left: 11px !important;
}

.nav-list-width {
	width: 765px;
	margin-left: auto !important;
	position: relative;
}

.selected-providers-list{
	overflow-y: auto;
	max-height: 270px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.sel-pro-lbl{
	color:#4d4d4d;
	font-size: 14px;
	padding-left: 3px;
	vertical-align:8px;
}

.sel-pro-lbl-type{
	color:#4d4d4d;
	font-size: 11px;
	vertical-align: 8px;
}

.dialog-loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	top: 0;
	left: 0;
	opacity: 0.6;
}

.dialog-loading label{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -56px;
	color: #799c25;
	font-size: 18px;
	min-width: 100px;
}

.label-dialog{
	font-variant: small-caps;
	font-size: 20px;
	color: #53B6BD;
}

.prov-ul{
	padding-top: 0;
	margin-top: 0;
}

.prov-ul input[type='checkbox']{
	width: 25px;
	height: 25px;
}

.prov-ul li{
	padding-bottom: 0px;
}

.coach-designation-label{
	margin-left: 10px !important;
	color: #2F2F2F !important;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
}

.lead-coach{
	background-color: #f5c430 !important;
}

.primary-coach{
	background-color: #AFCF64 !important;
}

.teal-bullets-diag{
	list-style-type: disc;
	padding-left: 26px;
	padding-top: 0;
}

.teal-bullets-diag li{
	color: #53B6BD;
	font-size: 22px;
	margin-bottom: 0;
	margin-left: 20px;
}

.teal-bullets-diag li label.black{
	color: #000;
}