body{
	font-size: 14px;	
 	background-color: #fff; 	
 	font-family:arial; 	
 	background: #eee;
 	/*background-color: #eee;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee); */
	height: 100%;
}

.page-container{
	border-radius: 5px;
	position: relative;	 	  
  	max-width:92%;
  	margin: 58px auto;  	
  	margin-bottom: 10px;
  	overflow-y: none;			
	border-radius:2px;	
}

.my-meals-container{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
	background-color: #fff;
	padding-top: 10px;
	padding-left: 15px;	
	border:1px solid #ccc;
}

.border-bt-heading{	
	padding: 10px;
}

.recent-list-item{
	padding: 5px;
	background-color: #eee;
	border:1px solid #ccc;
	transition: all 0.2s linear;	
}

.recent-list-item .date-time {
	font-size: 11px;
	color:#444;
}

.recent-list-item .meal-name {
	font-size: 11px;
	color:#444;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.recent-list-item .meal-type {
	font-size: 11px;
	color:#444;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


.recent-list-item img{
	margin-bottom: 4px;
}

.item-container li {
	display: inline-block;
	margin: 5px;
	zoom: 1;
	height: 190px;
	width: 168px;
	position: relative;
	margin-bottom:65px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
	z-index: 2;
	transition: all 0.2s linear;
}

.process-label{
	position: absolute;
	top:0; right: 0;
}

.unit-label{
    left: 0 !important;
    right: inherit !important;
}

.drafted-label{
	position: absolute;
	top:0; left: 0;
}

.item-container li a:not(.remove-suggested-meal){
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: all 0.2s linear;
}

.item-container li img{
	height: 140px;
	width: 100%;
}

.item-container li:hover{
	transform:scale(1.2);
	z-index: 5;
}

.item-container li a:hover div {
	background-color: #69C4CB;
}

.item-container li a:hover .date-time,
.item-container li a:hover .meal-name,
.item-container li a:hover .meal-type{
	color: #fff;	
}


.holder {
    margin: 15px 0;
  }

  .holder a {
    font-size: 18px;
	cursor: pointer;
	margin: 0 5px;
	color: #333;
	padding: 7px;
  }

  .holder a:hover {
    background-color: #222;
    color: #fff;
  }

  .holder a.jp-previous { margin-right: 15px; }
  .holder a.jp-next { margin-left: 15px; }

  .holder a.jp-current, a.jp-current:hover {
    color: #FF4242;
    font-weight: bold;
  }

  .holder a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
  }

  .holder a.jp-current, a.jp-current:hover,
  .holder a.jp-disabled, a.jp-disabled:hover {
    cursor: default;
    background: none;
  }

  .holder span { margin: 0 5px; }
  
  .carbs-label{
  	background-color: #000 !important;
  	border-color:#ccc;  	
  }

  .padding-left-13{
      padding-left: 13px;
  }

  .remove-suggested-meal{
      bottom: -33px;
  }

.meal-summary-text{
    color: #8AB329;
}

.dialog-para{
    font-size: 16px !important;
    color: #7B7B7B !important;
}

.processed-by{
	font-size: 11px !important;
	color: #3a945b !important;
	font-weight: bold !important;
}