.select2-container{
    width: 100%;
}

.select2-container input:focus{
    border:none !important;
}

.grey-label-group label.uppercase{
    text-transform: uppercase;
    color: #444;
    font-size: 11px;
    padding-bottom: 0 !important;
    padding-top: 4px !important;
}

.grey-label-group label:last-child{
    color: #000;
    font-size: 13px;
    padding-top: 0 !important;
}

.grey-label-group label input{
    margin-bottom: 0!important;
}

.settings-container{
    /*background-color: #fff;*/
    padding: 10px 0 10px 0;
}

.profile-image{
    height: 180px;
    max-height: inherit;
}

.profile-upload{
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 93%;
    left: 0;
    z-index: 1;
    padding: 10px;
    margin-left: 8px;
}

.profile-upload:hover{
    background: #000;
}

.uploading-image{
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top:50%;
    background-color: #fff;
    display: none;
}

select.ui-datepicker-year{
    background-color: #fafafa !important;
}
.ui-datepicker .ui-datepicker-title select,
select.ui-datepicker-year{
    color: #000;
    height: 38px;
    line-height: 38px;
    padding-top: 0;
}

.intl-tel-input{
    width: 100%;
}