.misfit-battery-status{
    display: none;
}

.misfit-battery-status span:first-child{
    color: #999;
}

.misfit-battery-status span.warning{
    background-color: #f5c430 !important;
}

.dialog-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.dialog-loading label{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    color: #799c25;
    font-size: 18px;
    min-width: 100px;
}

#memberEatingPreferencesDialog{
    width: 54% !important;
}
#memberEatingPreferencesDialog label.inline{
    padding-left: 5px !important;
}

.single-line,
.no-wrap{
    white-space: nowrap;
}

.word-break{
    word-break: break-word;
}

.secure-link-text{
    min-height: 70px;
    overflow: hidden;
    resize: none;
}

.coach-todo-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: -18px;
    opacity: 0.6;
}

.coach-todo-loading label{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -17%;
    color:#799c25;
    font-size: 18px;
    text-transform: none;
}

.coach-todo-disable{
    opacity: 0.4;
}

.coach-todo-week-container{
    display: inline-block;
    width: 100%;
}

.coach-todo-week-container span.sp-coach-todo-week{
    position: relative;
    top:9px;
}

.coach-todo-nav{
    margin-bottom: 0 !important;
    display: inline;
}

.coach-todo-nav img{
    height: 22px;
}

.view-goal-rating{
    position: absolute;
    z-index: 1;
    width:125px;
}

#dialogOneToOneSessionList tr td:last-child{
    text-align: center;
}

.member-details-banner li{
    padding-bottom: 0 !important;
}
.margin-right-5{
    margin-right: 5px;
}

.dashboard-container{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.pat-exp-col{
    position: absolute;
    left: 43%;
    top: 91px;
    z-index: 1;
    margin-left: -61px;
    border: 2px solid #fff;
    border-radius: 4px;
    width: 207px;
    text-align: center;
}

.pat-exp-col .exp-col{
    background-color: #78A722;
    padding: 5px;
}

.pat-exp-col img{
    width: 16px;
}

.pat-exp-col span{
    color:#fff;
}

.coach-area-expand{
    background-color: #78A722;
    padding: 5px;
    position: absolute;
    right: -21px;
    z-index: 1;
    display: none;
}

.coach-area-expand img{
    height: 25px;
}

.bg-brown {
    background-color: #7B7979;
}

.bg-grey{
    background-color: #F8FAFC;
}

.label-group label {
    color: #E4E4E4;
}

.label-group label.uppercase {
    text-transform: uppercase;
    padding-bottom: 0;
    font-size: 11px;
}

.label-group label:last-child {
    padding-top: 2px;
    font-size: 14px;
}

.patient-image {
    border-radius: 50%;
    border: 4px solid #0F857F;
    display: inline-block;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -54px;
    left: 12px;
}

.padding-left-94 {
    padding-left: 94px;
}

.padding-top-13 {
    padding-top: 13px !important;
}

.patient-nav-btn-list{
    position: relative;
    top: 21px;
    left: 31px;
}

.patient-nav-btn-list-align{
    top:4px;
}

.hs-page-heading-align{
    position: relative;
    top:44px;
}

.patient-nav-btn-list li{
    position: relative;
}

.patient-nav-btn-list a {
    font-size: 11px;
    text-transform: uppercase;
    color: #1cacbd;
}

.patient-nav-btn-list .nav-divider{
    position: absolute;
    height: 49px;
    width: 1px;
    background-color: #818181;
    top: 0;
    left: -10px;
}

.patient-nav-btn-list a span{
    margin-right: 2px;
}

.patient-nav-btn-list a:hover{
    color: #53B6BD;
    text-decoration: underline !important;
}

.patient-nav-btn-list img{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.patient-nav-btn-list a:hover img{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

.glucose-summary .chart-header{
    background-color: #ff6666;
}

.glucose-summary-text{
    color: #ff6666;
}

.meal-summary .chart-header{
    background-color: #8AB329;
}

.meal-summary-text{
    color: #8AB329;
}

.activity-summary .chart-header{
    background-color: #f5c430;
}

.activity-summary-text{
    color: #f5c430;
}

.topic-summary .chart-header{
    background-color: #ab61af;
}

.topic-summary-text{
    color: #ab61af;
}

.logbook-summary .chart-header{
    background-color: #FD8A8A;/*#FBC1C1;*/
}

.logbook-summary-text{
    color:#999999;
}

.group-activity-summary .chart-header{
    background-color: #438fd2;
}

.group-activity-list a{
    cursor: default;
}

.group-activity-list li{
    padding-left: 40px;
}

.group-activity-list a:hover,
.group-activity-list li:hover{
    background-color: #fff !important;
    background: #fff !important;
}

.group-activity-list span.count{
    color:#438fd2;
    font-size: 16px;
}

.group-activity-list span.text{
    text-transform: uppercase;
    padding-bottom: 0;
    color:#999999;
    font-size: 12px;
}

.chart-section .chart-header span.image-span{
    padding: 6px;
    padding-right: 0px;
}

.chart-section .chart-header > a{
    /*display: block;
    width: 100%;*/
}

.chart-section .chart-header > a > *,
.chart-section .chart-header > a *{
    cursor: pointer;
}

.chart-section{
    min-height: 250px;
}

.label-group-chart label.uppercase{
    text-transform: none;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.label-group-chart label:last-child{
    color: #fff;
    font-size: 11px;
}

.summary-area .grey-divider{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    margin: 5px;
    min-height: 290px;
}

.unread-count{
    color: #fff;
    position: absolute;
    top: 1px;
    left: 8px;
    font-size: 12px;
    font-weight: bold;
}

.left-5{
    left: 5px !important;
}

.padding-top-0{
    padding-top: 0 !important;
}

.steps-text{
    color: #999;
    font-size: 15px;
    position: relative;
    top: -2px;
}

.grey-area-section{
   border-bottom: 1px solid #ccc;
}

.grey-section-buttons{
    padding-bottom: 10px;
}

.grey-area-section .green-header{
    padding-top: 10px;
}

.grey-area-section .green-header h5{
     color: #8AB329;
}

.grey-area-section span.teal-text{
    color:#53B6BD;
    font-size: 13px;
}

.grey-area-section span.teal-text:hover{
    color:#0F857F;
}

.red-text{
    color: red;
}

.teal-text{
    color:#53B6BD;
}

.coach-name{
    font-size: 11px;
    color: #A0A0A0;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}

.coach-notes{
    color: #444;
    font-size: 13px;
}

.row-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.border-bottom-grey{
    border-bottom: 1px solid #ccc;
}

.grey-label-group label.uppercase{
     text-transform: uppercase;
     color: #999;
     font-size: 11px;
     padding-bottom: 0 !important;
 }

.grey-label-group label:last-child{
    color: #000;
    font-size: 13px;
    padding-top: 0 !important;
}

table.coach-session{
    background-color: transparent;
    border-bottom: none !important;
}

table.coach-session thead{
    background-color: transparent;
}

table.coach-session th{
    padding: 0;
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    color: #A0A0A0;
    font-weight: normal !important;
}

table.coach-session tr{
    border-bottom: 1px solid #ccc;
}

table.coach-session tr:last-child{
    border-bottom: none;
}

table.coach-session tr td{
    font-size: 12px;
    text-align: left;
}

table.coach-session tbody tr:nth-child(odd),
table.coach-session tbody tr:nth-child(even){
    background-color: transparent;
}

.edit-info:hover{
    opacity: 0.8;
}

.listing{
    margin: 5px 0 5px 0;
}

.listing > li{
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    padding:0;
    border-bottom-width: 2px;
    position: relative;
    margin-bottom: 1px;
}

.listing > li > div.row-full{
    padding-top: 7px;
}


.goals-item{
    text-transform: uppercase;
    position: relative;
    min-height: 120px;
}

.goals-item .goal-details{
    padding:10px 60px 10px 50px;
}

.goals-item .category-outer{
    position: absolute;
    height: 100%;
    width: 33px;
}
.margin-top-5{
    margin-top: 5px !important;
}

.margin-top-10{
    margin-top: 10px !important;
}

.margin-top-0{
    margin-top: 0 !important;
}

.med-taken-status{
    position: absolute;
    top: 5px;
    width: 14px;
    left: -1px;
}

#medicationsList li{
    padding-left: 15px;
}

.goals-item .category-name{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    padding: 5px;
    color: #fff;
    text-align: center;
    left: -83px;
    width: 197px;
    top: 34%;
}

.goals-item .goal-name{
    text-transform: none;
    font-weight: bold;
    font-size: 17px;
}

.goals-item .action-plan{
    text-transform: none;
    font-size: 15px;
}

.goals-item .grey-black-pair{
    text-transform: none;
}

.goals-item .grey-black-pair .grey{
    text-transform: uppercase;
    font-size: 12px;
    color: #989898;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    font-weight: bold;
}

.grey-forced{
    color: #989898 !important;
}

.goals-item .grey-black-pair .black{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    text-transform: none;
    color: #000 !important;
}


.stress-sleep{
    background-color: #339999; /* Teal */
}

.stress-sleep-text{
    color: #339999 !important; /* Teal */
}

.healthy-eating{
    background-color:#799c25; /* Green */
}

.healthy-eating-text{
    color:#799c25 !important; /* Green */
}

.medication-monitoring{
    background-color: #ff6666; /* Red */
}

.medication-monitoring-text{
    color: #ff6666 !important; /* Red */
}

.work-money{
    background-color: #ab61af; /* Purple */
}

.work-money-text{
    color: #ab61af !important; /* Purple */
}

.family-relationship{
    background-color: #438fd2; /* Blue */
}

.family-relationship-text{
    color: #438fd2 !important; /* Blue */
}

.physical-activity{
    background-color: #f5c430; /* Yellow */
}

.physical-activity-text{
    color: #f5c430 !important; /* Yellow */
}

.general{
    background-color: #999999; /* Gray */
}

.general-text{
    color: #999999 !important; /* Gray */
}

.medication-monitoring .category-name{
    width: 230px !important;
    left: -98px !important;
}

.work-money .category-name{
    width: 209px !important;
    left: -89px !important;
}

.white-bg{
    background-color: #fff !important;
}

.goals-header{
    border-bottom: 1px solid #ddd;
}

.goals-header label{
    margin-bottom: 0 !important;
    padding-bottom: 5px !important;
    font-weight: normal;
    text-transform: uppercase;
    color: #A0A0A0;
    font-size: 12px;
}

.white-bordered-btn{
    background-color: #fff;
    background: #fff;
    border: 1px solid #339999;
    text-transform: uppercase;
    color: #339999;
    transition: all 0.2s linear;
    font-weight: bold !important;
}

.white-bordered-btn:hover{
    background-color: #339999;
    color: #fff;
}

.goal-progress-rating{
    position: relative;
    opacity:0.8;
    cursor: default;
}

.goal-progress-rating >*,
.goal-progress-rating img,
.goal-progress-rating label{
    cursor: default;
}

.coach-rating{
    position: relative;
    opacity:1.0 !important;
}

.goal-progress-rating img{
    width:50px;
}

.coach-rating img{
    width:66px;
}

.goal-progress-rating-dialog{
    opacity:1.0;
    position: relative;
}

.goal-progress-rating-dialog img{
    width:34px;
}

.goal-progress-rating-dialog img{
}

.goal-progress-rating-dialog label.not-at-all,
.goal-progress-rating-dialog label.reaching-all{
    position: absolute;
    bottom:-7px;
}

.goal-progress-rating-dialog li{
    position: relative;
}

.goal-progress-rating-dialog label.not-at-all{
    /* left:1px; */
}

.goal-progress-rating-dialog label.reaching-all{
    /* left:-3px; */
}

.goal-progress-rating-dialog span{
    left:10px;
    position: relative;
}
.goal-progress-rating span,
.coach-rating span{
    left:6px;
    position: relative;
    cursor:default;
}

.goal-progress-rating label.not-at-all,
.goal-progress-rating label.reaching-all,
.coach-rating label.not-at-all,
.coach-rating label.reaching-all{
    position: absolute;
    top:55px;
    font-size: 12px;
}

.goal-progress-rating label.not-at-all,
.coach-rating label.not-at-all{
    left:3px;
}

.goal-progress-rating label.reaching-all,
.coach-rating label.reaching-all{
    right: 2px;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.goals-habits-scrollable{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.habit-color{
    background-color: darkslateblue;
}

.remove-border{
    border: none !important;
}

.one-of{
    font-size: 13px;
    color: #A0A0A0;
}

.meal-chart{
    height: 150px;
}

.glucose-chart{
    height: 200px;
}
.meals-under{
    position: absolute;
    font-size: 17px;
    bottom: -14px;
    left: 50%;
    margin-left: -15%;
}

.chart-loading{
    position: absolute;
    width: 100%;
    height: 109%;
    background: #fff;
    top: 0;
    opacity: 0.6;
}

.chart-loading label{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -17%;
    color:#799c25;
    font-size: 18px;
}

label.no-data{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.avg-target-glucose{
    position: absolute;
    bottom: -20px;
    left: 2px;
    width: 100%;
}

.glucose-label{
    font-size: 12px;
    font-weight: normal;
}

.visible-hidden{
    visibility: hidden;
}

.session-checklist img{
    max-width:22px;
    height:22px;
    width:22px
}

.session-checklist li{
    padding-bottom: 5px !important;
    text-transform: none;
}

.session-checklist li div.padding-left-0{
    color: #888;
}

.teal-bullets{
    list-style-type: disc;
    padding-left: 26px;
    padding-top: 0;
}

.teal-bullets li{
    color: #53B6BD;
    font-size: 22px;
    margin-bottom: 0;
}

.teal-bullets li label.black{
    color: #000;
}

.font-size-14{
    font-size: 14px !important;
}

.font-size-16{
    font-size: 16px !important;
}

.italic{
    font-style: italic;
}

/*Curriculum area*/

.padding-left-0{
    padding-left: 0 !important;

}

.padding-right-0{
    padding-right: 0 !important;

}

.hs-page-heading h2{
    color: #8AB329;
    font-size: 32px;
}

.grey-area-section .topics-header{
    padding-top: 10px;
}

.grey-area-section .topics-header h5{
    color: #ab61af;
}

.remove-border{
    border: none;
}

.btn-purple {

    background-color: #752879;
    border:1px solid #fff;
}

.btn-purple:hover {
    background-color: #fff;
    border-color: #752879;
    color: #752879
}

.session-checklist img{
    max-width:22px;
    height:22px;
    width:22px
}

.session-checklist li{
    padding-bottom: 5px !important;
}

.session-checklist li div.padding-left-0{
    color: #888;
}

.teal-bullets{
    list-style-type: disc;
    padding-left: 26px;
    padding-top: 0;
}

.teal-bullets li{
    color: #53B6BD;
    font-size: 22px;
    margin-bottom: 0;
}

.teal-bullets li label{
    color: #888;
}

.topic-section{
    margin-top: 20px;
}

.topic-section h3{
    color: #ab61af;
    margin-bottom: 0;
}

.topic-section h6{
    text-transform: uppercase;
    color: #ab61af;
    margin-bottom: 0;
}

.curriculum-scrollable{
    max-height: 400px;
    overflow-y: auto;
    min-height: 292px;
    overflow-x:hidden;
}

.curriculum-green-header{
    background-color: #B6DD46;
}

.curriculum-green-header label{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}

.curriculum-green-header span{
    text-transform: uppercase;
    font-size: 12px;
}

.curriculum-green-header span.black{
    color: #5E5E5E !important;
    font-size: 16px;
    font-weight: bold;
}

.curriculum-green-header span.light-grey{
    color: #817D7D;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.tick-image{
    max-width:22px;
    height:22px;
    width:22px
}

.progress-item{
    background-color: #fff;
    padding: 20px 7px 20px 7px;
    border-bottom: 1px solid #ddd;
}

.progress-item p{
    margin-bottom: 0;
}

.progress-item p.session-text{
    font-size: 12px;
    text-transform: uppercase;
    color: #8AB329;
}

.progress-item p.quiz-name,
.progress-item p.status{
    font-size: 14px;
}

.progress-item p.status{
    color: #888;
}

.progress-list{
    padding: 0;
}
.progress-list li{
    margin-bottom: 0!important;
}

.bg-grey-light{
    background-color: #F8FAFC;
}

.bg-white-topics{
    background-color: #fff;
    padding: 5px;
}

.curriculum-header{
    background-color: #AB61AF;
    border-top:2px solid #fff;
    border-bottom:5px solid #752879;
}

.curriculum-header h3{
    color: #fff;
    position: relative;
    top: 12px;
}

.curriculum-header span{
    font-size: 14px;
}

.curriculum-header .align-image{
    position: relative;
    top:6px;
}

#topicsOverviewBtn{
    color:#ab61af;
}

#topicsOverviewBtn:hover{
    color: #752879;
}

.open-new{
    position: absolute;
    right: 0;
    top: 0;
    width: auto !important;
    display: inline !important;
    z-index: 1;
}

.align-log-count{
    font-size: 23px;
    position: relative;
    top: 10px;
}

.align-log-text{
    position: relative;
    top: 7px;
}

.min-height-80{
    min-height: 120px !important;
}

.min-height-80 .more-charts{
    position: relative;
    top: 10px;
}

#logEntries:hover > *,
#logEntries span:hover,
#logEntries:hover{
    color: #ccc;
}

.open-new:hover{
    opacity: 0.8;
}

.font-size-12{
    font-size: 12px;
}

.starting-weight{
    position: absolute;
    top: -17px;
    left: 71px;
    cursor: default;
}

.current-weight{
    position: absolute;
    top: 9px;
    left: 71px;
    cursor: default;
}

.target-weight{
    position: absolute;
    top: 38px;
    left: 71px;
    cursor: default;
}

a.teal-text{
    font-size: 14px;
}

.top-132{
    top:132px;
}

.top-77{
    top:77px;
}

.top-95{
    top:95px;
}

/*.chosen-container{
    width: 400px !important;
}*/

.chosen-container li,
.chosen-container span{
    font-weight: normal;
}

.width-400{
    width: 400px !important;
}

.chart-divider{
    position: absolute;
    right: 0;
    height: 104%;
    width: 1px;
    background-color: #eee;
    top:0;
}

.chart-divider-height-110{
    height: 110%;
}

.chart-divider-height-115{
    height: 115%;
}

.meds-chart{
    height: 200px;
}

.curriculum-iframe{
    min-height: 1000px;
}

.empty-iframe{
    min-height: 752px;
    height: 752px;
}

.curriculum-loading{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:#fff;
}

.curriculum-loading label{
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -5%;
    font-size: 18px;
}

.to-do-list-scrollable{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 330px;
    position: relative;
}

.total-glucose-tests{
    position: absolute;
    top:55px;
    left:17px;
    display: none;
}

.coach-designation-label{
    margin-left: 10px !important;
    color: #2F2F2F !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.coach-name-notes{
    margin-left: 0 !important;
    position: relative;
    top: -3px;
}

.lead-coach{
    background-color: #f5c430 !important;
}

.primary-coach{
    background-color: #AFCF64 !important;
}

.primary-coach-glow{
    border: 2px dashed #AFCF64;
    padding-left: 5px;
    margin-top: 10px;
    text-align: center;

    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
    -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
    transition: border 0.1s linear, box-shadow 0.1s linear;
}

.medication-area-border{
    border: 2px dashed #AFCF64;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
    -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
    transition: border 0.1s linear, box-shadow 0.1s linear;
}

.primary-coach-glow.active {
    border-color: #8AB329;
    -webkit-box-shadow: 0 0 7px #8AB329;
    -moz-box-shadow: 0 0 7px #8AB329;
    box-shadow: 0 0 7px #8AB329;
}

.see-all-goals:hover{
    color: #747474;
}

.remove-width{
    width: auto;
}

.top-goal-image img{
    width: 24px!important;
}

.teal-bordered{
    position: absolute;
    bottom: 1px;
    left: 16px;
}

.teal-bordered li{
    border: 1px solid #339999;
}
.teal-bordered li a:first-child{
    border-left:1px solid #339999;
}

.border-right-grey{
    border-right: 1px solid #ddd;
}

span.custom, span.checkbox{
    display:none;
}

.medication-add-area{
    position: relative;
    border-bottom: 1px solid #ccc;
}

.overlay-layer{
    position: absolute;
    top: 0;
    background-color: #F8FAFC;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.icon-images{
    width: 20px;
    height: 21px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 3px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.icon-images:first-child{
    margin-right: 2px;
}
img.cross:hover {
    border-width: 2px;
    border-color: #f15f68;
}

img.edit:hover {
    border-width: 2px;
    border-color: #f4b400;
}
/*

.med-delete{
    position: absolute;
    top: 0;
    right: 3px;
}
*/

.dialog-para{
    font-size: 16px !important;
    color: #7B7B7B !important;
}

.goal-ratings-history{
    padding-top: 0 !important;
    /*background-color: #d9edf7;*/
    /* border: 1px solid #31708f; */
    padding-bottom: 0;
    border-radius: 10px 0 0 10px;
    border-right: none;
    box-shadow: rgba(0,0,0,0.34902) 0px 1px 10px;
}

.goal-ratings-history > li {
    list-style-type: none;
    transition:all 0.2s linear;
    list-style-type: none;
    margin: 0;
    padding: 14px;
    transition: all 0.2s linear;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    color: #666;
    font-weight: bold;
    padding-left: 8px;
}

.goal-ratings-history img{
    width:33px !important;
}
