.over-flow{
    max-height:650px;
    overflow:hidden;
    overflow-y:auto;
    background-color:#f9f9f9;
    border:1px solid #eee;
    margin-bottom:10px;
}

.over-flow input[type='radio']{
    width:25px;
    height:25px;
    margin-bottom:0 !important;
}

.over-flow div.options{
    padding-left:15px;    
}

.over-flow div.options h6{    
    font-size:14px;
    font-weight:bold;
}

.over-flow ul.side-nav a {
    font-size:18px;
    padding-left:10px;
}

.over-flow ul.side-nav label.inline{
    margin-bottom: 0;
    font-size: 15px;
    position: relative;
    top: -6px;
    white-space: nowrap;
    padding-top:0.5rem;
}

.font-bold{
    font-weight:bold;
}

.align-right{
    text-align:right;
}

.margin-bottom-0{
    margin-bottom:0 !important;
}

.inline-list{

	margin-left:0 !important;
	margin-bottom:0 !important;
}

.side-nav li{
	padding-bottom:0 !important;
	margin-bottom: 0 !important;
	padding-right: 30px;
	padding-top: 5px;
}

label span.text{
	position: relative;
	top: -7px;
}