body{
	/* background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee); */
	background-color: #eee;
}

.main-page{
	box-shadow:none;
	border-radius:2px;
}

a {
	color: #047CB9;
	text-decoration: none;
}
.spanPag {
	text-align: center;
	width: 40%;
}
.spanSer{
	float: right;
}
.cusInput{
	/* height: 30px; */
}
.ui-datepicker-trigger{
	/* height: 30px; */
	margin-bottom: 5px;
}

.searchHeader{
	background-color: #eee;
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	font-family: tahoma;
	border: 1px solid #ccc;			
}

table{
	border:none;
	margin: 0;
	margin-bottom: 0;
}

table td{
	border:none;
	border-top:none;
}

.table>tbody>tr>td{
	border-top:none;
}

.calendar-icon{
	font-size: x-large;
	position: relative;
	top: 5;
	left: 1;
}

table.dataTable{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

table.dataTable thead th{

}


.paging_full_numbers{
	position: absolute;
	left: 36%;
	padding-top: 6px;
}

.paging_full_numbers a.paginate_button{
	background-color: #eee;
	border-radius:3px;
}

input[type="checkbox"]{
	margin: 0;
}

 td.sorting_1{
 			 	
 }
 
 table.dataTable td{
 	border:1px solid #ccc;	
 	text-align: left;
    padding: 13px;
 }
 
 tr.custom-tr{
 	background-color:#fff; 		 	
 }
 
 tr.custom-tr:hover{
 	background-color:#E3F2FF;
	border-color:#D3E4F3;	
 }
 
 table.dataTable tr.odd,
 table.dataTable tr.even,
 table.dataTable tr.odd td.sorting_1,
 table.dataTable tr.even td.sorting_1{
 	background-color:#fff;
 }

table.dataTable tr.even:hover,
table.dataTable tr.odd:hover,	
table.dataTable tr.odd:hover td.sorting_1,
table.dataTable tr.even:hover td.sorting_1 {
	/*background-color:#E3F2FF;*/
	border-color:#D3E4F3;
 }
 		 
 tbody tr td:first-child{
 	text-align: center;
 }
 
 .radio, .checkbox{
 	margin: 0;
 	padding: 0;
 	min-height: 0;		 	
 }
 
 .dataTables_length label,
 .dataTables_filter label{
 	text-align: left;
 }
 
 .advance-date{		 	
 	width: 300px;		 	
 	z-index: 3;
 }
 
 .advanced-btn{		 	
	position: relative;
	left: -17px;			 
 }		 
 		 
 .basic-btn{
 	display: none; 	
	position: absolute;
	left: 61%;
	bottom: 13px;
 }
 		 
 .basic-btn label{
 	position: absolute;
 	bottom: -20px;
 }
 
 .advanced-btn label,
 .basic-btn label{
 	color: blue;
 }
 
 .advanced-btn label:hover,
 .basic-btn label:hover {
 	text-decoration: underline;
 }
 
  .balloon{
 	display:block;
 	width:200px;
 	height:200px;
 	border-radius:50%;
 	font-size:18px;
 	color:yellow;
 	line-height:200px;
 	padding:5px;
 	text-shadow:1px 1px 2px #000;
 	text-align:center;
 	text-decoration:none;		 	
	background:-webkit-linear-gradient(to bottom, #09f, #063581);
	background:-moz-linear-gradient(to bottom, #09f, #063581);
 	background:linear-gradient(to bottom, #09f, #063581);
 	transition: all 50ms linear;
 	margin:0 auto;		 	
   }  		 		 
 
/* .balloon {
    width: 500px;
    margin: 10% auto;
    padding: 0;
    text-align: center;
    position: relative;
} */

.banner {
    width: 400px;
    height: 75px;
    background:-webkit-linear-gradient(to bottom, #40b3ff, #09f);
	background:-moz-linear-gradient(to bottom, #40b3ff, #09f);
 	background:linear-gradient(to bottom, #40b3ff, #09f);
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-top: 1px dashed #40b3ff;
    border-bottom: 1px dashed #40b3ff;
}

.banner p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;		    
    color: #fff;		   
    text-shadow: 1px 1px 1px #000;
    line-height: 60px;
}

.banner:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50px;
    width: 0;
    height: 0;
    border-right: 70px solid #40b3ff;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
}

.banner:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 70px solid #40b3ff;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
}

.ribbon {
    width: 120px;
    height: 75px;
    background:-webkit-linear-gradient(to bottom, #40b3ff, #09f);
	background:-moz-linear-gradient(to bottom, #40b3ff, #09f);
 	background:linear-gradient(to bottom, #40b3ff, #09f);
    position: absolute;
    z-index: -2;
}

.ribbon.left {
    top: 20px;
    left: 0;
}

.ribbon.left:before {
    content: "";
    position: absolute;
    left: -29px;
    top: 0;
    width: 0;
    height: 0;
    border-right: 30px solid #40b3ff;
    border-top: 0 solid transparent;
    border-bottom: 37.5px solid transparent;
}

.ribbon.left:after {
    content: "";
    position: absolute;
    left: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 30px solid #40b3ff;
    border-top: 37.5px solid transparent;
    border-bottom: 0 solid transparent;
}

.ribbon.right {
    top: 20px;
    right: 0;
}

.ribbon.right:before {
    content: "";
    position: absolute;
    right: -29px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #40b3ff;
    border-top: 0 solid transparent;
    border-bottom: 37.5px solid transparent;
}

.ribbon.right:after {
    content: "";
    position: absolute;
    right: -29px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #40b3ff;
    border-top: 37.5px solid transparent;
    border-bottom: 0 solid transparent;
}

.balloon:hover{
	cursor: pointer;
	opacity:0.8;
}

/*.ui-datepicker{
	z-index: 4 !important;
}*/

.header-without-sort{
	background: none !important;
	background-color: #eee !important;
	cursor: default !important;
}

.dataTables_info{
	position: relative;
	top:2px;
}

.notification-queue{			
	position: absolute;
	width:340px;			
	right: -340px;
	top:10px;
	background-color: #dff0d8;
	border:1px solid #d6e9c6;
	color: #3c763d;
	padding: 20px;
	font-size: 15px;
	border-radius:5px;
}

.notification-queue .notificationQueueMsg{
	text-align: left;
	padding: 10px;
}

.notification-queue > a{
	position: absolute;
	right: 5;
	font-size: 32px;
	top: 0;
	color: #3c763d !important;
}

.notification-queue > a:hover{
	opacity:0.7;
}

.innerTableClass{
	position: relative;
}

.unprocess-status{
	width: 84px !important;
	padding: 7px !important;
	font-size: 12px !important;
	left: 0;
	position: inherit;
	margin: 0;
	box-shadow: none;
}

.signature{
	position: absolute;
	left: -40px;
	font-size: 11px;
	background-color: #cf2a0e;
	border:1px solid #d43f3a;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
}
