.boldHeader{
    font-weight: bold;
}
.left-margin-20{
    margin-left: 20px;
}
.text-underline{
    text-decoration: underline;
}
.left-float{
    float: left;
}
.top-padding-5{
    padding-top: 5px;
}
.top-margin-5{
    margin-top: 5px;
}
.top-margin-25{
    margin-top: 25px;
}
.padding-top-100{
    padding-top: 100px;
}
.padding-left-10{
    padding-left: 10px;
}

.updated{
    background-color: #DCE5C0;
}
.width-1080{
 width: 1080px;
}
.height-500{
    height:500px;
}
.width-750{
    width:750px;
}
.top-margin-negative-5{
    margin-top: -5px;
}