
/* Small screens */
@media (max-width: 630px) {

    body{
        text-align: center;
    }
}

/* Medium screens */
/* Portrait tablet to landscape and desktop */
@media (min-width: 650px) and (max-width: 1000px) {

    body{
        text-align: center;
    }
}