body{
    background: #fff !important;
}

.align-pro-label{
    position: relative;
    top: 3px;
}

.day-month-year{
    position: relative;
    top: -22px;
    left: 121px;
    color: #999;
}

.specs{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    left: -18px;
}

.specs-ios{
    top: 21px;
}

.specs-android{
    top:66px;
}

.bg-dark-green{
    background-color: #77A22F;
    padding: 10px;
    margin-top: 14px;
}

.bg-dark-green p.statement{
    color: #2F3F0A !important;
}

.text-white{
    color: #fff;
}

.consent-form-container{
    min-height: 300px;
    position: relative;
}

.consent-form-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: -18px;
    opacity: 0.6;
}

.consent-form-loading label{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -7%;
    color:#799c25;
    font-size: 18px;
    text-transform: none;
}

.recruitment-green{
    background-color: #8AB329;
    border-bottom: 4px solid #B9D762;
}

#videoModalTitle{
    color: #8AB329;
}

.recruitment-brown{
    background-color: #666;
}

.cascade-description h2{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 25px;
    padding-top: 35px;
}

.cascade-description .evergreen-header{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.cascade-description h5{
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.cascade-description p{
    margin-bottom: 0;
}

.recruitment-video{
    padding:20px 0 20px 0;
}

.cascade-description p.statement{
    font-size: 12px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cascade-description p.healthslate-logo{
    position: absolute;
    bottom: -69px;
}

.introducing-description{
    padding:20px 0 20px 0;
}

.introducing-description h4{
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 1px;
    margin-top: 10px;
}

.introducing-description p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.smiley{
    position: relative;
    top: 20px;
}

.min-width-250{
    min-width: 250px;
}

.learn-more-align{
    position: relative;
    top: 41px;
}

.section-padding{
    padding: 20px 0 0 0;
    border-bottom: 2px solid #ddd;
}

.teal-text{
    color:#53B6BD;
}

.real-people-list p{
    position: relative;
    top: 17px;
}

.white-logo-align{
    position: relative;
    top: 22px;
}

.white-logo-align img{
    height: 40px;
}

.phone{
    position: relative;
    top: -64px;
}

.rounded{
    border-radius: 13px !important;
}

.text-black{
    color: #000;
}

.margin-top-0{
    margin-top: 0 !important;
}

.consent-box-scrollable{
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
}

.consent-box-scrollable p{
    font-size: 14px;
    color: #999999;
}

.padding-left-10{
    padding-left: 10px !important;
}

.teal-bullets li label{
    font-size: 17px;
    text-align: left;
}
.selected-providers-list{
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;
    max-height: 270px;

}
.sel-pro-lbl{
    color:#000000;
    font-size: 13px;
    vertical-align: 8px;
}
.sel-pro-lbl-type{
    color:#000000;
    font-size: 11px;
    vertical-align: 12px;
}
.prov-ul li{
    padding-bottom: 0px;
}

.printer-email-buttons a:hover{
    opacity: 0.7;
}

.printer-email-buttons li{
    margin-left: 7px;
}

.printer-email-buttons a.printer-img{
    position: relative;
    top: -2px;
}

.grey-area-section h4{
    text-align: left;
}

/* Small screens */
@media (max-width: 630px) {

    .healthslate-logo{
        display: none;
    }

    .learn-more-align{
        position: inherit !important;
        top:0px;
    }

    .introducing-description{
        padding-left:20px;
    }

    .navbar-header{
        text-align: center;
        margin-left: 0;
    }

    .cascade-slogan{
        float: none;
        text-align: center;
    }

    .switch-left-center{
        text-align: center;
    }
}

/* Medium screens */
/* Portrait tablet to landscape and desktop */
@media (min-width: 650px) and (max-width: 1000px) {

    .healthslate-logo{
        display: none;
    }

    .introducing-description{
        padding-left:20px;
    }

    .navbar-header{
        text-align: center;
        margin-left: 0;
    }

    .cascade-slogan{
        float: none;
        text-align: center;
    }
}