.navbar-header{
    width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

.recruitment-nav{
    border-bottom: 4px solid #999;
    margin-bottom: 0;
}

.cascade-logo{
    position: relative;
    top: -6px;
    width: 250px;
}

.cascade-slogan{
    float: right;
    font-size: 13px;
    text-align: right;
    position: relative;
    top: 15px;
}

.footer{
    background-color: #333;
    width: 100%;
    text-align: left;
}

.grey-separator{
    left: -19px;
}

.remove-width{
    width: auto;
}