body{
	font-size: 14px;
	background: #f2f2f2;	
 	background-color: #f2f2f2;
 	overflow-x: hidden;
 	font-family:arial;
}

.border-style {		
	background-color: #fff !important;
	border-radius: 5px;
	position: relative;	
 	border:1px solid #ccc;
  	box-shadow: 0px 0px 5px #ccc;
}

.width-450{
	min-width: 250px;	
	max-width: 450px;
}

.width-500{	
	min-width: 250px;
	max-width: 500px;
}

.width-550{
	
	min-width: 250px;	
	max-width: 550px;
}

.width-700{
	min-width: 250px;	
	max-width: 700px;
}

.width-630{
	min-width: 250px;	
	max-width: 630px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: left;
}

.padding-20 {
	padding: 20px;
}

.padding-10 {
	padding: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-left-0 {
	padding-left: 0px !important;
}

.top-20 {
	top:5%;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-10{
	margin: 5px;
}

.margin-right-10{
	/*margin-right: 10px !important;*/
}

.margin-right-15{
	margin-right: 15px !important;
}

.margin-left-10{
	margin-left: 10px !important;
}

.align-middle {
	vertical-align:middle;
	text-align:center;
}

.align-left{
	text-align: left;
}

.font-18{
	font-size: 18px !important;
}

.textinput-style-blue{
	background-color: #2ba6cb !important;
	border-color: #2285a2 !important;
	color: white !important;
	height: 40px !important;
	border: 1px solid #2285a2 !important;
	font-size: 18px !important;
	border-radius: 3px !important;
	line-height:40px;
}

.textinput-style{	
	height: 50px !important;	
	font-size: 18px !important;
	border-radius: 3px !important;
}

.button-orange{
	background-color: #FF6600 !important;
}

.button-orange:hover{
	background-color: #D2691E !important;	
}

.hide{
	display: none !important;
}

.email{
	color: blue !important;
	text-decoration: underline !important;
}

.inside-row{
	margin-left: 0px !important;
	text-align: left !important;
}

.padding-0{
	padding: 0 !important;
}

.padding-tb-0{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.padding-lr-15{
	padding-left: 15px;
	padding-right: 15px;
}

.padding-lr-10{
	padding-left: 8px;
	padding-right: 8px;
}

.select-multiple{
	background: none !important;
	height: 100px !important;
}

.chosen-choices{
	height: 37px !important;
}

.text-bold{
	font-weight: bold;
}

.panel-note{
	height: 70px;
}

.panel-note p{
	position: relative;
	top: -10px;
}

.strike-through{
	text-decoration: line-through;
}

/*#cardInfoFieldset{
	margin-right: 10px !important;
}
*/
.margin-lr-5{
	margin-left: 5px;
	margin-right: 5px;
}

.margin-lr-10{
	margin-left: 10px;
	margin-right: 10px;
}

.padding-tb-10{
	padding-top: 10px;
	padding-bottom: 10px;
}

.height-5{
	height: 10px !important;
}

.font-15{
	/*font-size: 16px !important;
	font-weight: bold !important;	*/
}

.button-width-150{
	width: 150px !important;
}

small.error{
 /* margin-top: -15px !important;  */
}

.margin-top-negative-15{
	margin-top: -15px !important;  	
}

.margin-top-negative-8{
	margin-top: -8px !important;  	
}

.font-gothic{
	font-family: Franklin Gothic Medium !important;
}

.font-georgia{
	font-family: georgia arial Medium !important;	
}

.foot-statement {
	font-family: Tahoma;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

.loader{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);	
}

.loader img{
	position: relative;
	top: 45%;
}

.centered-img{
	top: 50%;
	left:50%;
	margin-left: -30px;
}

/* twitter bootstrap typeahead css only */

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 2px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin:0;
  margin-top: -18px; /*osama editted*/
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;          
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.typeahead {  
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error-class{
  position: absolute;
  top: 5px;
  display:none;
  width:50%;
  left: 23%;
}

.navigation-buttons{

  /*top: 5px;  
  right: 4px;*/
  z-index: 95;
  position: relative;
  text-align: center; 
  padding-right: 4px;
  padding-left: 4px;   
}

.logo{
  padding: 10px;
  position: relative;  
  text-align: center;
  background-color: #f2f2f2;   
}

.red{
	color:red;
	font-size:18px;
	font-weight:bold;
}

.back-button{
	position: absolute;
	top:-53px;
	left:0px;
	display:none;
}

.visibility-hidden{
  display: none;
}

.margin-left-fieldsets-10{

}

.padding-left-fieldsets-15{
  padding-left: 15px;
}

.video-close{  
  font-size: 38px !important;
  top: -4px !important;
  right: 0px !important;
}

.note-statement{
  background: orange;  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.width-button-120{
  width: 120px !important;
}

#btnGetStarted{
	padding-right: 1em;
	padding-left: 1em;
}

.font-none{
	font-size:14px !important;
}

.font-14{
	font-size:14px !important;
}

.font-16{
	font-size:16px !important;
}

::-webkit-input-placeholder {
   font-size:12px;
}

:-moz-placeholder { /* Firefox 18- */
   font-size:12px;  
}

::-moz-placeholder {  /* Firefox 19+ */
     font-size:12px;
}

:-ms-input-placeholder {  
     font-size:12px;
}

.float-right-remove{
	float: none;	
}

.account-label{
	margin: 0 !important; 
	padding: 0 !important;
}

.span-block{
	display: block;
	margin-bottom: 10px;
	margin-left: 22px;	
}

.margin-0{
	/* margin: 0px !important; */
}

.offers-label{
	width:100%;
	text-align: left;
	margin-bottom: 3px;
}

.aade-table{
	border:none;
	margin-bottom:0;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}
.aade-table td{
	border:1px solid #ccc;	
	font-size: 0.875rem;
	vertical-align: middle;
}

.aade-table tr td:first-child{
	border-right: none !important;
}

.aade-table tr td:last-child:hover{
	cursor:pointer;
}

.aade-table tr td:last-child {
	border-left: none !important;
}

.aade-error{	
	margin-left: 14px !important;
	margin-top: 12px !important;
}

textarea{
	resize:vertical;
}

.overflow-fix{
	position: relative;
    overflow: hidden;
}

.width-70{
	width:70px;
	text-align: left;
}

.width-80{
	width:80px;
	text-align: left;
}

.top-10{
	top:10px;
}

.small-btn{
	padding-left: 1.45em !important;
	padding-right: 1.45em !important;
}

.margin-left-5{
	margin-left:5px;
}

.asterick-2{	
	font-size:14px;
	text-align: right;	
}

.asterick-red{
	color:red;
}

select option[default] {
    color: #333 !important;   
}

select option:first-child {
    color: #333 !important;    
}

label{
	color: black !important;
}

input{
	color:black !important;
}


.width-100-perc{
	width:100%;
}

.height-40{
	height: 40px !important;
}

.width-300{
	width:250px !important;
}

.alert{
	padding: 10px;
	border-radius:3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);	
	width:50%;
	margin: 5px;
	left:25%;				
	color: #fff;	
	top: 55px;
	z-index: 100;	
	display: none;
	position: fixed;			
}

.alert-upload{
	padding: 10px;
	border-radius:3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);	
	width:50%;
	margin: 5px;
	left:25%;				
	color: #fff;
	position: absolute;
	top: 2px;
	z-index: 100;	
	display: none;			
}

.error{			
	background-color: #c60f13;
	border-color: #aa0d10;					
}

.success{
	background-color: #43ac6a;
	border-color: #3a945b;			
}

.full-page-loader{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);	
}	

.full-page-loader .image-loader{
	position: absolute;
	top: 45%;
	left:40%;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	width: 250px;
	height: 100px;
	padding-top: 10px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.display-block{
	display: block;
}

.text-align-right{
	text-align: right;
}

#addressContainer label{
	padding: 5px;
	margin-bottom: 2px;
}

.centered-div{
	margin:0 auto;
}

.facility-name{
	margin-left: 30px;
	margin-right: 30px;
	padding: 3px;
}

.transaction-complete{
	padding: 10px;
	border-radius:10px;
	background-color: #ecfaff;
	border:1px solid #b6efff;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.transaction-complete h5{
	text-align: left;	
}

.transaction-complete-video{
	padding: 10px;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;	
}

.transaction-complete-video h5{
	text-align: left;	
}

.transaction-complete a{
	font-size: 35px !important;
	position: absolute;
	top: 2px;
	right: 10px;
}

.transaction-complete h5{		
	/* text-align: left;
	margin-left: 15px;
	padding-left: 15px; */		
}

.hidden-form{
	display:none;height:0;
}

.padding-lr-25{
	padding-left: 25px;
	padding-right: 25px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.font-12{
	font-size: 12px;
}

#billingShipping input{
	position: relative;
	top:2px;	
}

.small-switch{
	padding: 10px !important;
	width:80px !important
}

.tiny-switch{
	padding: 10px !important;
	width: 55px !important;
	padding-left: 7px !important;
}

.email-address-container{
	position: relative;	
}

.email-address-container img{
	position: absolute;
	right:0px;
}

.thank-you{
	padding: 10px;
}

.thank-you li{
	font-size: 16px;
	margin: 0;	
	text-align: left;
	padding-bottom: 10px;
	line-height: 1.8rem;
}

.email-sent-statement p{
	font-size: 1.3rem;
	font-family: tahoma, arial;
}

.email-label{
	text-align: left;
	white-space: nowrap;
	padding-bottom: 0px !important;;
	padding-top:0px !important;	
}

.green-text{
	color: green;
}

.change-email-file{
	display: block;	
}

.create-password-label{
	font-size: 20px !important;
	font-family:tahoma;
	margin-bottom: 0px !important;
	margin-top: 15px !important;
}

.close-alert{
	font-size: 1.22222rem;
	padding: 9px 6px 4px;
	line-height: 0;
	position: absolute;
	top: 50%;
	margin-top: -0.61111rem;
	right: 0.22222rem;
	color: #333;
	opacity: 0.3;	
}

.close-alert:hover{
	color: #333;
	opacity:1;	
}

.position-rel{
	position: relative;
}

.field-search-img{
	display:none;
	position: absolute;
	right: 8px;
	top: 10px;
}

@media only screen and (min-width: 640px) { 
	.float-right-remove{
		float: right;	
		margin-right: 0px;	
	}
	
  .navigation-buttons{
    padding:10px;
    text-align: right;
    vertical-align: middle;
  }

  .visibility-hidden{
    visibility: hidden;
  }

  .margin-right-10{
     margin-right: 10px;
  }

  .margin-left-fieldsets-10{
    margin-left: 10px;
  }

  .padding-left-fieldsets-15{
      padding-left: 10px;
  }

  .video-close{  
    font-size: 38px !important;
    top: -5px !important;
    right: 2px !important;
  }

  .width-button-120{
    width: 120px !important;    
  }

  .line-height-35{
    line-height: 25px;
  }
	
	.note-statement{	
	  margin-right: 10px;
	}
	
	.font-none{
		font-size:18px !important;
	}
	
	::-webkit-input-placeholder {
	   font-size:14px;
	}
	
	:-moz-placeholder { /* Firefox 18- */
	   font-size:14px;  
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
	     font-size:14px;
	}
	
	:-ms-input-placeholder {  
	     font-size:14px;
	}	
	
	.align-right {
		text-align: right;
	}
	
	.account-label{
		margin: 0 0 1rem 0 !important;
		padding: 0.625rem 0 !important;
	}
	
	.span-block{	
		margin-left: 15px;	
	}
	
	.change-email-file{
		display: inline;	
	}	
	
	.email-label{
		text-align: left;
		white-space: nowrap;		
		margin: 0 0 1rem 0 !important;;
		padding: 0.625rem 0 !important;;
	}
} 