body{
	font-size: 14px;	
 	background-color: #fff; 	
 	font-family:arial; 	
 	background: #eee;
 	/*background-color: #eee;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee); */
	height: 100%;
}

.page-container{
	border-radius: 5px;
	position: relative;	 	  
  	max-width:92%;
  	margin: 12px auto;
  	margin-bottom: 10px;
  	overflow-y: none;			
	border-radius:2px;
}

.max-width-85perc{
	max-width:85%;
}

.main-page-settings{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;	
}

.border-bt-heading{	
	padding: 10px;
}

.border-bt-heading>*{
	margin-bottom: 0 !important;
}

.page-section-first{
	/* border-top: 2px solid #28a4c9 !important; */
}

.page-sections .page-section{
	border-top: none;	
}

.align-label,
.label-bold{
	position: relative;
	top: 8px;
	font-size:15px;
	color:#444;
}

.page-section-header{
	font-size: 16px;
	text-transform: uppercase;	
	margin-bottom: 0 !important;
	/* color:#28a4c9 !important; */	
}

.settings-picker,
.weight-frequency{
	width: 188px !important;
}

.large-dropdown{
	height:38px !important;
}

.margin-left-5{
	margin-left: 5px !important;
}

.remove-time{
	padding: 8px;
	border:2px solid red;
	border-radius: 50%;
	height: 32px;
	width: 30px;
	font-size: 20px;
	line-height: 10px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	position: relative;
	top: -5px;
	font-weight: bold;
	color:red;
	transition:all 0.2s linear; 
}

.remove-time:hover{
	opacity: 0.8;
	background-color: red;
	color:#fff;
}

.changed-by{
	position: relative;
	top: 8px;
	font-size: 18px;	
}

.target-source{
	padding: 7px;
	background-color: #89B228;
	color:#fff;
	border-radius:3px;	
}

.ui-timepicker-wrapper{
	width:8.5em;
}

.page-section-row {
    border-bottom:none;    
    position: relative;
    margin: inherit !important;
}

.colored-section{
	border: 1px solid #d8d8d8;	
	border-radius: 3px;	
	background-color: #fff;	
	border-bottom-width: 2px;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top:2px solid #fff;
}

.border-orange{
	border-top-color: #fbcb43;
}

.border-crimson{
	border-top-color: #bc5679;
}

.border-red{
	border-top-color: #e46f61;
}

.border-darkgreen{
	border-top-color: #53a93f;	
}

.border-lightgreen{
	border-top-color: #8cc474;	
}

.border-darkblue{
	border-top-color: #28a4c9;	
}

.border-lightblue{
	border-top-color: #0080c0;	
}

.width-7perc{
	width:7% !important;
}

.left-minus13{
	left: -13px;
}

.remind-me{
	font-size:14px;
	position: relative;
	top: -5px;
	left: 0px;
	padding-right: 11px;
}

.large-chk{
	width:22px;
	height: 22px;
}

.glucose-time-label-align{
	position: relative;
	top: -1px;
}

.right-minus128{
    left: -24px;
    position: absolute;
    top: 14px;
}

.alert-message-abs{
	position: absolute;
	width: 50%;
	z-index: 12;
	margin: 0 auto;
	left: 50%;
	margin-left: -25%;
	top:10px;
}

#specificTimeOfDay{
	padding-left: 35px;
}

.reminders{
	margin-top: 10px;
	position: relative;
}

.reminders .reminder-status{
	position: absolute;
	top: 14px;
	left: 123px;
	font-size: 12px;	
	color: #989898 !important;
}

.reminders img {
	width: 20px;	
}

.remove-margin .row .row{
	margin: 0 !important;
}

#topHeaderPhone{
    display: none;
}

.top-patient-name{
    margin-left: -120px;
}

.position-relative{
    position: relative;
}

.selected-days{
    font-style: italic;
    color: #444;
    font-size: 13px;
    display: block;
    top: 1px;
    left: 27px;
    position: relative;
}

.width-100{
    width: 100% !important;
}

.italic{
    font-style: italic;
}

.three-times-weeks{
    height: 38px;
}

.chosen-container{
    width: 100% !important;
}

.meal-summary-text{
    color: #8AB329;
}

.overlay-glucose{
    position: absolute;
    top: 0;
    left: 9px;
    background-color: #eee;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.padding-top-0{
    padding-top: 0 !important;
}

.font-16{
    font-size: 16px !important;
}

.remove-uppercase{
    text-transform: none !important;
}
#memberEatingPreferenceDialog p{
    font-size: 15px !important;
}

#btnMemberFoodRestrictions{
    z-index: 1;
    position: relative;
    top:9px;
}