body{
 background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}

.carousels .item:hover{
	cursor:pointer;
	background-color: #eee;
}

.flat-main-page{
	max-width:1024px;max-height:780px;position:relative;top:0;
	border-radius:0;
	box-shadow:none;
}

.carousels .item{		  
  padding:5px;
  display: block;
  margin: 2px;		  
  border-radius: 3px;
  text-align: center;
  border:1px solid #ccc;
  width:180px;
  height:150px;		  
  background-color:#fff;
  transition:all 0.2s linear;
}

.grid-item {
	text-align: center;
}
.grid-item img, 
.carousels .item img{
	width:64px;
	height:64px;
}

.page-title {
	margin: 0 auto;
	max-width: 990px;
}

.margin-bottom-0{
	margin-bottom: 0 !important;
}

.full-page-loader{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1001;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);	
}	

.full-page-loader .image-loader{
	position: absolute;
	top: 45%;
	left:40%;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	width: 250px;
	height: 100px;
	padding-top: 10px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.padding-right-0{
	padding-right: 0px !important;
}

.padding-left-0{
	padding-left: 0px !important;
}

.tutorial-item{
	width: 100%;
    padding: 0; 
    margin: 0;
}

.tutorial-item li{
  width: 100%;		 
  padding: 10px;		  		
  transition: all 0.2s linear;
  position: relative;  	
  font-size: 13px;
  margin-left: 20px;
  padding-left: 2px;  
}

.tutorial-item li.empty{
   list-style-type: none;	
   margin-left: 0;
   padding-left: 0;
}

.dropped-grid {
  width: 100%;
  padding: 0; 
  margin: 0; 		  
}

.dropped-grid li {
   		  		 
  list-style-type: none;
  width: 100%;		 
  padding: 10px;		  		
  transition: all 0.2s linear;
  position: relative;
  border-bottom:1px solid #eee;	
  font-size: 13px;	  
}

.dropped-grid li i:hover{
	cursor:pointer;
	opacity:0.7;
}

.small-grid,
.item-grid {
  width: 100%;
  padding: 0; 
  margin: 0; 		  
}

.small-grid li,
.item-grid li {
   		  		 
  list-style-type: none;
  width: 100%;		 
  padding: 10px;		  		
  transition: all 0.2s linear;
  position: relative;
  border-bottom:1px solid #eee;	
  font-size: 13px;	  
}

.small-grid li { 
  background-color: #6FC696; 
  width: 75px;
  height: 75px;
}

.item-grid li:hover{			
	background-color:#E3F2FF;
	border-color:#D3E4F3;	
	cursor: pointer;		
}

.upload-file-container{
	padding: 10px;
}

.content-manager{				
	min-height:400px;
	max-height:700px;
	overflow-x:hidden;
	overflow-y:auto;	
}

.grid-image {
	margin-right: 15px;
}
.grid-image img{
	width: 24px;
	height: 24px;
}

.light-grey-text{
	color: #666;
	font-size: 12px;			
	text-transform: uppercase;
	font-weight: bold;
}

.light-grey-text:hover{
	cursor: pointer;
}

.sort:hover{
	background-color: white !important;
}
.sort{
	background-color: white !important;
}

.empty-item{
	display: none;
}

.asc{
	position: relative;
	top:2px;
}

.desc{
	position: relative;
	top: -5px;
}

.center{
	text-align: center;
}

.expand-it{
	height: 100px;
}

.asset-description{
	text-align:center;margin-top:5px;font-weight:bold;
}

.tutorial-items-content{	
	overflow-y: auto;
	overflow-x:hidden; 
	max-height: 600px;
}

.asset-container{	
	border: 1px solid #ccc;
	border-top: none;
	margin: 3px;
}

.tutorial-dialog-button{
	text-align: right;
	padding-right: 0;
	margin-bottom: 10px;
}

.click-expand{
	font-style: italic;color:#444;position:relative;top:15px;
}

.capitalize{	
	text-transform: capitalize;
}

.tabs-content{	
	background-color:#fff !important;	
	max-height: 760px;		
	overflow-y:scroll;
	overflow-x:hidden;
}

 .hs-tabs{
	border:1px solid #ccc;
	border-bottom:none;
}
/*
.tabs-container .button-group li>button, .tabs-container .button-group li .button {
	background-color: #f6f6f6;
	color:#444;	
}

.tabs-container .button-group li>button:hover, .tabs-container .button-group li .button:hover {
	background-color: #278fc1;
	color:white;	
}
 */
.tabs-container{	
	display: inline-block;
	position: relative;
	top: 1px;
	z-index: 1;
}

.search-asset{
/* 	float: right;
	width:327px !important;
	margin-right: 31px !important; */
}

.flat-items{
	background-color: #eee;
	border: 1px solid #ccc;
	position: relative;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.flat-items label{
	font-weight:bold
}

.flat-items:hover{
	cursor: pointer;
}

.padding-lr-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.dropped{
	border:3px dashed #ccc;
	min-height: 760px;
	overflow-y:auto;
	position: relative;
}

.dropped p {	
	color: #999;
	text-align: center;
	line-height: 650px;
	font-size: 18px;
}

.search-container{
	height: 50px;
}

.icon{
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	right: 8px;
	top: -2px;
}

.icon-remove{
	color: #444;
	border: 2px solid #444;	
}

.icon-ok{
	color: green;
	border: 2px solid green;	
}

.icon-ok:hover{
	opacity:0.7;
}

.count-bubble{
	color: red;	
	border-radius: 50%;
	padding:3px;
	position: absolute;
	right:1px;
	top:1px;	
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	height:24px;
	width:24px;	
	font-weight: bold;
	line-height:24px;
	display:none;
}

.asset-name{
	font-size:17px;
}

.drag-start{
	background-color:#E3F2FF; 
}

.fade{
	opacity:0.5;
}

.nav-panel{
	height:0px;
	line-height:0px;
	position: relative;
}

.nav-panel button{
	position: absolute;
	vertical-align: middle;
	top: 35px;	
	right: 2px;
}

.drag-selected{
	list-style-type: none;
	background-color: #E3F2FF;
	padding: 10px;
	width: 300px;
}

.login-menu{
	position: absolute;
	width: 300px;	
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);
	z-index: 100;
	display: none;
}

.bottom-buttons{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	position: relative;
	bottom: -5px;
	height: 50px;
}

.btn-logout{
	float: right;
	position: relative;
	top: -8px;
	right: -6px;
	padding: 11px 12px;
}

.facility-info{	
	font-size: 12px;
	height: 200px;	
}

.facility-info p {
	background-color: #eee;
	padding: 5px;
}

.facility-info ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.facility-info ul li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	display: inline-block;
}

.facility-info ul li span{
	white-space: nowrap;
}

.a-link{
	background-color: white !important;
	background: white !important;
	color: blue !important;	
}

.a-link:hover{
	text-decoration: underline !important;
}

.capitalize-text{
	text-transform: capitalize;
}