
.sms-buttons{
    padding-bottom: 20px;
    display: block;
    margin-bottom: 20px;
}

.page-container{
	border-radius: 5px;
	position: relative;	 	  
  	max-width:85%;
  	margin: 35px auto;  	
  	margin-bottom: 10px;
  	overflow-y: none;			
	border-radius:2px;
}

.main-page-settings{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
}

.border-bt-heading{	
	padding: 10px;
}

.border-bt-heading>*{
	margin-bottom: 0 !important;
}

.page-section-first{
	border-top: 2px solid #28a4c9 !important;
}

.align-label,
.label-bold{
	position: relative;
	top: 8px;
	font-size:15px;
	color:#444;
}

.page-section-header{
	font-size: 16px;
	text-transform: uppercase;	
	margin-bottom: 0 !important;
	/* color:#28a4c9 !important; */	
}

.thread-empty{
	min-height: 400px;
	border:1px solid #eee;
	text-align: center;
	line-height: 370px;
}

.textarea-message{
	min-height:30px;
	height: 38px;
	resize: none;
	overflow-y: hidden;
	max-height: 120px;
}

/*Bubbles*/

.bubble {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #000;
    position: relative;
    min-height: 50px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
    margin-bottom: 5px;
}

.bubble img{
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
}

/*.bubble img:hover{
    transform: scale(3.0);
    z-index: 9999;
}*/

.bubble.bubble-orange {
    float: left;
	border-right-width: 5px;
	border-right-color: #F4C330;
    border-radius: 7px;
}

.bubble.bubble-teal {
    float: right;
	border-left-width: 5px;
	border-left-color: #53B6BD;
    border-radius: 7px;
}

.bubble-teal:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #53B6BD;
    display: block;
    width: 0;
    left: -15px;
    bottom: 10px;
}

.bubble-orange:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #F4C330;
    display: block;
    width: 0;
    right: -15px;
    bottom: 10px;
}

.dialog-header{
	padding-bottom: 10px;
	color: #000;
	font-weight: normal !important;
}

.dialog-area{
	max-height: 400px;
	overflow:hidden;
	overflow-y: auto;
}

#threadViewList li,
.threaded-list li{
	width: 70%;
}

.threaded-list-log li{
	width: 85%;
}

.twilio-dialog p.content{
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 0px;
}

.twilio-dialog span.time{
	font-size: 11px;
	color: #444;
	font-family:tahoma, arial;
}

.twilio-messages-threaded-view{
	min-height: 400px;
	background-color: #F9F9F9;
	padding: 15px;
}

.top-shadow {
    position: absolute;
	top: 83px;
	left: 30px;
	width: 92%;
	height: 24px;
	z-index: 7;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.45);
    display: none;
}

.refresh-messages{
	font-size: 15px;
	float: right;
}

.refresh-messages img{
	width: 24px;
	position: relative;
	top: -2px;
}

.in-app-refresh{
	position: relative;top: 14px;
}

.in-app-top-shadow{
	top: 66px !important;
	left: 11px !important;
	width: 97.5% !important;
}

.bg-lightgrey{
	background-color: #f9f9f9 !important;
}

.bordered-area{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	border-bottom-width: 2px;
}

.line-height-49{
	line-height: 49px !important;
}

.height-49{
	height: 49px !important;
}

.btn-twilio-send{
	height: 48px;
	line-height: 48px !important;
}

.top-patient-name{
    margin-left: -120px;
}

.margin-top-55{
    margin-top: 55px;
}

.max-characters{
    font-size: 11px;
    position: absolute;
    padding: 2px;
    bottom: 17px;
    right: 2px;
    background-color: #eee;
}

.max-characters-bottom-12{
    bottom: -12px !important;
}

.with-attachment{
    padding-left: 45px;
}

.attachment-icon{
    position: absolute;
    top:2px;
    left: 5px;
}

.attachment-icon:hover{
    opacity: 0.8;
}

#pFileAttached{
    font-size: 14px;
    position: absolute;
    bottom: -27px;
    font-weight: bold;
}

#pFileAttached span{
    font-weight: normal;
}

#pFileAttached a{
    background-color: #eee;
    padding: 3px;
    position: relative;
    top: 3px;
    border: 1px solid #53B6BD;
    border-radius: 3px;
}


.large-dropdown{
    height: 47px !important;
}