﻿.teal-pattern{
    background: url('images/teal_pattern.png') repeat;
}

.blue-pattern{
    background: url('images/blue_pattern.png') repeat;
}

.red-pattern{
    background: url('images/red_pattern.png') repeat;
}

.purple-pattern{
    background: url('images/purple_pattern.png') repeat;
}

.green-pattern{
    background: url('images/green_pattern.png') repeat;
}

.gradient-bg {    
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(90deg, #E0E0E0 10%, #FFFFFF 50%);
    background: -moz-linear-gradient(90deg, #E0E0E0 10%, #FFFFFF 50%);
    background: -ms-linear-gradient(90deg, #E0E0E0 10%, #FFFFFF 50%);
    background: -o-linear-gradient(90deg, #E0E0E0 10%, #FFFFFF 50%);
    padding-bottom: 150%;
}

.gradient-bg .content{
    background-color: transparent !important;
}

.header {        
    min-height: 60px;
}

.black-header {
    background-color: #1F1F1F;   
    max-height: 60px; 
    border-bottom: 4px solid;
}

.teal-bordered{
    border-color: #339999; /* Teal */
}

.filled {
    background-color: #3C9A95;
}

.partial-filled {
    background-color: #B5D9D7;
}

.hollow {
    background-color: #fff;
}

.color-black {
    color: black;
}

.color-green {
    color: #3C9A95;
}

.color-white {
    color: #fff !important;
}

/* Stress & Sleep color styles */
.stress-sleep{
    background-color: #339999; /* Teal */
}

.stress-sleep-border{
    border-left-color: #339999 !important; /* Teal */
}

.stress-sleep *{
    color: #fff !important;
}

.stress-sleep-text{
    color: #339999 !important; /* Teal */
}

.stress-sleep-text-light{
    color: #73B6B4 !important; /* Teal */
}


.stress-sleep-dark{
    background-color: #115959;
}

.stress-sleep-light{
    background-color: #95C9C6;
}

/* Healthy Eating color styles */
.eating{
    background-color:#799c25; /* Green */
}

.eating-text{
    color:#799c25; /* Green */
}

.eating-text-light{
    color: #AFCF64;
}

.eating *{
    color: #fff !important;
}

.eating-border{
    border-left-color:#799c25 !important; /* Green */
}

.eating-dark{
    background-color: #455A10;
}

.eating-light{
    background-color: #AFCF64;
}

/* Medication color styles */
.medication{
    background-color: #ff6666; /* Red */
}

.medication-text{
    color: #ff6666 !important; /* Red */
}

.medication-text-light{
    color: #FF6767 !important; /* Red */
}

.medication *{
    color: #fff !important;
}

.medication-border{
    border-left-color:#ff6666 !important; /* Red */
}

.medication-dark{
    background-color: #BE2929;
}

.medication-light{
    background-color: #FF6767;
}

/* Work Money color styles */
.work-money{
    background-color: #ab61af; /* Purple */
}

.work-money-text{
    color: #ab61af !important; /* Purple */
}

.work-money-text-light{
    color: #D074D5;
}

.work-money *{
    color: #fff !important;
}

.work-money-border{
    border-left-color:#ab61af !important; /* Purple */
}

.work-money-dark{
    background-color: #752879;
}

.work-money-light{
    background-color: #D074D5;
}

/* Family Relationships color styles */
.family-relationship{
    background-color: #438fd2; /* Blue */
}

.family-relationship-dark{
    background-color: #1A3F61; /* Blue */
}

.family-relationship-light{
    background-color: #6EABE0; /* Blue */
}

.family-relationship-text{
    color: #438fd2 !important; /* Blue */
}

.family-relationship-text-light{
    color: #6EABE0 !important; /* Blue */
}

.family-relationship *{
    color: #fff !important;
}

.family-relationship-border{
    border-left-color:#438fd2 !important; /* Blue */
}

/* Physical Activity/ Being Active color styles */
.physical-activity{
    background-color: #f5c430; /* Yellow */
}

.physical-activity-text{
    color: #f5c430 !important; /* Yellow */
}

.physical-activity-text-light{
    color: #FFD145 !important; /* Yellow */
}

.physical-activity *{
    color: #fff !important;
}

.physical-activity-border{
    border-left-color:#f5c430 !important; /* Yellow */
}

.physical-activity-dark{
    background-color: #A98823;
}

.physical-activity-light{
    background-color: #FFD145;
}

/* General color styles */
.general{
    background-color: #999999; /* Gray */
}

.general-text{
    color: #999999 !important; /* Gray */
}

.general-text-light{
    color: #C3C3C3 !important; /* Gray */
}

.general-dark{
    background-color: #5C5C5C;
}

.general-light{
    background-color: #C3C3C3;    
}

/* question correct/incorrect option styles*/
.correct{    
    background: -webkit-linear-gradient(90deg, #D7F18C 5%, #FFFFFF 100%);
    background: -moz-linear-gradient(90deg, #D7F18C 5%, #FFFFFF 100%);
    background: -ms-linear-gradient(90deg, #D7F18C 5%, #FFFFFF 100%);
    background: -o-linear-gradient(90deg, #D7F18C 5%, #FFFFFF 100%);
    border-color: #94C229;
}

.correct .circle-grey{
    background: -webkit-linear-gradient(90deg, #ffffff 5%, #D7F18C 100%);
    background: -moz-linear-gradient(90deg, #ffffff 5%, #D7F18C 100%);
    background: -ms-linear-gradient(90deg, #ffffff 5%, #D7F18C 100%);
    background: -o-linear-gradient(90deg, #ffffff 5%, #D7F18C 100%);
    border-color: #94C229;
    color: #94C229;
}

.correct-status{
     color: #94C229;
}

.incorrect{
    background: -webkit-linear-gradient(90deg, #FFEAA9 5%, #FFFFFF 100%);
    background: -moz-linear-gradient(90deg, #FFEAA9 5%, #FFFFFF 100%);
    background: -ms-linear-gradient(90deg, #FFEAA9 5%, #FFFFFF 100%);
    background: -o-linear-gradient(90deg, #FFEAA9 5%, #FFFFFF 100%);
    border-color: #E9B822;    
}

.incorrect .circle-grey{
    background: -webkit-linear-gradient(90deg, #ffffff 5%, #FFEAA9 100%);
    background: -moz-linear-gradient(90deg, #ffffff 5%, #FFEAA9 100%);
    background: -ms-linear-gradient(90deg, #ffffff 5%, #FFEAA9 100%);
    background: -o-linear-gradient(90deg, #ffffff 5%, #FFEAA9 100%);
    border-color: #E9B822;
    color: #E9B822;
}

.incorrect-status{
     color: #E9B822;
}

/* button style colors*/

.btn-transparent {
    color: #B5D9D7;
    background-color: transparent;
    border-color: transparent;
    margin-top: 14px;
}

.btn-green {
    color: #fff;
    background-color: #3C9A95;
    border-color: #B5D9D7;
    margin-top: 14px;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.3;
    font-family: tahoma;
    text-transform: uppercase;
    background-image: -ms-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
    background-image: -moz-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
    background-image: -o-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69C4CB), color-stop(1, #53B6BD));
    background-image: -webkit-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
    background-image: linear-gradient(to top, #69C4CB 0%, #53B6BD 100%);
    min-width: 105px;
    margin-right: 15px !important;
}
