.dashboard-container{
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.bg-brown {
    background-color: #7B7979;
}

.bg-grey{
    background-color: #F8FAFC;
}

.bg-grey-light{
    background-color: #F8FAFC;
}

.bg-white-topics{
    background-color: #fff;
    padding: 5px;
}

.curriculum-header{
    background-color: #AB61AF;
    border-top:2px solid #fff;
    border-bottom:5px solid #752879;
}

.curriculum-header h3{
    color: #fff;
    position: relative;
    top: 10px;
}

.curriculum-header h3.percentage{
    left: 13px;
}

.curriculum-header h3.week{
    font-size: 21px;
}

.curriculum-header span{
    font-size: 14px;
}

.curriculum-header .align-image{
    position: relative;
    top:6px;
}

.label-group label {
    color: #E4E4E4;
}

.label-group label.uppercase {
    text-transform: uppercase;
    padding-bottom: 0;
    font-size: 11px;
}

.label-group label:last-child {
    padding-top: 2px;
    font-size: 14px;
}

.patient-image {
    padding: 5px;
    border-radius: 50%;
    border: 4px solid #0F857F;
    display: inline-block;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -54px;
    left: 12px;
}

.padding-left-94 {
    padding-left: 94px;
}

.padding-top-13 {
    padding-top: 13px !important;
}

.patient-nav-btn-list{
    position: relative;
    top: 14px;
    left: 115px;
}

.patient-nav-btn-list li{
    position: relative;
}

.patient-nav-btn-list a {
    font-size: 12px;
    text-transform: uppercase;
    color: #1cacbd;
}

.patient-nav-btn-list .nav-divider{
    position: absolute;
    height: 49px;
    width: 1px;
    background-color: #818181;
    top: 0;
    left: -10px;
}

.patient-nav-btn-list a span{
    margin-right: 2px;
}

.patient-nav-btn-list a:hover{
    color: #53B6BD;
    text-decoration: underline !important;
}


.chart-section .chart-header span.image-span{
    padding: 6px;
    padding-right: 0px;
}

.chart-section .chart-header > a{
    display: block;
    width: 100%;
}

.chart-section{
    min-height: 250px;
}

.label-group-chart label.uppercase{
    text-transform: none;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.label-group-chart label:last-child{
    color: #fff;
    font-size: 11px;
}

.summary-area .grey-divider{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    margin: 5px;
    min-height: 290px;
}

.unread-count{
    color: #fff;
    position: absolute;
    top: 1px;
    left: 8px;
    font-size: 12px;
    font-weight: bold;
}

.left-5{
    left: 5px !important;
}

.padding-top-0{
    padding-top: 0 !important;
}

.steps-text{
    color: #999;
    font-size: 15px;
    position: relative;
    top: -2px;
}

.grey-area-section{
   border-bottom: 1px solid #ccc;
}

.grey-section-buttons{
    padding-bottom: 10px;
}

.grey-area-section .green-header{
    padding-top: 10px;
}

.grey-area-section .green-header h5{
     color: #8AB329;
}

.grey-area-section span.teal-text{
    color:#53B6BD;
    font-size: 13px;
}

.grey-area-section span.teal-text:hover{
    color:#0F857F;
}

.grey-area-section .grey-section-data p.coach-name{
    font-size: 11px;
    color: #A0A0A0;
    margin-bottom: 0 !important;
}

.grey-area-section .grey-section-data p.coach-notes{
    color: #444;
    font-size: 13px;
}

.row-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.grey-label-group label.uppercase{
     text-transform: uppercase;
     color: #999;
     font-size: 11px;
     padding-bottom: 0 !important;
 }

.grey-label-group label:last-child{
    color: #000;
    font-size: 13px;
    padding-top: 0 !important;
}

.edit-info:hover{
    opacity: 0.8;
}

.listing{
    margin: 5px 0 5px 0;
}

.listing > li{
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    padding:0;
    border-bottom-width: 2px;
    position: relative;
    margin-bottom: 1px;
}

.listing > li > div.row-full{
    padding-top: 7px;
}

.margin-top-5{
    margin-top: 5px !important;
}

/*Curriculum area*/

.max-width-1129{
    max-width: 1229px !important;
    margin: 0 auto;
}

.padding-left-0{
    padding-left: 0 !important;

}

.padding-right-0{
    padding-right: 0 !important;

}

.hs-page-heading h2{
    color: #8AB329;
    font-size: 32px;
}

.grey-area-section .topics-header{
    padding-top: 10px;
}

.grey-area-section .topics-header h5{
     color: #ab61af;
}

.remove-border{
    border: none;
}

.btn-purple {

    background-color: #752879;
    border:1px solid #fff;
}

.btn-purple:hover {
    background-color: #fff;
    border-color: #752879;
    color: #752879
}

.session-checklist img{
    max-width:22px;
    height:22px;
    width:22px
}

.session-checklist li{
    padding-bottom: 5px !important;
}

.session-checklist li div.padding-left-0{
    color: #888;
}

.teal-bullets{
    list-style-type: disc;
    padding-left: 26px;
    padding-top: 0;
}

.teal-bullets li{
    color: #53B6BD;
    font-size: 22px;
    margin-bottom: 0;   
}

.teal-bullets li label{
    color: #888;
}

.topic-section{
    margin-top: 20px;
}

.topic-section h3{
    color: #ab61af;
    margin-bottom: 0;
}

.topic-section h6{
    text-transform: uppercase;
    color: #ab61af;
    margin-bottom: 0;
}

.curriculum-scrollable{
    max-height: 400px;
    overflow-y: auto;
    min-height: 292px;
    overflow-x:hidden;
}

.curriculum-green-header{
    background-color: #B6DD46;
}

.curriculum-green-header label{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
}

.curriculum-green-header span{
    text-transform: uppercase; 
    font-size: 12px;   
}

.curriculum-green-header span.black{
    color: #5E5E5E !important;
    font-size: 16px;
    font-weight: bold;
}

.curriculum-green-header span.light-grey{
    color: #817D7D;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.tick-image{
    max-width:22px;
    height:22px;
    width:22px   
}

.progress-item{
    background-color: #fff;
    padding: 20px 7px 20px 7px;
    border-bottom: 1px solid #ddd;
}

.progress-item p{
    margin-bottom: 0;
}

.progress-item p.session-text{
    font-size: 12px;
    text-transform: uppercase;    
    color: #8AB329;
}

.progress-item p.quiz-name,
.progress-item p.status{
    font-size: 14px;
}

.progress-item p.status{
    color: #888;
}

.progress-list{
    padding: 0;
}

.progress-list li{
    margin-bottom: 0 !important;
}

.empty-iframe{
    min-height: 752px;
    height: 752px;
}

.next-nav{
    position: absolute;
    top: 10px;
    right: 40px;
}

.prev-nav{
    position: absolute;
    left: -21px;
    top: 10px;
}