.align-center{
	text-align: center !important;
}

.align-right{
	text-align: right !important;
}

.align-left{
	text-align: left !important;
}

.row-full{
	width: 100% !important;
	max-width: 100% !important;	
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.font-24{
	font-size: 24px !important;
}

.font-20{
	font-size: 20px !important;
}

.font-18{
	font-size: 18px !important;
}

.font-17{
	font-size: 17px !important;
}
.large-dropdown{
	height: 49px !important;
	background: #fafafa url('images/down.png') no-repeat 98% center !important;	
	background-size: 26px 23px !important;
	padding-right: 30px;	
}

.large-dropdown:hover{
	background-color: #eee !important;
}

.large-input-1{
	height: 49px !important;
}

.large-input{
	height: 60px !important;
}

.width-400{
	width: 400px !important;
}

.width-510{
	width: 510px !important;
}

.large-radio {
	width: 32px !important;
	height: 32px !important;
	border-radius: 100% !important;
}

.underline{
	text-decoration: underline;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}

.margin-left-0{
	margin-left: 0 !important;
}

.margin-right-0{
	margin-right: 0 !important;
}

.shadow{
	box-shadow: rgba(0,0,0,0.34902) 0px 1px 10px;
}

.padding-0{
	padding: 0 !important;
}

.bg-lightgrey{
	background-color: #f6f6f6 !important;
}

.bg-white{
	background-color: #fff !important;
}

.padding-lr-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.asterick{
	color: red;
	font-weight: bold;
	font-size: 23px;
}

a:hover{
	text-decoration: none !important;
}

.font-24{
	font-size: 24px !important;
}

.font-20{
	font-size: 20px !important;
}

.font-18{
	font-size: 18px !important;
}

.font-17{
	font-size: 17px !important;
}

.font-bold{
	font-weight: bold;
}

/* grid styles */

.small-grid,
.item-grid {
  width: 100%;
  padding: 0; 
  margin: 0; 
  box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2);   		 
}

.small-grid li,
.item-grid li {   		  		
  list-style-type: none;
  width: 100%;		 
  padding: 10px;		  		
  transition: all 0.2s linear;
  position: relative;  
  font-size: 14px;	 
  border-bottom:1px solid #eee;  
  color:#666; 
}

.item-grid li.header{
	text-transform: uppercase;
	font-weight: bold;
}

.small-grid li { 
  background-color: #6FC696; 
  width: 75px;
  height: 75px;
}

.item-grid li:hover{			
	background-color:#E3F2FF;
	border-color:#D3E4F3;	
	cursor: pointer;		
}

/* top breadcrumb styles */

.breadcrumb-top{
	background: -webkit-linear-gradient(to right, #ffffff 0%, #BBE2EF 50%, #ffffff 100%);
	background: -moz-linear-gradient(to right, #ffffff 0%, #BBE2EF 50%, #ffffff 100%);
	background: -ms-linear-gradient(to right, #ffffff 0%, #BBE2EF 50%, #ffffff 100%);
	background: -o-linear-gradient(to right, #ffffff 0%, #BBE2EF 50%, #ffffff 100%);
	background: linear-gradient(to right, #ffffff 0%, #BBE2EF 50%, #ffffff 100%);
}

.breadcrumb-top ul{
	padding: 10px !important;
	border: none !important;	
	background-color:inherit !important;	
	margin-bottom: 10px;	
}

/* .breadcrumb-top ul{
	padding: 0 !important;
	border: none !important;
	background-color: #F8F8F8 !important;
} */

.breadcrumb-top .breadcrumbs>*{
	font-size: .95rem !important;
	line-height: 1.15rem !important;	
}

.breadcrumb-top-1 .breadcrumbs>*{
	font-size: .95rem !important;
	line-height: 1.15rem !important;
}

.breadcrumb-top-1 ul{
	padding: 0 !important;
	border: none !important;
}

.breadcrumb-top-1{
	width: 92%;
	margin: 0 auto;
}

.breadcrumb-top-2{
	width: 1146px;
	margin: 0 auto;
}


.breadcrumb-top-2 .breadcrumbs>*{
	font-size: .95rem !important;
	line-height: 1.15rem !important;
}

.breadcrumb-top-2 ul{
	padding: 0 !important;
	border: none !important;
}

.breadcrumb-top-align{
	position: relative;
	top: 24px;
	left: 6px;		
}

/* loading style with progress bar*/

.loader{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1006;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.2);	
}	

.loader .image-loader{
	position: absolute;
	top: 50%;
	padding:7px;
	left:50%;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	width: 290px;
	/* height: 120px; */
	margin-left:-145px;	
	margin-top:-60px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.loader .progress-please-wait{
	color: #444;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px !important;
}

.loader .progress-text{
	color: #8F8F8F;
	font-size: 15px;
	margin-bottom: 4px !important;
	font-weight: bold;
}

.loader .progress{
	background: none !important;
	background-image: none !important;
	box-shadow:none !important;	
}

/* alert style (error, success) */
.alert{
	padding: 10px;
	border-radius:3px;
	box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2);	
	width:50%;
	margin: 5px;
	left:25%;				
	color: #fff;
	position: fixed;
	top: 55px;
	z-index: 100;	
	display: none;			
}

.error{			
	background-color: #c60f13;
	border-color: #aa0d10;					
}

.success{
	background-color: #43ac6a !important;
	border-color: #3a945b;			
}

.close-alert{
	font-size: 1.22222rem;
	padding: 9px 6px 4px;
	line-height: 0;
	position: absolute;
	top: 10px;
	margin-top: -0.61111rem;
	right: -4px;	
	color: #333;
	opacity: 0.3;	
}

.close-alert:hover{
	color: #333;
	opacity:1;	
}

.f-dropdown{
	-webkit-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -moz-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -ms-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  -o-box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
  box-shadow: rgba(0,0,0,0.34902) 0px 3px 25px;
}

.f-dropdown li{
	text-align: left;
	border-bottom:1px solid #ccc;
}

.f-dropdown li a{
	font-size: 14px;
}

.f-dropdown li a img{
	margin-right: 10px;
}

/*=== Rating styles ===*/

a {
    text-decoration: none;
    color: #59a6d6;
    outline: none;
}

a:hover {
    color: #646464;
}

:focus {
    -moz-outline-style: none;
}

/* BUTTONS */
/* http://hellohappy.org/css3-buttons/ */

.buttons {
    margin: 0 auto 40px auto;
    width: 345px;
}

.buttons button {
    margin: 0 10px 0 10px;
}

button.blue-pill {
    background-color: #a5b8da;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bc0eb), color-stop(100%, #59a6d6));
    background-image: -webkit-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -moz-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -ms-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -o-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: linear-gradient(top, #7bc0eb, #59a6d6);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px #4f768e;
    text-transform: uppercase;
    width: 150px;
}

button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b1da), color-stop(100%, #478dba));
    background-image: -webkit-linear-gradient(top, #71b1da, #478dba);
    background-image: -moz-linear-gradient(top, #71b1da, #478dba);
    background-image: -ms-linear-gradient(top, #71b1da, #478dba);
    background-image: -o-linear-gradient(top, #71b1da, #478dba);
    background-image: linear-gradient(top, #71b1da, #478dba);
    border-top: 1px solid #4f768e;
    border-right: 1px solid #4f768e;
    border-bottom: 1px solid #4f768e;
    border-left: 1px solid #4f768e;
    cursor: pointer;
}

button.blue-pill:active {
    border: 1px solid #4f768e;
    -webkit-box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
}

button.blue-pill.deactivated {
    opacity: .4;
}

button.blue-pill.deactivated:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bc0eb), color-stop(100%, #59a6d6));
    background-image: -webkit-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -moz-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -ms-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -o-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: linear-gradient(top, #7bc0eb, #59a6d6);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    cursor: auto;
}

/******* EXAMPLE F *******/

.rating-f .br-widget {
    height: 24px;
}

.rating-f .br-widget a {
    background: url('images/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.rating-f .br-widget a:hover,
.rating-f .br-widget a.br-active,
.rating-f .br-widget a.br-selected {
    background-position: 0 24px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio : 1.5),
(min-resolution: 192dpi) {
    .rating-f .br-widget a {
        background: url('../img/star@2x.png');
        background-size: 24px 48px;
    }
}

/******* EXAMPLE C *******/

.rating-c .br-widget {
    height: 35px;
}

.rating-c .br-widget a {
    display: block;
    width: 30px;
	height: 35px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.rating-c .br-widget a.br-active,
.rating-c .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}

.br-widget.br-readonly a{
	cursor: default;
}

.br-widget.br-readonly a:not(.br-selected):hover{
	cursor: default;
	background-position: 0 0;
}

/* Page section classess*/

.page-header {
    /*margin:5px;*/
    margin-left: 0px !important;
    margin-right: -0.55rem !important;
    padding-top: 12px;
    padding-bottom: 5px;    
    /*border-bottom:1px solid #444;*/
}

    .page-header h3 {        
        font-family: tahoma, arial;
        text-align: left;
    }

    .page-header .header-title {
        padding-bottom: 5px;
        text-align: left;
    }
    
.page-sections {
    margin-left: 5px;
    margin-right: 5px;
}

    .page-sections label {
        color: #000;
    }

    .page-sections .page-section-header {
        font-weight: bold;
    }

    .page-sections .page-section {
        border-top: 1px solid #444;
        margin-left: 1px;
        margin-right: 1px;
    }

page-sections .page-section > page-section-row:last-child {
    border-bottom: none;
}

.page-section-row {
    border-bottom: 1px solid #ccc;
    /*margin-left:2px !important;
    margin-right:2px !important;*/
    position: relative;
    margin: 0 -0.9rem !important;
}

.page-section-row-required {
    background-color: #E3F2FF;
}

.required-fields-legend {
    color: #046ba9;
    font-weight: bold;
}

    .required-fields-legend .required-field-color {
        margin-right: 5px;
        padding-left: 19px;
        padding-bottom: 2px;
        padding-top: 2px;
        border: 1px solid #046ba9;
    }

.page-section-row .control-data {
    display: none;
    padding-right: 57px;
}

.page-section-row.last-row {
    border-bottom: none;
}

.page-section-right-content label {
    margin-bottom: 0 !important;
}

.page-section-right-content .align-right {
    padding-right: 50px;
}

    .page-section-right-content .align-right.has-button {
        padding-top: 3px;
        padding-bottom: 0;
    }

.page-section-right-content .page-section-row .controls {
    position: absolute;
    right: 10px;
    top: 9px;
    display: none;
}

.page-section .left-view {
    position: absolute;
    bottom: 0;
}

    .page-section .left-view .label {
        color: #008cba;
        font-weight: bold;
        border: 1px solid #008cba;
        transition: all 0.2s linear;
        background-color: #fff;
        padding: 7px;
        margin-bottom: 2px;
        min-width: 140px;
        z-index: 100;
    }

        .page-section .left-view .label:hover {
            background-color: #008cba;
            color: #fff;
        }

.page-section-right-content .page-section-row .controls img {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.2s linear;
}

.page-section-right-content .page-section-row .controls .tick-cross-controls {
    position: relative;
    top: -3px;
}

.page-section-right-content .page-section-row .controls img.tick:hover {
    border-width: 2px;
    border-color: #046ba9;
}

.page-section-right-content .page-section-row .controls img.cross:hover {
    border-width: 2px;
    border-color: #f15f68;
}

.page-section-right-content .page-section-row .controls .link-edit {
    color: #008cba !important;
    font-size: 14px !important;
}

    .page-section-right-content .page-section-row .controls .link-edit:hover {
        color: rgba(7,111,174,1) !important;
    }

.page-section-right-content .page-section-row:hover {
    background-color: #eee;
}

    .page-section-right-content .page-section-row:hover .controls {
        display: block;
    }

.selected-section-row {
    background-color: #E3F2FF;
}

    .selected-section-row .controls {
        display: block !important;
    }

        .selected-section-row:hover .link-edit,
        .selected-section-row .controls .link-edit {
            display: none;
        }
        

label{
	cursor:default;
}

.margin-bottom-10{
	margin-bottom: 10px !important;
}

/* for fixing issues in firefox */
@-moz-document url-prefix() {
	.large-dropdown{
		background: none !important;	
	}
}

/*target IE-9 only*/
@media screen\0 {
	.large-dropdown{
		background: none !important;	
	}
}

/*target IE-10 and above*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.large-dropdown{
		background: none !important;	
	}
}


.padding-bottom-0{
	padding-bottom: 0 !important;	
}


.margin-top-10{
	margin-top: 10px;
}

.show-on-touch,
.show-on-touch-block{
	display: none;
}

.hide-on-touch{
	display: block;
}

.alert-message-abs{
	position: absolute;
	width: 50%;
	z-index: 1;
	margin: 0 auto;
	left: 50%;
	margin-left: -25%;
	top:10px;
}


/* new styles*/
.align-page-heading{
	position: relative;
	top: 18px;
	text-transform: uppercase;
}

.dialog-header-green{
	color: #A4C749;
	text-transform: uppercase;
}

.dialog-area{
	max-height: 400px;
	overflow:hidden;
	overflow-y: auto;
}

.grey{
	text-transform: uppercase;
	color: #989898 !important;
}

.black{
	text-transform: none;
	color: #000 !important;
}

.hs-table .row{
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border-bottom: 1px solid #eeeeee;
}

.hs-table .row:nth-child(odd){
	background-color: #F7FFDE;
}

.hs-table .row:hover{
	background-color: #eeeeee;
}

.hs-btns{
	color: #fff;
	background-color: #3C9A95;
	border-color: #B5D9D7;
	margin-top: 14px !important;
	border-radius: 0;
	font-size: 18px;
	line-height: 1.3;
	font-family: tahoma;
	min-width: 105px;
	text-transform: uppercase;
}

.btn-teal {

	background-image: -ms-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -moz-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -o-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69C4CB), color-stop(1, #53B6BD));
	background-image: -webkit-linear-gradient(bottom, #69C4CB 0%, #53B6BD 100%);
	background-image: linear-gradient(to top, #69C4CB 0%, #53B6BD 100%);
}

.btn-teal:hover {
	background-image: -ms-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -moz-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -o-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #53B6BD), color-stop(1, #69C4CB));
	background-image: -webkit-linear-gradient(bottom, #53B6BD 0%, #69C4CB 100%);
	background-image: linear-gradient(to top, #53B6BD 0%, #69C4CB 100%);
}

.btn-black {
	background-image: -ms-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -moz-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -o-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2C2C2C), color-stop(1, #666666));
	background-image: -webkit-linear-gradient(bottom, #2C2C2C 0%, #666666 100%);
	background-image: linear-gradient(to top, #2C2C2C 0%, #666666 100%);
}

.btn-black:hover {
	background-image: -ms-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -moz-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -o-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #666666), color-stop(1, #2C2C2C));
	background-image: -webkit-linear-gradient(bottom, #666666 0%, #2C2C2C 100%);
	background-image: linear-gradient(to top, #666666 0%, #2C2C2C 100%);
}

.hs-table-header{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.hs-table-header p{
	margin-bottom: 0 !important;
    font-weight: normal !important;
    text-transform: uppercase;
    color: #A0A0A0;
    font-size: 12px;
}

.margin-tb-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.margin-left-2perc{
	margin-left: 2%;
}