body{
	font-size: 14px;	
 	font-family:arial;
 	background-color: #fff; 	
 	/*background: #eee;
 	
	 background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee); */
}

.page-container{
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 50px auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
}

.main-page{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
}

.main-page-footer{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	  
  	overflow-y: none;			
	border-radius:2px;
}

.content-manager{				
	min-height:600px;	
	max-height:600px;
	overflow-x:hidden;
	overflow-y:auto;
	box-shadow: rgba(0,0,0,0.34902) 0px 3px 10px;
	/* padding: 10px; */
}

.header-container p{
	font-variant: small-caps;
	font-size: 22px;
	font-weight: bold;
}

.ratings-group{	
	padding-left: 0px;
}

.ratings-group label{
	font-size: 17px;
	font-variant: small-caps;
	font-weight: bold;	
	color: #31708f;
}

.ratings-group .heading{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.ratings-group .heading>*{
	padding: 10px;
	background-color: #d9edf7;
	font-variant: small-caps;
	font-weight: bold;
	color: #31708f;
}

.margin-top-15{
	margin-top: 15px;
}

.sigPad{
	margin: 0 !important;
}

label{
	margin-bottom: 0 !important;
}

.label-black{
	font-size: 18px;
	color: black !important;
	font-variant: normal !important;
}

.navigation-buttons{
	margin-right: 10px;
}

.top-buttons{
	padding-top: 15px;
}

.top-buttons a:first-child{
	margin-right: 4px;
}


/* aade assessment form styles */

.aade-logo{
	position: relative;
	top: 40px;
}

.aade7-top-heading h2{
	font-weight: bold;
	font-style: italic;
}

.aade7-top-heading h4{
	font-size: 22px;
	font-variant: small-caps;
}

.aade7-top-heading p{
	font-size: 18px;
	margin-bottom: 0 !important;
}

.address{
	font-size: 19px !important;
	font-style: italic;
	font-variant: normal;
	padding: 10px;
	background: #f9f9f9;
	border:1px solid #ccc;
	position: relative;
	top: 29px;	
}

.orange-hr{
	border-color: #FAB582 !important;
	border-width: 2px 0 0 !important;
	margin-top: 0 !important;
}

.form-header{
	margin-bottom: 20px;
}

.form-header > div.row{
	border-bottom: 1px solid #444;
}