body{
	font-size: 14px;	
 	background-color: #f2f2f2;
 	overflow-x: hidden;
 	font-family:arial;
}

.main-page{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 60px auto;  	
  	margin-bottom: 20px;
  	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #ccc;
	background-color: #fff;

}

.row-full{
	width: 100% !important;
	max-width: 100% !important;	
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.heading h2{
	padding-left: 5px;
	padding-top: 10px;
}

.font-24{
	font-size: 24px !important;
}

.large-dropdown{
	height: 49px !important;
	background: #fafafa url('images/down.png') no-repeat 98% center !important;	
	background-size: 26px 23px !important;		
}

.large-dropdown:hover{
	background-color: #eee !important;
}

.large-input-1{
	height: 49px !important;
}

.large-input{
	height: 60px !important;
}

.width-400{
	width: 400px !important;
}

.width-510{
	width: 510px !important;
}

.align-center{
	text-align: center !important;
}

.align-right{
	text-align: right !important;
}

.align-left{
	text-align: left !important;
}

.large-radio {
	width: 32px !important;
	height: 32px !important;
	border-radius: 100% !important;
}

.span-inline{
	position: relative;
	top: -12px;
}

.large-checkbox {
	width: 32px !important;
	height: 32px !important;	
}

.button-group li{
	margin-right: 10px !important;
}

.button-group li span{
	position: relative;
	/*top: -12px;*/
}

.margin-top-20{
	margin-top: 20px;
}

.navigation-buttons{
	
	margin-right: 10px;
}

.gradient-btns{

	/*background-image: -webkit-linear-gradient(top, #3C92AB, #1A758A);
	background-image: -moz-linear-gradient(top, #3C92AB, #1A758A);
	background-image: -ms-linear-gradient(top, #3C92AB, #1A758A);
	background-image: -o-linear-gradient(top, #3C92AB, #1A758A);
	background-image: linear-gradient(top, #3C92AB, #1A758A);
	box-shadow: 0 8px 6px -6px #aaa;*/
	color: white;
	font-size: 18px !important;
}

.gradient-btns:hover{
	/*background-image: -webkit-linear-gradient(top, #1A758A, #3C92AB);
	background-image: -moz-linear-gradient(top, #1A758A, #3C92AB);
	background-image: -ms-linear-gradient(top, #1A758A, #3C92AB);
	background-image: -o-linear-gradient(top, #1A758A, #3C92AB);
	background-image: linear-gradient(top, #1A758A, #3C92AB);*/
}

.arrows{
	font-size: 22px !important;
	font-weight: bold !important;
}

label{
	color: #000 !important;
}

.underline{
	text-decoration: underline;
}

.margin-left-10{
	margin-left: 10px !important;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}

.padding-top-4{
	padding-top: 4px !important;
}

.margin-bottom-0{
	margin-bottom: 0px !important;
}

.margin-left-0{
	margin-left: 0 !important;
}

.margin-right-0{
	margin-right: 0 !important;
}

.padding-left-50{
	padding-left: 50px;
}

.padding-right-70{
	padding-right: 70px;
}

.margin-top-negative-15{
	margin-top: -15px !important;
}

.field-lb{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	/* font-size: 18px;
	color: #000 !important;	 */
}

.heading{
	background-color: #d9edf7;
	border:1px solid #bce8f1;
	color: #31708f;
	padding: 7px;
	margin-top: 0 !important;
}

.heading-2{
	font-size: 18px;
}

.table-full{
	width: 100%;
}

.font-bold{
    font-weight: bold;
    font-size: 16px;
}

table input{
	width: 100%;
}

.add-new-btn{
	padding: 7px;
}

.add-new-btn span{
	position: relative;
	top: 2px;
}

.vertical-items li{
	float: none !important;
}