
body{
	font-size: 14px;	
 	background-color: #fff; 	
 	font-family: 'News Cycle', arial; 	
 	background: #eee;
 	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}

#dialogGoalRatingList .goal-progress-rating li{
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-container{
	border-radius: 5px;
	position: relative;	 	
  	/* max-width: 62rem; */
  	max-width:85%;
  	margin: 50px auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
}

.main-page-goal{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	
  	margin-bottom: 20px;
  	overflow-y: none;			
	border-radius:2px;
}

.main-page-footer{	
	border-radius: 5px;
	position: relative;	 	
  	max-width: 62rem;
  	margin: 0 auto;  	  
  	overflow-y: none;			
	border-radius:2px;
}

.page-container #page1,
.page-container #page2{
	/* padding: 10px;
	padding-top: 20px; */	
}

.heading h2{
	padding-left: 5px;
	padding-top: 10px;
}

.action-plans li{
	margin-right: 14px !important;
}

.action-plans li:last-child{
	margin-right: 0px !important;
}

.scales li{
	margin-right: 30px !important;
	position: relative;
}

.scales li span{
	position: relative;
	top: 0px;
	left: 8px;
}

.navigation-buttons{
	margin-right: 10px;
}

.arrows{
	font-size: 22px !important;
	font-weight: bold !important;
}

label{
	color: #000 !important;
}

.padding-top-4{
	padding-top: 4px !important;
}

.margin-left-10{
	margin-left: 10px !important;
}

.padding-left-50{
	padding-left: 50px;
}

.padding-right-70{
	padding-right: 70px;
}

.action-plan-dd{
	width: 100%;
	max-width: 290px;
}

.achieve-label{	
	position: relative;	
	top: 5px;
}

.record-results-label{
	position: relative;	
	top: 42px;
}

.side-nav{
	padding-top: 0 !important;
	/*background-color: #d9edf7;*/
	/* border: 1px solid #31708f; */
	padding-bottom: 0;
	border-radius: 10px 0 0 10px;
	border-right: none;
	box-shadow: rgba(0,0,0,0.34902) 0px 1px 10px;
}

.side-nav > li {
	list-style-type: none;	
	transition:all 0.2s linear;	
	list-style-type: none;
	margin: 0;
	padding: 14px;
	transition: all 0.2s linear;	
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	color: #666;
	font-weight: bold;
	padding-left: 8px;
}
/*

.side-nav li:first-child{
	border-radius: 10px 0 0;
	border-top: none;
}

.side-nav li:last-child{
	border-radius: 0 0 0 10px;
	border-bottom: none;
}


.side-nav li span.list-image{
	margin-right: 8px;
}

.list-image img{
	width: 32px;
	height: 32px;
}

.side-nav li:hover {
	background-color: #4BB7F5;
	cursor: pointer;
	color: #fff !important;
	text-shadow: 0px 2px 2px #000;
}

.side-nav li:hover a,
.side-nav li:hover a:hover {
	cursor: pointer;
	color: #fff !important;
	text-shadow: 0px 2px 2px #000;
}
*/

.content-manager{				
	min-height:600px;	
	max-height:600px;
	overflow-x:hidden;
	overflow-y:auto;
	box-shadow: rgba(0,0,0,0.34902) 0px 3px 10px;
	/* padding: 10px; */
}

.content-manager label{
	cursor: pointer;
}

.selected-category-text{	
/* 	border-bottom: 1px solid #eee; */
	text-transform: uppercase;
	display: none;
	margin: 0;	
	padding: 10px;		
/* 	background-color: #f9f9f9;	 */
	color: #666;
	font-weight: bold;		
	text-shadow: 0px 2px 2px #ccc;
}

.category-selected,
.activeSelected{
	background-color: #0069BA;
	text-shadow: 0px 2px 2px #000;
}

.category-selected span,
.activeSelected span{
	color: #fff;
}

.empty-item{
	font-weight: normal;
	text-transform: initial;
}

.border-left-grey{
	border-left: 1px solid #eee;
}

.inner-content{
	margin: 50px auto;
	max-width: 92%;
}

.margin-top-50{
	margin-top: 50px;
}

#assessmentModel{
	bottom: auto !important;
	overflow: inherit !important;
	overflow-y: inherit !important;  		
}
 	
#assessmentModel .actions > .button {
	margin-left: 0 !important;
}

#assessmentModel .close {		
	font-size: 3.15em;
	top: -0.9em;
	right: -1.1em;
}

.font-size-25{
	font-size: 25px;
}

.border-bt-heading{
	/* border-bottom: 2px solid #28a4c9;
	margin-bottom: 10px; */
	padding: 10px;
}

.border-bt-heading>*{
	margin-bottom: 0 !important;
}
.table-padding{
	padding: 10px;
}

.delete-goal{
	display:block;
	top:0;
	left:0;		
	padding: 0;
	margin: 0;
	position: initial;
	width:auto;
	box-shadow:none;
}

.times-per-li{
	padding-top: 37px;
}

.times-per-label{
	padding-top: 32px !important;
	position: relative;
	left:-10px;	
}

.margin-top-18{
	margin-top: 0;
}

.goal-summary-container .label-bold{
	font-weight: normal;
}

.goal-create-container .label-align-right,
.goal-create-container .label-align-left{
	text-align: inherit;
}

.li-how-often{
	position: relative;
	top: -8px;
}

.scale-readonly{
	opacity:0.6
}

.scale-text{
	position: absolute;
	top:-38px;
	font-size: 13px;
}

.habit-content{
	display: none;
}

.top-17{
	top:18px;
}

.margin-top-15{
	margin-top: 13px;
}

.padding-left-10{
	padding-left: 10px !important;
}

.padding-right-10{
	padding-right: 10px !important;
}

.goal-habits-switch li{
	padding: 0 ;
}

.goal-other-input{
	position: relative;
	top: 30px;	
}

.goal-dropdown-align{
	position: relative;
	top: 30px;
}

.li-when{
	position: relative;
	left: 169px;		
}

.achieved-label{
	position: absolute;
	bottom: 0;
	right: 8px;
}

.ui-timepicker-wrapper{
	width:8.5em;
}

.habit-time-picker{
	height: 49px !important;
}

.heading-align{
	position: relative;
	top:4px;
}

.dd-container,
.dd-select{
	width: 100% !important;
	background: #fafafa !important;
}

.dd-options{
	width: 100% !important;
}

.cat-dd{
	padding-left:60px;
}

.padding-top-10{
	padding-top: 10px !important;
}
.cat-dd-img{
	position: absolute;
	top: 34px;
	height: 41px;
	left: 22px;
}

.white-bordered-btn{
    background-color: #fff;
    background: #fff;
    border: 1px solid #339999;
    text-transform: uppercase;
    color: #339999;
    transition: all 0.2s linear;
    font-weight: bold !important;
}

.white-bordered-btn:hover{
    background-color: #339999;
    color: #fff;
}

.skip-btn-div{
    position: absolute;
    right: 12px;
    top: 13px;
}

/* small screen */
@media all and (max-width: 505px) {
	
	body{
		background: none;
		background-image: none;
	}
	
	#header, #footer{
		display: none;
	}
	
	#myPatientBreadCrumbLink,
	#goalsBreadCrumbLink:before{
		display: none;
	}
	
	.inner-content{
		margin-top: 0;
	}
	
	#goalListingBreadcrumb{
		display: none;
	}
	
	.margin-top-18{
		margin-top: 18px;
	}
	
	/*.side-nav,
	.side-nav li:last-child,
	.side-nav li:first-child{
		border-radius:0;
	}
	*/
	.goal-summary-container{
		position: relative;
		top:-30px;
	}
	.goal-summary-container .label-bold{
		font-weight: bold;
	}
	
	.goal-summary-container label{
		font-size: 16px;
	}
	
	.goal-summary-container .page-section-header{
		font-size:20px;
		font-variant: small-caps;
		margin-bottom:0;		
		font-size: 19px;
		padding-left: 5px;						
		color: #8AB329 !important;
	}
	
	.goal-summary-container .page-section-right-content .page-section-row:hover {
	    background-color: #fff;
	}
	
	.goal-summary-container .page-section-first{
		border-top:none;
	}
	
	.goal-create-container .label-align-left{
		text-align: left;
	}
	
	.goal-create-container .label-align-right{
		text-align: right;
	}
	
	.ui-slider-label{
		font-size:18px;
	}
	
	.goal-create-container .row-padding-lr-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.action-plan-dd{
		max-width: 100%;
	}
	
	.action-plans li{
		padding-bottom: 0 !important;
	}	
	
	.times-per-label{
		padding-top: 0 !important;
		left:0;
	}
	
	.padding-left-8{
		padding-left: 8px !important;
	}
	/*
	.side-nav li{
		border-color: #8AB329;
		background-color: #E6F2CA;
	}
	
	.category-selected, .activeSelected{
		background-color: #8AB329 !important;
	}
	
	.side-nav li:hover {
		background-color: #CCFFCC;		
	}
	
	.side-nav li:hover a,
	.side-nav li:hover a:hover {
		cursor: pointer;
		color: #000 !important;		
	}*/
	
	.item-grid li{
		border-bottom-color:#8AB329; 
	}
	
	.item-grid li:hover{
		background-color: #fff;
	}
	
	.show-on-touch-block{
		display: block;
		font-weight: bold;
		color: #000;
	}
	
	.show-on-touch{
		display: inline;
		font-weight: bold;
		color: #000;
	}
	
	.hide-on-touch{
		display: none !important;
	}
	
	.br-widget{
		display:inline-flex;
	}
	
	.button-black,
	.button-black:hover{
		background-color: #2C2C2C !important;	
		border-color: #2C2C2C !important;	
		-webkit-tap-highlight-color: #8AB329;
	}
	
	.button-green,
	.button-green:hover{
		background-color: #B4DF4E !important;	
		border-color: #B4DF4E !important;	
		-webkit-tap-highlight-color: #B4DF4E;
		color: #444 !important;
		font-weight: bold;
	}
	
	.breadcrumb-top{		
		background: -webkit-linear-gradient(to right, #ffffff 0%, #B4DF4E 50%, #ffffff 100%);
		background: -moz-linear-gradient(to right, #ffffff 0%, #B4DF4E 50%, #ffffff 100%);
		background: -ms-linear-gradient(to right, #ffffff 0%, #B4DF4E 50%, #ffffff 100%);
		background: -o-linear-gradient(to right, #ffffff 0%, #B4DF4E 50%, #ffffff 100%);
		background: linear-gradient(to right, #ffffff 0%, #B4DF4E 50%, #ffffff 100%);		
	}
	
	.rating-c .br-widget a.br-active, .rating-c .br-widget a.br-selected {
		background-color: #8AB329;
	}
	
	.goal-listview{
		min-height: inherit;
		max-height: none;
		overflow: hidden; 
	}
	
	.border-bt-heading{
		/* border-bottom-color: #8AB329; */
	}
	
	.scales li{
		margin-right: 13px !important;
	}
	
	.scales li span{
		left:-2px !important;
	}
	
	.goal-staus-dialog-rating li span{
		left:11px !important;
	}
	
	.li-how-often{
		top: 0;
	}
	
	.page-container{
		max-width: 100%;
		margin-top: 0px;
	}
	
	.top-15{
		top:41px;
	}
			
	.create-scales{
		margin-top: 20px;
	}
	
	.scale-text{	
		top:-27px;		
	}
	
	.breadcrumb-top ul{
		z-index: 999;
	}
	.breadcrumb-top ul a{
		font-size: 16px;
	}
	
	.margin-top-15{
		margin-top: 51px;
	}
	
	.goal-habits-switch{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.goal-other-input{		
		top: 15px;
	}
	
	.goal-dropdown-align{
		top: 6px;
	}
	
	.li-when{
		position: inherit;
		left: 0;		
	}
	
	.confirm-dialog{
		min-height: 200px;
		width: 100%;
	}
	
	.heading-align{
		position: relative;
		top:10px;
	}	
}

/* medium screen */
/* @media all and (min-width: 505px) and (max-width: 1220px) {
	
	
} */