.goal-progress-rating {
    position: relative;
    opacity: 0.8;
    cursor: default;
}

.goal-progress-rating > *,
.goal-progress-rating img,
.goal-progress-rating label {
    cursor: default;
}

.coach-rating {
    position: relative;
    opacity: 1.0 !important;
}

.goal-progress-rating img {
    width: 50px;
}

.coach-rating img {
    width: 66px;
}

.goal-progress-rating-dialog {
    opacity: 1.0;
    position: relative;
}

.goal-progress-rating-dialog img {
    width: 34px;
}

.goal-progress-rating-dialog img {
}

.goal-progress-rating-dialog label.not-at-all,
.goal-progress-rating-dialog label.reaching-all {
    position: absolute;
    bottom: -7px;
}

.goal-progress-rating-dialog li {
    position: relative;
}

.goal-progress-rating-dialog label.not-at-all {
    /* left:1px; */
}

.goal-progress-rating-dialog label.reaching-all {
    /* left:-3px; */
}

.goal-progress-rating-dialog span {
    left: 10px;
    position: relative;
}

.goal-progress-rating span,
.coach-rating span {
    left: 6px;
    position: relative;
    cursor: default;
}

.goal-progress-rating label.not-at-all,
.goal-progress-rating label.reaching-all,
.coach-rating label.not-at-all,
.coach-rating label.reaching-all {
    position: absolute;
    top: 55px;
    font-size: 12px;
}

.goal-progress-rating label.not-at-all,
.coach-rating label.not-at-all {
    left: 3px;
}

.goal-progress-rating label.reaching-all,
.coach-rating label.reaching-all {
    right: 2px;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.grey {
    text-transform: uppercase;
    color: #989898 !important;
}

.black {
    text-transform: none;
    color: #000 !important;
}

ul.disabled {
    opacity: 0.6;
}

ul.disabled > *,
ul.disabled img,
ul.disabled label,
ul.disabled span {
    cursor: default;
}

.dataTables_processing {
    top: 10px !important;
    color: crimson !important;
    font-weight: bold !important;
    font-size: 15px !important;
    border: none !important;
}

.white-bg {
    background-color: #fff !important;
}

.single-assess {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.small-pair p {
    font-size: 14px;
}

.small-pair .black {
    padding-bottom: 2px !important;
    margin-bottom: 2px !important;
}

.alert-message-abs {
    position: absolute;
    width: 50%;
    z-index: 9;
    margin: 0 auto;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.alert-message-abs-dialog {
    position: absolute;
    width: 75%;
    z-index: 1;
    margin: 0 auto;
    left: 50%;
    margin-left: -40%;
    top: -8px;
}

.show-previous {
    background-color: #eee;
    text-align: center;
}

.show-previous a {
    text-transform: uppercase;
    font-size: 16px;
    color: #444;
}

.show-previous:hover {
    background-color: #ddd;
}

.coach-assessment-heading{
    padding-top: 19px;
    padding-left: 10px;
}