body{
	font-size: 14px;	
 	background-color: #eee; 	
 	font-family: 'News Cycle', arial; 	
 	background:#eee; 	
}


.listing{
	margin: 5px;
}

.listing > li{
	background-color: #fff;
	border: 1px solid #ccc;	
	font-size: 14px;
	width: 100%;
	padding:0;
	border-bottom-width: 2px;
	position: relative;
	margin-bottom: 1px;
}

.listing > li > div.row-full{
	padding-top: 7px;
}

.heading-align{
	position: relative;
	top:22px;
}

.status-btn-container{
	text-align: right;
	margin-top: 20px;
}

.load-more{
	display: block !important;
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
	color: #339999 !important;	
	padding: 10px !important;
}

.load-more a{
	color: #339999;
	font-size: 15px;
	font-weight: bold;
}

.load-more a:hover{
	color: #000;
}

.padding-right-9{
	padding-right: 9px !important;
}

.margin-bottom-5{
	margin-bottom: 5px !important;
}

.visible-hidden{
	visibility: hidden;
}

.inline-list>li{
	position: relative;
}

.rating-label{	
	font-size: 12px;
	top:-20px;
	position: absolute;
}

.ratings-container{
	padding-top: 15px;
}

.scales li{
	margin-right: inherit !important;
}

.scale-text{
	top:-40px;
}

.not-at-all{
	top:-29px;
}

.reaching-all{
	top:-42px;
}

.dialog-back-btn{
	position: absolute;
	bottom: -63px;
	left: 2px;
}

.add-goal-btn{
	background: none !important;
	color: #339999;
	font-weight: bold !important;
	padding: 0;
	margin-bottom: 0 !important;
	font-size: 15px;
	position: relative;
	top: 8px;
	text-transform: uppercase;
	white-space: nowrap;
}

.alert-message-abs{
	position: absolute;
	width: 50%;
	z-index: 9;
	margin: 0 auto;
	left: 50%;
	margin-left: -25%;
	top:10px;
}

.alert-message-abs-dialog{
	position: absolute;
	width: 75%;
	z-index: 1;
	margin: 0 auto;
	left: 50%;
	margin-left: -40%;
	top:-8px;
}


/* new UI styles */

.goals-item{
 	text-transform: uppercase;	 	
 	position: relative; 	 	
}

.goals-item .goal-details{
	padding:10px 60px 10px 50px;	
}

.goals-item .category-outer{
	position: absolute;
	height: 100%;	
	width: 33px;
}
.margin-top-5{
	margin-top: 5px !important;
}

.goals-item .category-name{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	padding: 5px;
	color: #fff;
	text-align: center;
	left: -83px;
	width: 197px;
	top: 47%;
}

.goals-item .goal-name{
	text-transform: none;
	font-weight: bold;	
	font-size: 17px;
}

.goals-item .action-plan{
	text-transform: none;
	font-size: 15px;
}

.goals-item .grey-black-pair{
	text-transform: none;
}

.goals-item .grey-black-pair .grey{
	text-transform: uppercase;
	font-size: 12px;
	color: #989898;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	font-weight: bold;
}

.grey-forced{
	color: #989898 !important;	
}

.goals-item .grey-black-pair .black{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	text-transform: none;
	color: #000 !important;
}

.reminders{
	margin-top: 10px;
	position: relative;
}

.reminders .reminder-status{
	position: absolute;
	top: 14px;
	left: 123px;
	font-size: 12px;	
	color: #989898 !important;
}

.add-goal-form .reminder-status{
	top: 70px;
}

.add-goal-form .button-group{
	margin-bottom: 20px;
}

.sticky-btns-two > li{
	width: 50%;
	margin:0 !important;
    float: left;
}

.sticky-btns-three > li{
	width: 33.33%;
	margin:0 !important;
    float: left;
}

.reminders .button-group{
	
}

.goals-item .nav-btns{
	position: absolute;
	height: 100%;
	border-left: 1px solid #ccc;
	width: 50px;
	right: 0;
	top: 0;
	-webkit-tap-highlight-color: #8AB329;
}

.goals-item .nav-btns .progress-btn{
	display: inline-block;
	height: 50%;
	border-bottom: 1px solid #ccc;
	width: 100%;
	text-align: center;
	padding-top: 100%;
}

.goals-item .nav-btns .delete-btn{
	display: inline-block;
	height: 50%;
	width: 100%;
	text-align: center;
	padding-top: 100%;
}

.reminder-status-habit{
	left: 124px !important;
}

.habits-nav-btns{
	padding-top: 50% !important;
}

.celebrate-label{
	white-space: nowrap;
	position: relative;
	right: 0;
}

.stress-sleep{
	background-color: #339999; /* Teal */
}

.stress-sleep-text{
	color: #339999 !important; /* Teal */
}

.healthy-eating{
	background-color:#799c25; /* Green */
}

.healthy-eating-text{
	color:#799c25 !important; /* Green */
}

.medication-monitoring{
	background-color: #ff6666; /* Red */
}

.medication-monitoring-text{
	color: #ff6666 !important; /* Red */
}

.work-money{
	background-color: #ab61af; /* Purple */
}

.work-money-text{
	color: #ab61af !important; /* Purple */
}

.family-relationship{
	background-color: #438fd2; /* Blue */
}

.family-relationship-text{
	color: #438fd2 !important; /* Blue */
}

.physical-activity{
	background-color: #f5c430; /* Yellow */
}

.physical-activity-text{
	color: #f5c430 !important; /* Yellow */
}

.general{
	background-color: #999999; /* Gray */
}

.general-text{
	color: #999999 !important; /* Gray */
}

.medication-monitoring .category-name{
	width: 230px !important;
	left: -98px !important;
}

.work-money .category-name{
	width: 209px !important;
	left: -89px !important;
}

.white-bg{
	background-color: #fff !important;
}

/* Goal Progress Page styles*/
.rating-goal-progress{
	padding: 10px;
	background-color: #FAFAFA;
	border-bottom: 1px dashed #ccc;
}

.border-bottom-none{
	border-bottom: none;
}

.reminder-progress{
	margin-top: 28px;
}

.rating-goal-progress .not-at-all{
	top:48px !important;
    left:1px !important;
}

.rating-goal-progress .reaching-all{
	top:48px !important;
	left:-5px !important;
}

.goal-progress-rating{
	position: relative;
	left: 7%;
	top: 0;
}

.goal-progress .category-name{
	top:34% !important;
}

.goal-progress .goal-name{
	padding-bottom: 0 !important;
}

.goal-progress .created-date{
	padding-top: 0 !important;
}

.goal-progress .category-image{
	max-width: 50px;
	position: relative;
	left: 10px;
}

.goal-progress-container .goals-item{
	border-bottom: 1px dashed #ccc;
}

.goal-status-dialog-rating{
	position: relative;
	left: 14px;
}

.goal-progress-controls label{
	color: #989898 !important;
	font-size: 13px;
	font-weight: bold;
}
.goal-progress-container .goals-item .goal-details{
	padding: 10px 10px 10px 20px
}

.overlow-remove{
	overflow-x: hidden;
}

.overlow-horizontal-remove{
	overflow-x: hidden;
	position: relative;	
}

.goal-progress-container .goals-item .grey-black-pair{
	padding-left: 21px;
}

.dotted-line{
	margin-top: 18px;
	border-bottom:1px dashed #ccc;
}

.sticky-nav-buttons{	
	padding:0;
	left: 2;	
	position: fixed;
	bottom:-22px;
	width:100%;
}

.padding-bottom-60{
	padding-bottom: 70px;
}

.full-width-message{	
	width:100% !important;
	left: 0 !important;
	margin-left: 0 !important;
	top: 0 !important;
}

.habit-create-label{
	padding-bottom: 0 !important;
	padding-top: 23px !important;
}

.reminders img{
	width:20px;
}

a img,
.scales img{
	width:32px;
}

.button-teal,
.button-teal:hover{
	background-color: #339999 !important;	
	border-color: #339999 !important;	
	-webkit-tap-highlight-color: #B4DF4E;
	color: #fff !important;
	font-weight: bold;
}

/* small screen */
@media all and (max-width: 505px) {
	
	.scales li{
		margin-right: inherit !important;
	}
	
	.scales li span{
		left:13px;
	}
	
	.scale-text{
		top:-61px;
	}
	
	.not-at-all{
		top:-29px;
		left:-1px;
	}
	
	.reaching-all{
		top: -42px;
		left: 0px;
	}

	.reminder-status-habit{
		position: relative !important;
		top: 5px !important;
		left: 0 !important;
	}

    .habit-details{
        padding-left: 0 !important;
        padding-right: 30px !important;
    }
}

@media only screen and (min-device-width : 320px){
    .add-goal-btn{
        right: 20px;
    }

    .habit-details{
        padding-left: 0 !important;
        padding-right: 30px !important;
    }
}